@model ConfirmAddRemoveReviewBodyUserModel
@{
    ViewBag.Active = "reviewBodies";
    var addedUserTitle = "User added- Manage review bodies - System Administration";
    var removedUserTitle = "User removed- Manage review bodies - System Administration";
    ViewBag.Title = !Model.IsRemove ? addedUserTitle : removedUserTitle;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                User has been @(!Model.IsRemove ? "added" : "removed")
            </h1>
        </div>

        <p class="govuk-body">
            @Model.User.GivenName @Model.User.FamilyName has been sent an email confirming that they have been @(!Model.IsRemove ? "added to" : "removed from") @Model.ReviewBody.RegulatoryBodyName.
        </p>

        <p class="govuk-body">
            @if (!Model.IsRemove)
            {
                <a 
                    class="govuk-link" 
                    asp-route="rbc:viewadduser" 
                    asp-all-route-data="@(new Dictionary<string, string> { { "reviewBodyId", Model.ReviewBody.Id.ToString() } })">
                    Add another user to review body
                </a>
            } else
            {
                <a class="govuk-link"
                   asp-route="rbc:viewreviewbodyusers"
                   asp-all-route-data="@(new Dictionary<string, string> { { "reviewBodyId", Model.ReviewBody.Id.ToString() } })">
                    Remove another user from the review body
                </a>
            }
		</p>

		<p class="govuk-body">
			<a class="govuk-link" asp-route="rbc:viewreviewbodies">Back to Manage review bodies</a>
		</p>
	</div>
</div>