@using Rsp.Portal.Application.Constants
@model SearchOrganisationViewModel

@functions {

    // private bool CanOpenPanelForField(string fieldName) =>
    //     ViewData.ModelState.TryGetValue(fieldName, out var state) && state.Errors.Any();

    // private bool HasFilterErrors() =>
    //     //ViewData.ModelState.Values.Any(v => v.Errors.Count > 0);
    //     ViewData.ModelState.Where(kvp => kvp.Key is not "SearchNameTerm").SelectMany(kvp => kvp.Value!.Errors).Any();

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form asp-action="SearchOrganisation" method="post" novalidate>

            <div class="govuk-form-group govuk-!-margin-bottom-0" error-class-for="Search.SearchNameTerm">

                @Html.ValidationMessageFor(m => m.Search.SearchNameTerm, "", new { @class = "govuk-error-message" })

                <div class="govuk-input__wrapper">
                    <span id="find-organisation-label" class="govuk-visually-hidden">Search by name and address and use the advanced filter to narrow it down.</span>
                    <input asp-for="Search.SearchNameTerm" class="govuk-input" type="text" id="Search.SearchNameTerm" aria-labelledby="find-organisation-label" value="@(Model.Search?.SearchNameTerm ?? string.Empty)" />
                    <button class="govuk-button mb-0 govuk-button--secondary" style="margin-left:10px" type="submit" name="action" value="search">
                        Search
                    </button>
                </div>
            </div>

            <input hidden readonly name="PageSize" value="@(Model.Pagination?.PageSize ?? 10)" />
            <input hidden readonly name="PageNumber" value="@(Model.Pagination?.PageNumber ?? 1)" />

            <!-- Filter Panel -->
            <div class="search-filter-panel">
                <details class="search-filter-toggle">
                    <summary class="search-filter-panel__header"
                             tabindex="-1"
                             role="button"
                             aria-controls="filter-panel"
                             aria-expanded="false">
                        <span class="search-filter-panel__button-inner govuk-link"
                              tabindex="0">
                            Advanced filters
                        </span>

                        <span class="search-filter-panel__count" aria-hidden="true" tabindex="-1">
                            @(Model.Pagination?.TotalCount ?? 0) results
                        </span>
                    </summary>

                    <div class="search-filter-panel__content" id="filter-panel" role="region" aria-labelledby="toggle-filter">

                        <!-- Organisation type -->
                        <details class="search-filter-section">
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Organisation type</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-checkbox-group asp-for="Search.OrganisationTypes"
                                                                label-text="Select all that apply"
                                                                options="OrganisationTypes.Types"
                                                                conditional-field="false"
                                                                legend-class="govuk-label govuk-label--s font-weight-none"
                                                                hint-id="organisation-types-hint"
                                                                hint-html="@($"{Model.Search.OrganisationTypes?.Count ?? 0} selected")" />
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <!-- Country -->
                        <details class="search-filter-section">
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Country</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-checkbox-group asp-for="Search.Countries"
                                                                label-text="Select all that apply"
                                                                options="UkCountryNames.Countries"
                                                                conditional-field="false"
                                                                legend-class="govuk-label govuk-label--s font-weight-none"
                                                                hint-id="country-hint"
                                                                hint-html="@($"{Model.Search.Countries?.Count ?? 0} selected")" />
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <!-- Organisation status within RTS -->
                        <details class="search-filter-section">
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Organisation status within RTS</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-checkbox-group asp-for="Search.OrganisationStatuses"
                                                                label-text="Select all that apply"
                                                                options="OrganisationStatuses.Statuses"
                                                                conditional-field="false"
                                                                legend-class="govuk-label govuk-label--s font-weight-none"
                                                                hint-id="organisation-status-hint"
                                                                hint-html="@($"{Model.Search.OrganisationStatuses?.Count ?? 0} selected")" />
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <div class="search-filter-panel__actions">
                            <button type="submit" class="govuk-button search-filter-panel__action search-filter-panel__action--submit">Apply filters</button>
                        </div>
                    </div>
                </details>
            </div>
        </form>

        <!-- Active Filters Panel -->
        @if (Model.Search.Filters.Any())
        {
            <div class="search-filter-summary">
                <h3 class="search-filter-summary__heading">Active filters</h3>
                <ul class="search-filter-summary__remove-filters">
                    @foreach (var filter in Model.Search.Filters)
                    {
                        var filterKey = filter.Key;
                        var filterValues = filter.Value;

                        foreach (var val in filterValues)
                        {
                            <li>
                                <a asp-route="porgs:removefilter"
                                   asp-route-key="@filterKey"
                                   asp-route-value="@val.Trim()"
                                   class="search-filter-summary__remove-filter">
                                    <span class="search-filter-summary__remove-filter-text">
                                        <span class="govuk-visually-hidden">Remove filter</span>
                                        @($"{filterKey} - {val}")
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div>
                    <a asp-route="porgs:clearfilters" class="search-filter-summary__clear-filters govuk-link govuk-link--no-visited-state">
                        Clear all filters
                    </a>
                </div>
            </div>
        }
    </div>
</div>