﻿@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@using Rsp.IrasPortal.Web.Extensions
@model Rsp.IrasPortal.Web.Models.SearchOrganisationViewModel

@{
	ViewData["Title"] = "Search participating organisation";
	var errorSummaryTitle = "There is a problem";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var cantFindYourOrganisationBodyText = pageContent.GetValueOrDefault("Modifications.ParticipatingOrganisations.CantFindYourOrganisationBodyText", null);

	var modification = TempData.PopulateBaseProjectModificationProperties(new BaseProjectModificationViewModel());

	var specificArea = modification.SpecificAreaOfChange;
	(string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
	navModel = ("pmc:areaofchange", "Back", new());
}

@functions {

	private bool CanOpenPanelForField(string fieldName) =>
		ViewData.ModelState.TryGetValue(fieldName, out var state) && state.Errors.Any();

	private bool HasFilterErrors() =>
		ViewData.ModelState.Values.Any(v => v.Errors.Count > 0);

}

<govuk-header />

<div class="govuk-width-container">

	@section BackNavigation {
		<partial name="_BackNavigation" model="navModel.Value" />
	}

	<main class="govuk-main-wrapper pt-0">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-l">@specificArea</h1>

				<partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
				<partial name="_ProjectModificationSummary" model="Model" />
			</div>
		</div>

		<div class="govuk-tabs" data-module="govuk-tabs">
			<h2 class="govuk-tabs__title">
				Contents
			</h2>
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#all-organisations">
						All organisations
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#selected-organisations">
						Selected organisations (0)
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="all-organisations">
				<h2 class="govuk-heading-m">All organisations</h2>
				<p class="govuk-body">
					This list displays all available UK organisations. Search by name and address and use the advanced filter to narrow it down.
				</p>
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-two-thirds">

                        <form asp-action="SearchOrganisation" method="post" novalidate>

                            <div class="govuk-form-group govuk-!-margin-bottom-0 @(ViewData.ModelState.ContainsKey(nameof(Model.Search.SearchNameTerm)) && ViewData.ModelState[nameof(Model.Search.SearchNameTerm)]?.Errors?.Any() == true ? "govuk-form-group--error" : "")">

                                @if (ViewData.ModelState.TryGetValue(nameof(Model.Search.SearchNameTerm), out var searchError) && searchError.Errors.Any())
                                {
                                    <p class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span> @searchError.Errors.First().ErrorMessage
                                    </p>
                                }

                                <div class="govuk-input__wrapper">
                                    <span id="find-organisation-label" class="govuk-visually-hidden">Find an organisation</span>
                                    <input asp-for="Search.SearchNameTerm" class="govuk-input" type="text" id="Search.SearchNameTerm" aria-labelledby="find-organisation-label" value="@(Model.Search?.SearchNameTerm ?? string.Empty)" />
                                    <button class="govuk-button mb-0 govuk-button--secondary" style="margin-left:10px" type="submit" name="action" value="search">
                                        Search
                                    </button>
                                </div>
                            </div>

                            <input hidden readonly name="PageSize" value="@Model.Pagination?.PageSize" />
                            <input hidden readonly name="PageNumber" value="@Model.Pagination?.PageNumber" />

				            <!-- Filter Panel -->
				            <div class="search-filter-panel">
					            <details class="search-filter-toggle" @(HasFilterErrors() ? "open" : null)>
						            <summary class="search-filter-panel__header"
								         tabindex="-1"
								         role="button"
								         aria-controls="filter-panel"
								         aria-expanded="@(HasFilterErrors().ToString().ToLower())">

							            <span class="search-filter-panel__button-inner govuk-link"
								              tabindex="0">
								            Advanced filters
							            </span>

							            <span class="search-filter-panel__count" aria-hidden="true" tabindex="-1">
								            @(Model.Pagination?.TotalCount ?? 0) results
							            </span>
						            </summary>

						            <div class="search-filter-panel__content" id="filter-panel" role="region" aria-labelledby="toggle-filter">

							            <!-- Organisation type -->
							            <details class="search-filter-section" @(CanOpenPanelForField("Search.OrganisationType") ? "open" : null)>
								            <summary class="search-filter-section__summary">
									            <h2 class="search-filter-section__summary-heading">Organisation type</h2>
								            </summary>
								            <div class="search-filter-section__content">
									            <div class="govuk-form-group govuk-!-margin-bottom-2">
										            <fieldset class="govuk-fieldset">
											            <rsp-gds-checkbox-group asp-for="Search.Country"
																	            label-text="Select all that apply"
																	            options="OrganisationTypes.Types"
																	            conditional-field="false"
																	            legend-class="govuk-label govuk-label--s font-weight-none"
																	            hint-id="country-hint"
																	            hint-html="@($"{Model.Search.Country?.Count ?? 0} selected")" />
										            </fieldset>
									            </div>
								            </div>
							            </details>

							            <!-- Country -->
							            <details class="search-filter-section" @(CanOpenPanelForField("Search.Country") ? "open" : null)>
								            <summary class="search-filter-section__summary">
									            <h2 class="search-filter-section__summary-heading">Country</h2>
								            </summary>
								            <div class="search-filter-section__content">
									            <div class="govuk-form-group govuk-!-margin-bottom-2">
										            <fieldset class="govuk-fieldset">
											            <rsp-gds-checkbox-group asp-for="Search.Country"
																	            label-text="Select all that apply"
																	            options="UkCountryNames.Countries"
																	            conditional-field="false"
																	            legend-class="govuk-label govuk-label--s font-weight-none"
																	            hint-id="country-hint"
																	            hint-html="@($"{Model.Search.Country?.Count ?? 0} selected")" />
										            </fieldset>
									            </div>
								            </div>
							            </details>

							            <div class="search-filter-panel__actions">
								            <button type="submit" class="govuk-button search-filter-panel__action search-filter-panel__action--submit">Apply filters</button>
							            </div>
						            </div>
					            </details>
				            </div>
				        </form>
			        </div>
		        </div>
		        <div class="govuk-grid-row">
			        <div class="govuk-grid-column-full">
				        @if (Model.Organisations != null && Model.Organisations.Any())
				        {
					        <div class="govuk-table-wrapper">
						        <table class="govuk-table modifications-tasklist-table" id="organisationsTasklistTable">
							        <thead class="govuk-table__head">
								        <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
									        <th scope="col" class="govuk-table__header govuk-!-text-align-right checkbox-cell">
										        <div class="govuk-checkboxes__item govuk-checkboxes--small">
													<input id="select-all-organisations" name="select-all-organisations" class="govuk-checkboxes__input select-all-modifications" type="checkbox">
											        <label for="select-all-organisations" class="govuk-label govuk-checkboxes__label"></label>
										        </div>
									        </th>
									        @{
										        var sortableHeaders = new[]
										        {
																        new { Field = nameof(OrganisationModel.Name), Label = "Name" },
																        new { Field = nameof(OrganisationModel.Address), Label = "Address" },
																        new { Field = nameof(OrganisationModel.Type), Label = "Organisation type" },
																        new { Field = nameof(OrganisationModel.CountryName), Label = "Country" }
																        };
										        var tableId = "organisationsTasklistTable";
									        }
									        @foreach (var header in sortableHeaders)
									        {
										        var sortableHeaderModel = new SortableHeaderModel
										        {
											        FieldName = header.Field,
											        DisplayText = header.Label,
											        CurrentSortField = Model.Pagination?.SortField,
											        CurrentSortDirection = Model.Pagination?.SortDirection,
											        TableId = tableId,
										        };

										        <th scope="col" class="govuk-table__header govuk-table__header-sortable">
											        <partial name="_SortableHeaderButton" model="@sortableHeaderModel" />
										        </th>
									        }
								        </tr>
							        </thead>
							        <form method="get" id="organisation-selection">
								        <input hidden="hidden" type="text" value="@Model.Pagination.SortField" name="sortField" />
								        <input hidden="hidden" type="text" value="@Model.Pagination.SortDirection" name="sortDirection" />

								        <!--Keep track of selected organisations that are not displayed on this page for continuity-->
								        @foreach (var selectedMod in Model.SelectedOrganisationIds.Except(Model.Organisations.Select(m => m.Organisation.Id)))
								        {
									        <input hidden="hidden" type="text" value="@selectedMod" name="selectedOrganisationIds" />
								        }
							        <tbody class="govuk-table__body govuk-body-s">
								        @{
									        foreach (var organisation in Model.Organisations)
									        {
										        <tr class="govuk-table__row">
											        <td class="govuk-table__cell checkbox-cell">
												        <div class="govuk-checkboxes__item govuk-checkboxes--small">
													        <input id="@organisation.Organisation.Id"
														           name="selectedOrganisationIds"
														           value="@organisation.Organisation.Id"
														           class="govuk-checkboxes__input child-checkbox"
														           type="checkbox"
														           @(organisation.IsSelected ? "checked" : "")>
													        <label for="@organisation.Organisation.Id" class="govuk-label govuk-checkboxes__label modification-checkbox-label"></label>
												        </div>
											        </td>
											        <td class="govuk-table__cell">@organisation.Organisation.Name</td>
											        <td class="govuk-table__cell">@organisation.Organisation.Address</td>
											        <td class="govuk-table__cell">@organisation.Organisation.Type</td>
											        <td class="govuk-table__cell">@organisation.Organisation.CountryName</td>
										        </tr>
									        }
								        }
							        </tbody>
							        </form>
						        </table>
					        </div>
					        <partial name="_PaginationForm" model="@Model.Pagination" />
				        }
				        else
				        {
					        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-grid-column-two-thirds">
					        <div class="govuk-grid-row">
						        <div class="govuk-grid-column-two-thirds search-filter-error-border">
							        <h2 class="govuk-heading-m">There are no matching results</h2>
							        <p class="govuk-body">Improve your search results by:</p>
							        <ul class="govuk-list govuk-list--bullet">
								        <li>removing filters</li>
								        <li>double-checking your spelling</li>
								        <li>using fewer keywords</li>
								        <li>searching for something less specific</li>
							        </ul>
						        </div>
					        </div>
				        }

				        <details class="govuk-details mb-0">
					        <summary class="govuk-details__summary">
						        <span class="govuk-details__summary-text">
							        Can't find your organisation?
						        </span>
					        </summary>
					        <div class="govuk-details__text">
                                @Html.Raw(cantFindYourOrganisationBodyText?.Value)
					        </div>
				        </details>
			        </div>
		        </div>
            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="selected-organisations">
	            <h2 class="govuk-heading-m">Selected organisations (0)</h2>
	            <p class="govuk-body">
		            This list shows all the organisations you have selected. Change your selections here or return to the All items tab.
	            </p>
            </div>
        </div>        

<div class="govuk-button-group govuk-!-margin-top-4">
    
    <div class="save-buttons">
        <form method="post">
            <partial name="_SubmitButton" model="@("pmc:saveselection", "Save and continue", new Dictionary<string, string>())" />
            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";
            }
            <partial name="_SubmitButton" model="@("pmc:saveselection", "Save for later", new Dictionary<string, string> { { "saveForLater", bool.TrueString } })" />
        </form>        
    </div>
</div>

<p class="govuk-!-margin-top-4">
	<a href="#" class="govuk-link">Remove this change</a>
</p>
</main>
</div>