﻿@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Web.Extensions
@model Rsp.Portal.Web.Models.SearchOrganisationViewModel

@{
    ViewData["Title"] = "Search participating organisation";
    var errorSummaryTitle = "There is a problem";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var cantFindYourOrganisationBodyText = pageContent.GetValueOrDefault("Modifications.ParticipatingOrganisations.CantFindYourOrganisationBodyText", null);

    var modification = TempData.PopulateBaseProjectModificationProperties(new BaseProjectModificationViewModel());

    var specificArea = modification.SpecificAreaOfChange;
    (string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
    navModel = ("pmc:areaofchange", "Back", new());
}

<govuk-header />

<div class="govuk-width-container">

    @section BackNavigation {
        <partial name="_BackNavigation" model="navModel.Value" />
    }

    <main class="govuk-main-wrapper pt-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@specificArea</h1>

                <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
                <partial name="_ProjectModificationSummary" model="Model" />
            </div>
        </div>

        <partial name="ParticipatingOrganisationsSearch" model="Model" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @if (Model.Organisations != null && Model.Organisations.Any())
                {
                    <div class="govuk-table-wrapper">

                        <form method="post" id="organisation-selection">
                            <input hidden="hidden" type="text" value="@Model.Pagination.SortField" name="sortField" />
                            <input hidden="hidden" type="text" value="@Model.Pagination.SortDirection" name="sortDirection" />
                            <table class="govuk-table modifications-tasklist-table" id="organisationsTasklistTable">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                                        <th scope="col" class="govuk-table__header govuk-!-text-align-right checkbox-cell">
                                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                <input id="select-all-organisations" name="select-all-organisations" class="govuk-checkboxes__input select-all-modifications" type="checkbox">
                                                <label for="select-all-organisations" class="govuk-label govuk-checkboxes__label"></label>
                                            </div>
                                        </th>
                                        @{
                                            var sortableHeaders = new[]
                                            {
                                                                        new { Field = nameof(OrganisationModel.Name), Label = "Name" },
                                                                        new { Field = nameof(OrganisationModel.Address), Label = "Address" },
                                                                        new { Field = nameof(OrganisationModel.Type), Label = "Organisation type" },
                                                                        new { Field = nameof(OrganisationModel.CountryName), Label = "Country" }
                                                                        };
                                            var tableId = "organisationsTasklistTable";
                                        }
                                        @foreach (var header in sortableHeaders)
                                        {
                                            var sortableHeaderModel = new SortableHeaderModel
                                            {
                                                FieldName = header.Field,
                                                DisplayText = header.Label,
                                                CurrentSortField = Model.Pagination?.SortField,
                                                CurrentSortDirection = Model.Pagination?.SortDirection,
                                                TableId = tableId,
                                            };

                                            <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                                <partial name="_SortableHeaderButton" model="@sortableHeaderModel" />
                                            </th>
                                        }
                                    </tr>
                                </thead>

                                @* <!--Keep track of selected organisations that are not displayed on this page for continuity-->
                                @foreach (var selectedMod in Model.SelectedOrganisationIds.Except(Model.Organisations.Select(m => m.Organisation.Id)))
                                {
                                    <input hidden="hidden" type="text" value="@selectedMod" name="selectedOrganisationIds" />
                                } *@
                                <tbody class="govuk-table__body govuk-body-s">
                                    @{
                                        foreach (var (organisation, index) in Model.Organisations.Select((o, index) => (o, index)))
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell checkbox-cell">
                                                    <div class="govuk-checkboxes__item govuk-checkboxes--small">

                                                        @*@if (!organisation.IsSelected)*@
                                                        @{
                                                            // <input id="@organisation.Organisation.Id"
                                                            //        name="selectedOrganisationIds"
                                                            //        value="@organisation.Organisation.Id"
                                                            //        class="govuk-checkboxes__input child-checkbox"
                                                            //        type="checkbox"
                                                            //        @(organisation.IsSelected ? "checked" : "")>

                                                            <input class="govuk-checkboxes__input"
                                                                   type="checkbox"
                                                                   asp-for="Organisations[index].IsSelected" />

                                                            <label for="Organisations[@index].IsSelected" class="govuk-label govuk-checkboxes__label modification-checkbox-label"></label>
                                                        }
                                                    </div>
                                                    <input type="hidden" asp-for="Organisations[index].Organisation.Id" />
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @organisation.Organisation.Name
                                                    <input type="hidden" asp-for="Organisations[index].Organisation.Name" />
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @organisation.Organisation.Address
                                                    <input type="hidden" asp-for="Organisations[index].Organisation.Address" />
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @organisation.Organisation.Type
                                                    <input type="hidden" asp-for="Organisations[index].Organisation.Type" />
                                                </td>
                                                <td class="govuk-table__cell">
                                                    @organisation.Organisation.CountryName
                                                    <input type="hidden" asp-for="Organisations[index].Organisation.CountryName" />
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <div class="save-buttons">
                                <partial name="_SubmitButton" model="@("porgs:confirmselection", "Confirm selection", new Dictionary<string, string>())" />
                                @{
                                    ViewBag.Style = "govuk-button govuk-button--secondary";
                                }
                                <partial name="_SubmitButton" model="@("porgs:saveforlater", "Save for later", new Dictionary<string, string>())" />
                            </div>
                        </form>
                    </div>
                    @* <partial name="_PaginationForm" model="@Model.Pagination" /> *@

                    // If there are more than 10 results, prompt the user to narrow their search
                    if (Model.Pagination?.TotalCount > 10)
                    {
                        <div class="govuk-inset-text">
                            @Model.Pagination?.TotalCount organisations match your search for '@Model.Search.SearchNameTerm'. Try narrowing down your search if the organisation you are looking for is not listed
                        </div>
                    }
                }
                else if (Model.Organisations != null)
                {
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-grid-column-two-thirds">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds search-filter-error-border">
                            <h2 class="govuk-heading-m">There are no matching results</h2>
                            <p class="govuk-body">Improve your search results by:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>removing filters</li>
                                <li>double-checking your spelling</li>
                                <li>using fewer keywords</li>
                                <li>searching for something less specific</li>
                            </ul>
                        </div>
                    </div>

                    <details class="govuk-details mb-0">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Can't find your organisation?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            @Html.Raw(cantFindYourOrganisationBodyText?.Value)
                        </div>
                    </details>

                    <div class="save-buttons">
                        @{
                            ViewBag.Style = "govuk-button govuk-button--secondary";
                        }
                        <partial name="_SubmitButton" model="@("porgs:saveforlater", "Save for later", new Dictionary<string, string>())" />
                    </div>
                }
                else
                {
                    <div class="govuk-button-group govuk-!-margin-top-4">

                        <div class="save-buttons">
                            <form method="post">
                                @{
                                    ViewBag.Style = "govuk-button govuk-button--secondary";
                                }
                                <partial name="_SubmitButton" model="@("porgs:saveforlater", "Save for later", new Dictionary<string, string>())" />
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
</div>