﻿@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Web.Extensions
@model Rsp.Portal.Web.Models.SearchOrganisationViewModel

@{
    ViewData["Title"] = "Search participating organisation";
    var errorSummaryTitle = "There is a problem";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var cantFindYourOrganisationBodyText = pageContent.GetValueOrDefault("Modifications.ParticipatingOrganisations.CantFindYourOrganisationBodyText", null);

    var modification = TempData.PopulateBaseProjectModificationProperties(new BaseProjectModificationViewModel());

    var specificArea = modification.SpecificAreaOfChange;
    (string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
    navModel = ("pmc:areaofchange", "Back", new());
}

<govuk-header />

<div class="govuk-width-container">

    @section BackNavigation {
        <partial name="_BackNavigation" model="navModel.Value" />
    }

    @if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
    {
        <partial name="_NotificationBanner"
                 model="@(new NotificationBannerModel
                         {
                             Title = "Success",
                             Heading = "Modification progress saved"
                         })" />

    }

    <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

    <main class="govuk-main-wrapper pt-0">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@specificArea</h1>

                <partial name="_ProjectModificationSummary" model="Model" />
            </div>
        </div>

        <partial name="ParticipatingOrganisationsSearch" model="Model" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @if (Model.Organisations != null && Model.Organisations.Any())
                {
                    @Html.ValidationMessage("participating-organisations", "", new { @class = "govuk-error-message" })

                    <div class="govuk-table-wrapper" error-class-property="participating-organisations">

                        <input hidden="hidden" type="text" value="@Model.Search.SearchNameTerm" name="Search.SearchNameTerm" form="organisation-selection" />
                        <input hidden="hidden" type="text" value="@Model.Pagination.SortField" name="sortField" form="organisation-selection" />
                        <input hidden="hidden" type="text" value="@Model.Pagination.SortDirection" name="sortDirection" form="organisation-selection" />

                        <table class="govuk-table govuk-" id="participating-organisations">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                                    <th scope="col" class="govuk-table__header govuk-!-text-align-right checkbox-cell" />
                                    @{
                                        var sortableHeaders = new[]
                                        {
                                                                new { Field = "name", Label = "Name" },
                                                                new { Field = "address", Label = "Address" },
                                                                new { Field = "type", Label = "Organisation type" },
                                                                new { Field = "country", Label = "Country" }
                                                                };
                                        var tableId = "participating-organisations";
                                    }

                                    @foreach (var header in sortableHeaders)
                                    {
                                        var sortableHeaderModel = new SortableHeaderModel
                                        {
                                            FieldName = header.Field,
                                            DisplayText = header.Label,
                                            CurrentSortField = Model.Pagination?.SortField,
                                            CurrentSortDirection = Model.Pagination?.SortDirection,
                                            FormAction = "SearchOrganisation",
                                            TableId = tableId,
                                        };

                                        <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                            <partial name="_SortableHeaderButton" model="@sortableHeaderModel" />
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <!--Keep track of selected organisations that were already selected-->
                            @* @foreach (var selectedOrg in Model.SelectedOrganisationsIds)
                            {
                                <input hidden="hidden" type="text" value="@selectedOrg" name="selectedOrganisationsIds" form="organisation-selection" />
                            } *@
                            <tbody class="govuk-table__body govuk-body-s">

                                @{
                                    foreach (var (organisation, index) in Model.Organisations.Select((o, index) => (o, index)))
                                    {
                                        <tr class="govuk-table__row">
                                            <td class="govuk-table__cell checkbox-cell">
                                                <div class="govuk-checkboxes__item govuk-checkboxes--small">

                                                    <input class="govuk-checkboxes__input"
                                                           type="checkbox"
                                                           id="Organisations_@(index)__IsSelected"
                                                           name="Organisations[@index].IsSelected"
                                                           value="true"
                                                    @(Model.Organisations[index].IsSelected ? "checked" : "")
                                                           form="organisation-selection" />

                                                    @*<input type="hidden"
                                                           name="Organisations[@index].IsSelected"
                                                           value="false"
                                                           form="organisation-selection" />*@

                                                    <label for="Organisations_@(index)__IsSelected" class="govuk-label govuk-checkboxes__label modification-checkbox-label"></label>
                                                </div>
                                                <input type="hidden" asp-for="Organisations[index].Organisation.Id" form="organisation-selection" />
                                            </td>
                                            <td class="govuk-table__cell">
                                                @organisation.Organisation.Name
                                                <input type="hidden" asp-for="Organisations[index].Organisation.Name" form="organisation-selection" />
                                            </td>
                                            <td class="govuk-table__cell">
                                                @organisation.Organisation.Address
                                                <input type="hidden" asp-for="Organisations[index].Organisation.Address" form="organisation-selection" />
                                            </td>
                                            <td class="govuk-table__cell">
                                                @organisation.Organisation.Type
                                                <input type="hidden" asp-for="Organisations[index].Organisation.Type" form="organisation-selection" />
                                            </td>
                                            <td class="govuk-table__cell">
                                                @organisation.Organisation.CountryName
                                                <input type="hidden" asp-for="Organisations[index].Organisation.CountryName" form="organisation-selection" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @* // If there are more than 10 results, prompt the user to narrow their search *@
                    @if (Model.Pagination?.TotalCount > 10)
                    {
                        <div class="govuk-inset-text">
                            @Model.Pagination?.TotalCount participating organisations match your search for '@Model.Search.SearchNameTerm'. Try narrowing down your search if the organisation you are looking for is not listed
                        </div>
                    }
                }
                else if (Model.Organisations != null)
                {
                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-grid-column-two-thirds">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds search-filter-error-border">
                            <h2 class="govuk-heading-m">There are no matching results</h2>
                            <p class="govuk-body">Improve your search results by:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>removing filters</li>
                                <li>double-checking your spelling</li>
                                <li>using fewer keywords</li>
                                <li>searching for something less specific</li>
                            </ul>
                        </div>
                    </div>
                }

                @if (Model.Organisations != null)
                {
                    <details class="govuk-details mb-0">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Can't find your organisation?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            @Html.Raw(cantFindYourOrganisationBodyText?.Value)
                        </div>
                    </details>
                }

                <form method="post" id="organisation-selection">
                    <div class="govuk-button-group govuk-!-margin-top-4">

                        <div class="save-buttons">
                            @if (Model.Organisations != null && Model.Organisations.Any())
                            {
                                <partial name="_SubmitButton" model="@("porgs:confirmselection", "Confirm selection", new Dictionary<string, string>())" />
                            }
                            @{
                                ViewBag.Style = "govuk-button govuk-button--secondary";
                            }
                            <partial name="_SubmitButton" model="@("porgs:confirmselection", "Save for later", new Dictionary<string, string> { { "saveForLater", bool.TrueString } })" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>