@using Rsp.IrasPortal.Web.Features.Modifications.ParticipatingOrganisations.Models
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Web.Extensions

@model SelectedOrganisationsViewModel

@{
    ViewData["Title"] = "Search participating organisation";
    var errorSummaryTitle = "There is a problem";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var cantFindYourOrganisationBodyText = pageContent.GetValueOrDefault("Modifications.ParticipatingOrganisations.CantFindYourOrganisationBodyText", null);

    var searchModel = TempData.PopulateBaseProjectModificationProperties(new SearchOrganisationViewModel());

    var specificArea = searchModel.SpecificAreaOfChange;
    (string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
    navModel = ("pmc:participatingorganisation", "Back", new());
}

<div class="govuk-width-container">

    @section BackNavigation {
        <partial name="_BackNavigation" model="navModel.Value" />
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@specificArea</h1>

            <partial name="_ProjectModificationSummary" model="Model" />
        </div>
    </div>

    <partial name="ParticipatingOrganisationsSearch" model="searchModel" />

    <h2 class="govuk-heading-m">Selected organisations</h2>

    <p class="govuk-body">
        This list shows all the organisations you have selected.
        You can deselect organisations from this list or search for more organisations to select.
    </p>

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                @{
                    var sortableHeaders = new[]
                    {
                                new { Field = nameof(OrganisationModel.Name), Label = "Name" },
                                new { Field = nameof(OrganisationModel.Address), Label = "Address" },
                                new { Field = nameof(OrganisationModel.Type), Label = "Organisation type" },
                                new { Field = nameof(OrganisationModel.CountryName), Label = "Country" }
                                };
                    var tableId = "selectedParticipatingOrganisations";
                }
                @foreach (var header in sortableHeaders)
                {
                    var sortableHeaderModel = new SortableHeaderModel
                    {
                        FieldName = header.Field,
                        DisplayText = header.Label,
                        CurrentSortField = Model.Pagination?.SortField,
                        CurrentSortDirection = Model.Pagination?.SortDirection,
                        TableId = tableId,
                    };

                    <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                        <partial name="_SortableHeaderButton" model="@sortableHeaderModel" />
                    </th>
                }

                <th scope="col" class="govuk-table__header">
                    Action
                </th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
            @foreach (var org in Model.SelectedOrganisations)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @org.Name
                    </td>

                    <td class="govuk-table__cell">
                        @org.Address<br />
                    </td>

                    <td class="govuk-table__cell">
                        @org.Type
                    </td>

                    <td class="govuk-table__cell">
                        @org.CountryName
                    </td>

                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-route="porgs:deselectorganisation" asp-route-organisationId="@org.OrganisationId">
                            Deselect
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="get" id="organisation-selection">
        <div class="govuk-button-group govuk-!-margin-top-4">

            <div class="save-buttons">
                @if (Model.SelectedOrganisations != null && Model.SelectedOrganisations.Any())
                {
                    if (searchModel.SpecificAreaOfChangeId is SpecificAreasOfChange.AddNewSites)
                    {
                        <partial name="_SubmitButton" model="@("pol:participatingorganisationslist", "Save and continue", new Dictionary<string, string>())" />
                    }
                    else
                    {
                        var routeValues = new Dictionary<string, string>
                                {
                                { "projectRecordId", searchModel.ProjectRecordId.ToString() },
                                { "categoryId", "Participating organisations" },
                                { "sectionId", "pom-affected-organisations" }
                                };

                        <a asp-route="pmc:displayquestionnaire"
                           asp-all-route-data="routeValues"
                           class="govuk-button">
                            Save and continue
                        </a>
                    }
                }

                <a asp-route="pov:postapproval"
                   asp-route-projectRecordId="@Model.ProjectRecordId"
                   class="govuk-button govuk-button--secondary">
                    Save for later
                </a>
            </div>
        </div>
    </form>
</div>