@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Rsp.Gds.Component.Models
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses
@using Rsp.IrasPortal.Web.Extensions
@using Rsp.IrasPortal.Web.TagHelpers.Models
@model ApprovalsSearchModel;
@inject IHttpContextAccessor httpContextAccessor

@section BackNavigation {
    <partial name="_BackNavigation" model="@("approvals:welcome", "Back", new Dictionary<string, string>())"/>
}

@functions {

    private bool CanOpenPanelForField(string fieldName)
    {
        return ViewData.ModelState.TryGetValue(fieldName, out var state) && state.Errors.Any();
    }

    private bool CanOpenPanelForAnyField(params string[] fieldNames)
    {
        return fieldNames.Any(CanOpenPanelForField);
    }

    private bool CanOpenFilterPanel()
    {
        return ViewData.ModelState.Values.Any(v => v.Errors.Count > 0)
               || Model.Filters?.Any() == true
               || !string.IsNullOrWhiteSpace(Model.SponsorOrgSearch?.SearchText)
               || !string.IsNullOrWhiteSpace(Model.SponsorOrgSearch?.SelectedOrganisation);
    }

    private bool CanOpenSponsorOrgSection()
    {
        return CanOpenPanelForField("SponsorOrganisation")
               || !string.IsNullOrWhiteSpace(Model.SponsorOrgSearch?.SearchText)
               || !string.IsNullOrWhiteSpace(Model.SponsorOrgSearch?.SelectedOrganisation);
    }

}

@{
    // this url will be used to redirect, when search button is clicked
    var requestUrl = httpContextAccessor.HttpContext?.Request.GetEncodedUrl();

    // get the routeData to get the action name
    var routeData = httpContextAccessor.HttpContext?.GetRouteData();

    if (string.Equals(routeData?.Values["action"]?.ToString(), "Search", StringComparison.OrdinalIgnoreCase))
    {
        TempData[TempDataKeys.OrgSearchReturnUrl] = requestUrl;
    }
}

<div class="govuk-grid-row">
<authorized auth-params="@new AuthTagHelperParams(Roles:"user,system_administrator,reviewer")">
<div class="govuk-grid-column-two-thirds">
<h2 class="govuk-heading-l" id="title">Search</h2>

<p class="govuk-body">
    Enter the IRAS ID to search for all modifications received, including those submitted for notification only
</p>

<form asp-route="approvals:applyfilters" method="post" class="govuk-form-group" style="margin-bottom: 0;">
<div style="display: flex; width: 100%; gap: 10px;">
    <input class="govuk-input" asp-for="IrasId" type="text" style="width: 87.5%;"/>
    <div style="width: 12.5%;">
        <button type="submit" class="govuk-button">Search</button>
    </div>
</div>

<!-- Filter Panel -->
<div class="app-c-filter-panel">
<input type="checkbox" id="toggle-filter" class="app-c-filter-toggle" hidden @(CanOpenFilterPanel() ? "checked" : null)>

<div class="app-c-filter-panel__header">
    <label for="toggle-filter" class="app-c-filter-panel__button govuk-link" role="button" aria-controls="filter-panel">
        <span class="app-c-filter-panel__button-inner">Advanced filter</span>
    </label>
    <h2 id="js-result-count" class="app-c-filter-panel__count">0 results</h2>
</div>
<div class="app-c-filter-panel__content" id="filter-panel" role="region" aria-labelledby="toggle-filter">
    <!-- Chief Investigator -->
    <details class="app-c-filter-section" @(CanOpenPanelForField("ChiefInvestigatorName") ? "open" : null)>
        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Chief Investigator name</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-input asp-for="ChiefInvestigatorName" label-text="Enter the name of the Chief Investigator" width-class="govuk-!-width-three-quarters" label-html-class="font-weight-none"/>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Date modification submitted -->
    <details class="app-c-filter-section" @(CanOpenPanelForAnyField("FromDate", "ToDate") ? "open" : null)>

        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Date modification submitted</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-date-input asp-for="FromDate"
                                        day-name="FromDay"
                                        day-value="@Model.FromDay"
                                        month-name="FromMonth"
                                        month-value="@Model.FromMonth"
                                        year-name="FromYear"
                                        year-value="@Model.FromYear"
                                        label-text="Enter the date you want to search from"
                                        hint-html="For example, 28 February 2023"
                                        error-key="FromDate"
                                        id="FromDate"
                                        label-html-class="font-weight-none"/>

                    <rsp-gds-date-input asp-for="ToDate"
                                        day-name="ToDay"
                                        day-value="@Model.ToDay"
                                        month-name="ToMonth"
                                        month-value="@Model.ToMonth"
                                        year-name="ToYear"
                                        year-value="@Model.ToYear"
                                        label-text="Enter the date you want to search to"
                                        hint-html="For example, 12 October 2024"
                                        error-key="ToDate"
                                        id="ToDate"
                                        label-html-class="font-weight-none"/>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Lead nation -->
    <details class="app-c-filter-section" @(CanOpenPanelForField("Country") ? "open" : null)>
        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Lead nation</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-checkbox-group asp-for="Country"
                                            label-text="Country"
                                            options="UkCountryNames.Countries"
                                            label-css-class="role-checkbox"
                                            conditional-field="false"
                                            legend-class="govuk-label govuk-label--s"
                                            hint-id="country-hint"
                                            hint-html="@($"{Model.Country?.Count ?? 0} selected")"
                                            label-html-class="font-weight-none"/>


                </fieldset>
            </div>
        </div>
    </details>

    <!-- Modification type -->
    <details class="app-c-filter-section" @(CanOpenPanelForField("ModificationTypes") ? "open" : null)>
        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Modification type</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-checkbox-group asp-for="ModificationTypes"
                                            label-text="Type of Modification"
                                            options="ModificationOptions.Types"
                                            label-css-class="role-checkbox"
                                            conditional-field="true"
                                            legend-class="govuk-label govuk-label--s"
                                            hint-id="modification-hint"
                                            hint-html="@($"{Model.ModificationTypes?.Count ?? 0} selected")"
                                            label-html-class="font-weight-none"/>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Short project title -->
    <details class="app-c-filter-section" @(CanOpenPanelForField("ShortProjectTitle") ? "open" : null)>
        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Short project title</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-input asp-for="ShortProjectTitle" label-text="Enter the short project title" width-class="govuk-!-width-three-quarters" label-html-class="font-weight-none"/>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Sponsor organisation -->
    <details class="app-c-filter-section" @(CanOpenSponsorOrgSection() ? "open" : null)>
        <summary class="app-c-filter-section__summary">
            <h2 class="app-c-filter-section__summary-heading">Sponsor organisation</h2>
        </summary>
        <div class="app-c-filter-section__content">
            <div class="govuk-form-group govuk-!-margin-bottom-2">
                <fieldset class="govuk-fieldset">
                    <rsp-gds-autocomplete asp-for="SponsorOrganisation"
                                          field-id="SponsorOrganisation_Text"
                                          label-text="Enter the sponsor organisation"
                                          api-url="/organisation/getorganisations"
                                          hint-html="Start typing to find an organisation"
                                          auto-complete-enabled-id="auto_search"
                                          label-html-class="font-weight-none">
                    </rsp-gds-autocomplete>

                    <input id="SponsorOrganisation_Text"
                           type="text"
                           asp-for="SponsorOrganisation"
                           error-class-for="SponsorOrganisation"
                           class="govuk-input font-weight-none"
                           hidden/>

                    <input id="auto_search"
                           name="autoSearchEnabled"
                           type="text"
                           value="false"
                           hidden/>

                    <noscript>
                        @{
                            string? searchText;

                            TempData.TryGetValue(TempDataKeys.SponsorOrgSearched, out var sponsorOrgSearched);
                            TempData.TryGetValue(TempDataKeys.OrgSearch, out OrganisationSearchViewModel? orgSearch, true);

                            if (sponsorOrgSearched is "searched:true")
                            {
                                searchText = string.IsNullOrWhiteSpace(orgSearch?.SearchText) ? string.Empty : orgSearch.SearchText;

                                <input id="sponsor_org_search_performed"
                                       type="text"
                                       name="searchedPerformed"
                                       value="@sponsorOrgSearched"
                                       hidden/>
                            }

                            if (!string.IsNullOrWhiteSpace(orgSearch?.SelectedOrganisation))
                            {
                                searchText = orgSearch.SelectedOrganisation;
                            }
                            else
                            {
                                var hasError = ViewData.ModelState["sponsor_org_search"]?.ValidationState == ModelValidationState.Invalid;

                                searchText = hasError
                                    ? orgSearch?.SearchText ?? string.Empty
                                    : string.IsNullOrWhiteSpace(orgSearch?.SearchText)
                                        ? Model.SponsorOrganisation
                                        : orgSearch.SearchText;
                            }

                            if (sponsorOrgSearched is not "searched:true" && !string.IsNullOrWhiteSpace(Model.SponsorOrganisation))
                            {
                                <input type="hidden" name="SponsorOrgSearch.SelectedOrganisation" value="@Model.SponsorOrganisation"/>
                            }
                        }

                        <div class="govuk-form-group" error-class-property="sponsor_org_search">
                            <label class="govuk-label govuk-label--s font-weight-none" for="sponsor_org_search" aria-describedby="SponsorOrganisation">
                                Enter the sponsor organisation
                            </label>

                            @Html.ValidationMessage("sponsor_org_search", new { @class = "govuk-error-message" })

                            <div class="sponsor-org-search">
                                <input id="sponsor_org_search"
                                       type="text"
                                       name="SponsorOrgSearch.SearchText"
                                       class="govuk-input govuk-!-width-three-quarters"
                                       value="@searchText"
                                       error-class-property="sponsor_org_search"/>

                                @{
                                    ViewBag.Style = "govuk-button govuk-button--secondary";
                                }

                                <partial name="_SubmitButton" model="@("approvals:searchorganisations", "Search", new Dictionary<string, string>())"/>
                            </div>
                        </div>

                        <div class="govuk-form-group">
                            @if (!string.IsNullOrWhiteSpace(searchText))
                            {
                                TempData.TryGetValue<OrganisationSearchResponse>(TempDataKeys.SponsorOrganisations, out var response, true);

                                if (response?.Organisations is not null)
                                {
                                    var organisations = response.Organisations;

                                    if (!organisations.Any())
                                    {
                                        <div class="govuk-inset-text">
                                            No suggestions found for <strong>@searchText</strong>
                                        </div>
                                    }
                                    else
                                    {
                                        var escapedSearch = Regex.Escape(searchText);

                                        <rsp-gds-radio-group asp-for="SponsorOrgSearch.SelectedOrganisation"
                                                             label-css-class="govuk-hint"
                                                             label-text=""
                                                             options="@(organisations.Select(org => new GdsOption
                                                                      {
                                                                          Value = Html.Encode(org.Name),
                                                                          Label = Regex.Replace(org.Name, escapedSearch, match => $"<b>{match.Value}</b>", RegexOptions.IgnoreCase)
                                                                      }))"
                                                             div-inline-class="govuk-radios"
                                                             hint-html="Results for '@ searchText'">
                                        </rsp-gds-radio-group>

                                        if (response.TotalCount > 5)
                                        {
                                            <div class="govuk-inset-text">
                                                @response.TotalCount sponsor organisations match your search for '@searchText'. Try narrowing down your search if the organisation you are looking for is not listed.
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </noscript>
                </fieldset>
            </div>
        </div>
    </details>

    <!-- Apply -->
    <div class="app-c-filter-panel__actions">
        <button class="govuk-button app-c-filter-panel__action app-c-filter-panel__action--submit">Apply</button>
    </div>
</div>
</div>
</form>

<!-- Active Filters Panel -->
@if (Model.Filters.Any())
{
    <div class="app-c-filter-summary">
        <h3 class="app-c-filter-summary__heading">Active filters</h3>
        <ul class="app-c-filter-summary__remove-filters">
            @foreach (var filter in Model.Filters)
            {
                var filterKey = filter.Key;
                var filterValues = filter.Value?.Split(",") ?? [];

                foreach (var val in filterValues)
                {
                    <li>
                        <a asp-route="approvals:removefilter"
                           asp-route-key="@filterKey"
                           asp-route-value="@val.Trim()"
                           class="app-c-filter-summary__remove-filter">
                            <span class="app-c-filter-summary__remove-filter-text">
                                <span class="govuk-visually-hidden">Remove filter</span>
                                @filterKey - @val.Trim()
                            </span>
                        </a>
                    </li>
                }
            }

        </ul>

        <div>
            <a asp-route="approvals:clearfilters" class="app-c-filter-summary__clear-filters govuk-link govuk-link--no-visited-state">
                Clear all filters
            </a>
        </div>
    </div>
}
</div>
</authorized>
</div>

<script src="~/js/searchModifications.js"></script>