@using Microsoft.AspNetCore.Mvc.ModelBinding
@model QuestionnaireViewModel

@{
    var index = (int)ViewBag.Index;
    var question = Model.Questions[index];
    var errorKey = $"Questions[{index}].AnswerText";
    var validationMessage = "Provide an answer for this question";
    var fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

    var rules = question.Rules;
    var conditional = !question.IsMandatory && rules.Count > 0;
    var parents = conditional ? string.Join(',', rules.Select(rule => rule.ParentQuestionId)) : "";
    var questionId = conditional ? question.QuestionId : "";

    var hintContent = rules.Any()
        ? string.Join("", rules.Select(rule => $"<p>{rule.Description}</p>"))
        : null;
}

<!-- Required styles and scripts -->
<link rel="stylesheet" href="~/assets/css/accessible-autocomplete.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/assets/js/accessible-autocomplete.min.js"></script>
<script src="~/rsp-gds-component/js/accessible-autocomplete-wrapper.js"></script>

<!-- Autocomplete component -->
<rsp-gds-autocomplete
    asp-for="Questions[index].AnswerText"
    label-text="@question.QuestionText"
    api-url="/organisation/getorganisations"
    validation-message="@validationMessage"
    hint-html="@Html.Raw(hintContent)"
    dataparents-attr="@parents"
    dataquestionid-attr="@questionId"
    conditional="@conditional">
</rsp-gds-autocomplete>
