@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Rsp.IrasPortal.Web.Models
@using Rsp.IrasPortal.Web.ViewHelpers
@model QuestionnaireViewModel

@{
    var index = (int)ViewBag.Index;
    var question = Model.Questions[index];
    var errorKey = $"Questions[{index}].SelectedOption";
    var validationMessage = "Select one option";
    var fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

    var rules = question.Rules;
    var conditional = !question.IsMandatory && rules.Count > 0;
    var parents = conditional ? string.Join(',', rules.Select(rule => rule.ParentQuestionId)) : "";
    var questionId = conditional ? question.QuestionId : "";
}

<div id="Questions[@index].SelectedOption"
     class="govuk-form-group"
     conditional="conditional"
     conditional-class="conditional govuk-radios__conditional"
     error-class-for="Questions[@index].SelectedOption"
     data-parents="@parents"
     data-questionId="@questionId">

    <govuk-fieldset>
        <govuk-fieldset-legend class="govuk-fieldset__legend--s">
            @question.QuestionText
        </govuk-fieldset-legend>

        @if (fieldHasErrors)
        {
            @Html.BuildValidationMessage(question.Rules, errorKey, validationMessage);
        }

        @{
            string divInlineClass = conditional ? "govuk-radios" : "govuk-radios govuk-radios--inline";
        }

        <div class="@divInlineClass" data-module="govuk-radios">
            @foreach (var (answer, ansIndex) in question.Answers.Select((answer, ansIndex) => (answer, ansIndex)))
            {
                <div class="govuk-radios__item">
                    @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerId)
                    @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerText)
                    @Html.RadioButtonFor(model => model.Questions[index].SelectedOption, answer.AnswerId, new { id = question.QuestionId + "_" + answer.AnswerId, @class = "govuk-radios__input" })
                    @Html.Label(question.QuestionId + "_" + answer.AnswerId, answer.AnswerText, new { @class = "govuk-radios__label govuk-label" })
                </div>
            }
        </div>
    </govuk-fieldset>
</div>