@using Rsp.Gds.Component.Models
@using Rsp.IrasPortal.Application.Constants
@model Rsp.IrasPortal.Web.Models.AreaOfChangeViewModel
@{

    // Title used in the validation error summary
    var errorSummaryTitle = "There is a problem";

    var navModel = ("pov:postapproval", "Back", new Dictionary<string, string>
{
        { "projectRecordId", Model.ProjectRecordId }
    });

    var area = TempData.Peek(TempDataKeys.ProjectModification.AreaOfChangeId);
    var specificArea = TempData.Peek(TempDataKeys.ProjectModification.SpecificAreaOfChangeId);

    var areaId = Guid.Empty;
    var specificAreaId = Guid.Empty;

    if (area != null)
    {
        areaId = (Guid)area;
    }

    if (specificArea != null)
    {
        specificAreaId = (Guid)specificArea;
    }
}

<div class="govuk-width-container">
    @section BackNavigation {
        <partial name="_BackNavigation" model="navModel" />
    }

    <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Select area of change</h1>

            <form method="post">

                <input type="hidden" asp-for="ProjectRecordId" />

                <partial name="_ProjectModificationSummary" model="Model" />

                <div class="govuk-form-group" error-class-for="AreaOfChangeId">

                    @Html.ValidationMessage("AreaOfChangeId", new { @class = "govuk-error-message" })

                    <label for="AreaOfChangeId" class="govuk-label">
                        Area of change
                    </label>
                    <select asp-for="AreaOfChangeId" class="govuk-select govuk-!-width-two-thirds" id="AreaOfChangeId">
                        <option value="@Guid.Empty">Select area of change</option>
                        @foreach (var item in Model.AreaOfChangeOptions)
                        {
                            <option value="@item.Value" selected="@item.Selected" title="@item.Text">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="govuk-form-group" error-class-for="SpecificChangeId">

                    @Html.ValidationMessage("SpecificChangeId", new { @class = "govuk-error-message" })

                    <label for="SpecificChangeId" class="govuk-label">
                        Specific change
                    </label>
                    <select asp-for="SpecificChangeId" class="govuk-select govuk-!-width-two-thirds" id="SpecificChangeId">
                        <option value="@Guid.Empty">Select specific change</option>
                        @foreach (var item in Model.SpecificChangeOptions)
                        {
                            <option value="@item.Value" selected="@item.Selected" title="@item.Text">@item.Text</option>
                        }
                    </select>
                </div>

                <div class="save-buttons">

                    @{
                        var actionParams = new Dictionary<string, string>();
                    }

                    <partial name="_SubmitButton" model="@("pmc:confirmmodificationjourney", "Save and continue", actionParams)" />

                    @{
                        ViewBag.Style = "govuk-button govuk-button--secondary";
                        actionParams["saveForLater"] = bool.TrueString;
                    }

                    <partial name="_SubmitButton" model="@("pmc:confirmmodificationjourney", "Save for later", actionParams)" />
                </div>
            </form>
        </div>
    </div>

    @* store the previously select areaId and specificAreaId in hidden fields *@
    <input id="areaOfChangeId" type="hidden" value="@areaId" />
    <input id="specificAreaOfChangeId" type="hidden" value="@specificAreaId" />
</div>

<script>
    $(document).ready(function () {

        $('#AreaOfChangeId').on('change', function () {
            const areaId = $(this).val();
            const $specificChangeDropdown = $('#SpecificChangeId');

            $specificChangeDropdown.attr('title', '');

            // if the selection is changed from the previously
            // selected value, reset the hidden value to 0
            if (areaId != $areaOfChangeId.val()) {

                // set the dropdown title
                let $selectedOption = $(this).find('option:selected');
                $(this).attr('title', $selectedOption.text());

                $areaOfChangeId.val('@Guid.Empty');
                $specificAreaOfChangeId.val('@Guid.Empty');
            }

            // Clear existing options
            $specificChangeDropdown.empty();

            // Fetch specific changes from controller
            $.getJSON(`/modifications/GetSpecificChangesByAreaId`, { areaOfChangeId: areaId })
                .done(function (data) {
                    $.each(data, function (index, item) {
                        $specificChangeDropdown.append($('<option>', {
                            value: item.value,
                            text: item.text,
                            title: item.text
                        }));
                    });

                    // if previously selected specificAreaOfChangeId != 0, then select it
                    if ($specificAreaOfChangeId.val() != '@Guid.Empty') {
                        $specificChangeDropdown.val($specificAreaOfChangeId.val());

                        // set the dropdown title
                        let $selectedOption = $specificChangeDropdown.find('option:selected');
                        $specificChangeDropdown.attr('title', $selectedOption.text());
                    }

                })
                .fail(function () {
                    $specificChangeDropdown.empty().append($('<option>', {
                        value: '',
                        text: 'Error loading changes'
                    }));
                });
        });

        $('#SpecificChangeId').on('change', function () {
            // set the dropdown title
            let $selectedOption = $(this).find('option:selected');
            $(this).attr('title', $selectedOption.text());
        });

        const $areaOfChangeId = $("#areaOfChangeId");
        const $specificAreaOfChangeId = $("#specificAreaOfChangeId");

        // if previously selected areaOfChangeId != 0, then select it
        // and manaually trigger the change event, so specificAreaId can be selected
        if ($areaOfChangeId.val() != '@Guid.Empty') {
            $("#AreaOfChangeId").val($areaOfChangeId.val());
            $("#AreaOfChangeId").trigger("change");
        }
    });
</script>