@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Features.Modifications.Models
@model ReviewOutcomeViewModel
@{
    ViewBag.Title = "Review outcome";
}

<partial 
    name="_BackNavigation" 
    model="@(
        "pmc:reviewallchanges", 
        "Back", 
        new Dictionary<string, string>() { 
            { "projectRecordId", Model.ModificationDetails.ProjectRecordId },
            { "irasId", Model.ModificationDetails.IrasId },
            { "shortTitle", Model.ModificationDetails.ShortTitle! },
            { "projectModificationId", Model.ModificationDetails.ModificationId! }
        })" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />
    </div>
</div>

<partial name="_ReviewModification" model="@Model.ModificationDetails" />

<form asp-route="pmc:reviewoutcome" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Leave a comment</h2>
            <p class="govuk-hint">If you have any comments on this document add them to the box below. Comments are only visible to other reviewers and are not shared with the applicant.</p>
            <div class="govuk-form-group govuk-character-count"
                 data-module="govuk-character-count"
                 data-maxlength="300">
                <textarea 
                    asp-for="Comment"
                    name="Comment"
                    id="Comment"
                    class="govuk-textarea govuk-js-character-count"
                    rows="5"
                    aria-describedby="with-hint-info with-hint-hint">
                </textarea>
                <div id="Comment-info"
                     class="govuk-hint govuk-character-count__message">
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">Review outcome</h2>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="approved" type="radio" value="@ModificationStatus.Approved" asp-for="ReviewOutcome">
                            <label class="govuk-label govuk-radios__label" for="approved">
                                Approved
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="notApproved" type="radio" value="@ModificationStatus.NotApproved" asp-for="ReviewOutcome">
                            <label class="govuk-label govuk-radios__label" for="notApproved">
                                Not approved
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-body">
                You'll be able to check the outcome again before sending to the applicant in the next steps
            </div>
            <div class="save-buttons">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <button asp-route-saveForLater="true" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Save for later
                </button>
            </div>
        </div>
    </div>
</form>
