@using Rsp.Portal.Application.Constants
@model (string RouteName, string DisplayText, Dictionary<string, string>? Params)

@{
	var style = ViewBag.Style ?? "govuk-button";
	var disabled = ViewData[ViewDataKeys.IsApplicationValid] is not (null or true);
}

<button class="@style" disabled="@disabled" data-module="govuk-button" type="submit" asp-route="@Model.RouteName" asp-all-route-data="@Model.Params">
    @Model.DisplayText
</button>