@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TemplateModel;


@{
	ViewData["Title"] = "Template";
}
<h1 class="govuk-heading-l" style="margin:0">My changes to review</h1>
<p class="govuk-body">This page shows all the projects that are ready for you to review.</p>

<div class="govuk-tabs" data-module="govuk-tabs">
	<h2 class="govuk-tabs__title">
		Contents
	</h2>
	<ul class="govuk-tabs__list">
		<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
			<a class="govuk-tabs__tab" href="#applications">
				Applications
			</a>
		</li>
		<li class="govuk-tabs__list-item">
			<a class="govuk-tabs__tab" href="#amendments">
				Ammendments
			</a>
		</li>
	</ul>
	<div class="govuk-tabs__panel" id="applications">

	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="amendments">
		<div class="govuk-form-group" style="text-align:end">
			<input placeholder="Search" class="govuk-input govuk-!-width-one-quarter" id="one-quarter" name="oneQuarter" type="search">
	
		</div>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">
						Project Manager
						<svg  style="transform: rotate(90deg); width:20px;height:20px"  id="Artwork_16x16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
			
							<path style="fill:none" class="cls-1" d="m24,24H8V8h16v16Z" />
							<path style="fill:black" class="cls-2" d="m10.71,28.55l-1.14-1.12c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l10-10L9.57,6.01c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l1.14-1.12c.39-.39,1.02-.39,1.41,0,0,0,0,0,0,0l11.86,11.86c.38.39.38,1.01,0,1.4l-11.86,11.82c-.39.39-1.02.39-1.41,0,0,0,0,0,0,0Z" />
						</svg>
					</th>
					<th scope="col" class="govuk-table__header">Category
						<svg style="transform: rotate(90deg); width:20px;height:20px" id="Artwork_16x16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">

							<path style="fill:none" class="cls-1" d="m24,24H8V8h16v16Z" />
							<path style="fill:black" class="cls-2" d="m10.71,28.55l-1.14-1.12c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l10-10L9.57,6.01c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l1.14-1.12c.39-.39,1.02-.39,1.41,0,0,0,0,0,0,0l11.86,11.86c.38.39.38,1.01,0,1.4l-11.86,11.82c-.39.39-1.02.39-1.41,0,0,0,0,0,0,0Z" />
						</svg>
					</th>
					<th scope="col" class="govuk-table__header">Date Submitted
						<svg style="transform: rotate(90deg); width:20px;height:20px" id="Artwork_16x16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">

							<path style="fill:none" class="cls-1" d="m24,24H8V8h16v16Z" />
							<path style="fill:black" class="cls-2" d="m10.71,28.55l-1.14-1.12c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l10-10L9.57,6.01c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l1.14-1.12c.39-.39,1.02-.39,1.41,0,0,0,0,0,0,0l11.86,11.86c.38.39.38,1.01,0,1.4l-11.86,11.82c-.39.39-1.02.39-1.41,0,0,0,0,0,0,0Z" />
						</svg>
					</th>
					<th scope="col" class="govuk-table__header">Date left on the clock
						<svg style="transform: rotate(90deg); width:20px;height:20px" id="Artwork_16x16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">

							<path style="fill:none" class="cls-1" d="m24,24H8V8h16v16Z" />
							<path style="fill:black" class="cls-2" d="m10.71,28.55l-1.14-1.12c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l10-10L9.57,6.01c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l1.14-1.12c.39-.39,1.02-.39,1.41,0,0,0,0,0,0,0l11.86,11.86c.38.39.38,1.01,0,1.4l-11.86,11.82c-.39.39-1.02.39-1.41,0,0,0,0,0,0,0Z" />
						</svg>
					</th>
					<th scope="col" class="govuk-table__header">Status
												<svg  style="transform: rotate(90deg); width:20px;height:20px"  id="Artwork_16x16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
			
							<path style="fill:none" class="cls-1" d="m24,24H8V8h16v16Z" />
							<path style="fill:black" class="cls-2" d="m10.71,28.55l-1.14-1.12c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l10-10L9.57,6.01c-.39-.39-.39-1.02,0-1.41,0,0,0,0,0,0l1.14-1.12c.39-.39,1.02-.39,1.41,0,0,0,0,0,0,0l11.86,11.86c.38.39.38,1.01,0,1.4l-11.86,11.82c-.39.39-1.02.39-1.41,0,0,0,0,0,0,0Z" />
						</svg>
					</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				@foreach (var line in Model.Templates)
				{
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a href="@line.ProjectInfo.ProjectLink" class="govuk-link" rel="noreferrer noopener" target="_blank">@line.ProjectInfo.ProjectName</a>
							<p style="margin-top:10px">
								<strong>IRAS-ID</strong> - @line.ProjectInfo.IrasID
							</p>
						</td>
						<td class ="govuk-table__cell">@line.Category</td>
						<td class="govuk-table__cell">@line.FormattedDate</td>
						<td class="govuk-table__cell">@line.DateLeftOnTheClock</td>
						<td class="govuk-table__cell"><p>@line.Status</p></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-month">
		<h2 class="govuk-heading-l">Past month</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Case manager</th>
					<th scope="col" class="govuk-table__header">Cases opened</th>
					<th scope="col" class="govuk-table__header">Cases closed</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">David Francis</td>
					<td class="govuk-table__cell">98</td>
					<td class="govuk-table__cell">95</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Paul Farmer</td>
					<td class="govuk-table__cell">122</td>
					<td class="govuk-table__cell">131</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Rita Patel</td>
					<td class="govuk-table__cell">126</td>
					<td class="govuk-table__cell">142</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-year">
		<h2 class="govuk-heading-l">Past year</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Case manager</th>
					<th scope="col" class="govuk-table__header">Cases opened</th>
					<th scope="col" class="govuk-table__header">Cases closed</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">David Francis</td>
					<td class="govuk-table__cell">1380</td>
					<td class="govuk-table__cell">1472</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Paul Farmer</td>
					<td class="govuk-table__cell">1129</td>
					<td class="govuk-table__cell">1083</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Rita Patel</td>
					<td class="govuk-table__cell">1539</td>
					<td class="govuk-table__cell">1265</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<nav class="govuk-pagination" aria-label="Pagination">
	<ul class="govuk-pagination__list">
		<li class="govuk-pagination__item govuk-pagination__item--current">
			<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
				1
			</a>
		</li>
		<li class="govuk-pagination__item">
			<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
				2
			</a>
		</li>
		<li class="govuk-pagination__item">
			<a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
				3
			</a>
		</li>
	</ul>
	<div class="govuk-pagination__next">
		<a class="govuk-link govuk-pagination__link" href="#" rel="next">
			<span class="govuk-pagination__link-title">
				Next<span class="govuk-visually-hidden"> page</span>
			</span>
			<svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
				<path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
			</svg>
		</a>
	</div>
</nav>
