@using Microsoft.FeatureManagement
@using Rsp.Gds.Component.Models
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Application.Extensions
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Extensions
@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.IrasPortal.Web.Features.SponsorWorkspace.Authorisation.Models
@model Rsp.Portal.Web.Features.SponsorWorkspace.Authorisation.Models.AuthoriseModificationsOutcomeViewModel
@inject Microsoft.FeatureManagement.IFeatureManager FeatureManager

@{
    ViewBag.Title = (string?)ViewData[PageContentElements.MetaTitle];

    TempData[TempDataKeys.ProjectModification.ReviewAllChanges] = true;
    ViewData[ViewDataKeys.ShowRemoveLink] = false;
    ViewData[ViewDataKeys.ShowModificationChangeStatus] = false;
    ViewData[ViewDataKeys.ShowModificationStatus] = true;
    ViewData[ViewDataKeys.IsSponsorCheckAndAuthorise] = true;
    ViewData[ViewDataKeys.ShowModificationDetails] = Model.Status != ModificationStatus.WithSponsor && Model.Status != ModificationStatus.ReviseAndAuthorise;

    ViewBag.SponsorOrganisationUserId = Model.SponsorOrganisationUserId;
    ViewBag.RtsId = Model.RtsId;

    var isAuthoriser = TempData[TempDataKeys.IsAuthoriser] as bool? ?? false;
    var tempHalt = TempData.Peek(TempDataKeys.ProjectModification.SpecificAreaOfChangeText) as string;
    if (tempHalt == AreasOfChange.ProjectHalt)
    {
        ViewData[ViewDataKeys.ShowChangeLink] = false;
        ViewData[ViewDataKeys.ShowRemoveLink] = false;
    }

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData ?? new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.Title", null);
    var actionedModificationHeadline = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.ModificationActionedTitle", null);
    var rankingTitle = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.RankingTitle", null);
    var outcomeTitle = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.OutcomeTitle", null);
    var outcome = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.Outcome", null);
    var revisionDescriptionBySponsorTitle = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.RevisionBySponsorHeadline", null);
    var revisionResponseByApplicantTitle = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.RevisionByApplicantHeadline", null);
    var revisionDescriptionAfterReviseAndAuthoriseTitle = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.RevisionDesciptionAfterReviseAndAuthoriseHeadline", null);
    // Detect field error for summary styling
    var hasError = ViewData.ModelState.TryGetValue(nameof(Model.Outcome), out var entry) && entry!.Errors.Any();

    var isSponsorAuthorisationFlagEnabled = await FeatureManager.IsEnabledAsync(FeatureFlags.SponsorAuthorisation) && Model.Status == ModificationStatus.ResponseWithSponsor;
    var outcomeDescriptionForRfi = new MixedContentPageItem();

    // Radio options for the TagHelper

    var outcomeOptions = new List<OutcomeOptions>
{
        new() { Value = "Authorised", Label = "Authorised",
                HintText = isSponsorAuthorisationFlagEnabled ? pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.AuthorisedDescription", null).Value
                : string.Empty },
        new() { Value = "NotAuthorised", Label = "Not authorised",
                HintText = isSponsorAuthorisationFlagEnabled ? pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.NotAuthorisedDescription", null).Value
                : string.Empty },
    };

    if (await FeatureManager.IsEnabledAsync(FeatureFlags.RevisionAndAuthorisation))
    {
        outcome = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.Outcome_Additional", null);

        outcomeOptions.Add(new OutcomeOptions
        {
            Value = "ReviseAndAuthorise",
            Label = "Revise and authorise",
            HintText = isSponsorAuthorisationFlagEnabled ?
                       pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.ReviseAndAuthoriseDescription", null).Value
                       : string.Empty
        });

        if (ViewBag.RevisionSent == false)
        {
            outcomeOptions.Add(new OutcomeOptions
            {
                Value = "RequestRevisions",
                Label = "Request revisions",
                HintText = isSponsorAuthorisationFlagEnabled ?
                           pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.RequestRevisionDescription", null).Value
                           : string.Empty
            });
        }
    }
    if (isSponsorAuthorisationFlagEnabled)
    {
        outcomeDescriptionForRfi = pageContent.GetValueOrDefault("SponsorWorkspace.CheckAndAuthorise.OutcomeDescription", null);
    }

}

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("Sponsor workspace", Url.RouteUrl("sws:sponsorworkspace")),
        ("Authorisations", Url.RouteUrl("sws:modifications", new { sponsorOrganisationUserId = Model.SponsorOrganisationUserId, rtsId = Model.RtsId })),
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 status-for="Status"
            status-in="@([ModificationStatus.WithSponsor, ModificationStatus.ReviseAndAuthorise, ModificationStatus.ResponseWithSponsor])"
            class="govuk-heading-l">
            @Html.Raw(headline?.Value)
        </h1>

        <h1 status-for="Status"
            status-in="@([ModificationStatus.WithSponsor, ModificationStatus.ReviseAndAuthorise,ModificationStatus.ResponseWithSponsor])"
            status-mode="Hide"
            class="govuk-heading-l">
            @Html.Raw(actionedModificationHeadline?.Value)
        </h1>

        <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />

        <partial name="~/Features/Modifications/Shared/_ProjectModificationSummary.cshtml"
                 model="Model"
                 view-data="ViewData" />

        <feature name="@FeatureFlags.DownloadPack">
            @if (User.HasPermission(Permissions.MyResearch.Modifications_Download))
            {
                <div status-for="@Model.Status"
                     status-in="@([ModificationStatus.WithSponsor,
                                   ModificationStatus.NotAuthorised,
                                   ModificationStatus.WithReviewBody,
                                   ModificationStatus.Approved,
                                   ModificationStatus.NotApproved,
                                   ModificationStatus.ReviseAndAuthorise,
                                   ModificationStatus.ReviewInProgress,
                                   ModificationStatus.RequestForInformation])">
                    <h2 class="govuk-heading-m">Download a PDF of the modification information</h2>
                    <p class="govuk-body">
                        You'll need to send this to participating organisations along with your cover letter and copies of any supporting documents.
                    </p>
                    <a asp-controller="ReviewAllChanges" asp-action="DownloadModificationPdfFromHtml" class="govuk-button govuk-button--secondary">
                        Download modification information
                    </a>
                </div>
            }
            else if (User.HasPermission(Permissions.MyResearch.Modifications_Download_Limited))
            {
                <div status-for="@Model.Status"
                     status-in="@([ModificationStatus.Approved,
                                                                                                                                                                                                                                                                                    ModificationStatus.NotApproved,])">
                    <h2 class="govuk-heading-m">Download a PDF of the modification information</h2>
                    <p class="govuk-body">
                        You'll need to send this to participating organisations along with your cover letter and copies of any supporting documents.
                    </p>
                    <a asp-controller="ReviewAllChanges" asp-action="DownloadModificationPdfFromHtml" class="govuk-button govuk-button--secondary">
                        Download modification information
                    </a>
                </div>
            }
        </feature>

        <h2 class="govuk-heading-m">Summary details</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    @Html.Raw(rankingTitle?.Value)
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                @{
                    var ranking = new RankingOfChangeViewModel
                    {
                        ModificationType = Model.ModificationType,
                        Category = Model.Category,
                        ReviewType = Model.ReviewType
                    };
                }
                <partial name="~/Features/Modifications/Shared/RankingOfChange.cshtml"
                         model="ranking" />
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row" status-for="@Model.Status" status-is="@ModificationStatus.WithSponsor">
    @if (ViewBag.RevisionSent == true)
    {
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-heading-m">
                <strong> @Html.Raw(revisionDescriptionBySponsorTitle?.Value)</strong>
            </div>
        </div>
    }
</div>
<div class="govuk-grid-row" status-for="@Model.Status" status-is="@ModificationStatus.WithSponsor">
    @if (ViewBag.RevisionSent == true)
    {
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-body">
                @Model.RevisionDescription
            </div>
        </div>
    }
</div>
<div class="govuk-grid-row" status-for="@Model.Status" status-is="@ModificationStatus.WithSponsor">
    @if (ViewBag.RevisionSent == true)
    {
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-heading-m">
                @Html.Raw(revisionResponseByApplicantTitle?.Value)
            </div>
        </div>
    }
</div>
<div class="govuk-grid-row" status-for="@Model.Status" status-is="@ModificationStatus.WithSponsor">
    @if (ViewBag.RevisionSent == true)
    {
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-body">
                @Model.ApplicantRevisionResponse
            </div>
        </div>
    }
</div>
<feature name="@FeatureFlags.RevisionAndAuthorisation">
    <div class="govuk-grid-row"
         status-for="@Model.Status"
         status-in="@([ModificationStatus.Approved, ModificationStatus.WithReviewBody])"
         role-in="@([Roles.SystemAdministrator, Roles.OrganisationAdministrator, Roles.Sponsor, Roles.Applicant])">
        @if (!string.IsNullOrWhiteSpace(Model.RevisionDescription))
        {
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-heading-m">
                    @Html.Raw(revisionDescriptionAfterReviseAndAuthoriseTitle?.Value)
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    @Model.RevisionDescription
                </div>
            </div>
        }
    </div>
</feature>
<feature name="@FeatureFlags.RequestRevisions">
    <div class="govuk-grid-row"
         status-for="@Model.Status"
         status-in="@([ModificationStatus.Approved, ModificationStatus.WithReviewBody])"
         role-in="@([Roles.SystemAdministrator, Roles.OrganisationAdministrator, Roles.Sponsor])">
        @if (!string.IsNullOrWhiteSpace(Model.ApplicantRevisionResponse))
        {
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-heading-m">
                    @Html.Raw(revisionResponseByApplicantTitle?.Value)
                </div>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-body">
                    @Model.ApplicantRevisionResponse
                </div>
            </div>
        }
    </div>
</feature>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="~/Features/Modifications/Views/_NavigationTabPartial.cshtml"
                 model="Model"
                 view-data="ViewData" />
    </div>
</div>

@if (isAuthoriser)
{
    <authorized permission="@Permissions.Sponsor.Modifications_Authorise"
                status-for="Status"
                status-in="@([ModificationStatus.WithSponsor,ModificationStatus.ResponseWithSponsor])">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">@Html.Raw(outcomeTitle?.Value)</h2>

                @Html.Raw(isSponsorAuthorisationFlagEnabled ? outcomeDescriptionForRfi?.Value
                          : outcome?.Value)
            </div>
        </div>

        <form method="post">
            <!-- round-trip context -->
            <input type="hidden" name="ProjectRecordId" value="@Model.ProjectRecordId" />
            <input type="hidden" name="IrasId" value="@Model.IrasId" />
            <input type="hidden" name="ShortTitle" value="@Model.ShortTitle" />
            <input type="hidden" name="ModificationId" value="@Model.ModificationId" />
            <input type="hidden" name="SponsorOrganisationUserId" value="@Model.SponsorOrganisationUserId" />
            <input type="hidden" name="ProjectModificationId" value="@Model.ProjectModificationId" />
            <input type="hidden" name="ReviewType" value="@Model.ReviewType" />
            <input type="hidden" name="ModificationIdentifier" value="@Model.ModificationIdentifier" />
            <input type="hidden" name="RtsId" value="@Model.RtsId" />
            <input type="hidden" name="Status" value="@Model.Status" />

            <div class="govuk-form-group @(hasError ? "govuk-form-group--error" : "")">

                @if (hasError)
                {
                    <p class="govuk-error-message">
                        @ViewData.ModelState[nameof(Model.Outcome)]?.Errors?.FirstOrDefault()?.ErrorMessage
                    </p>
                }

                @foreach (var option in outcomeOptions)
                {
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input"
                               id="@option.Value"
                               name="Outcome"
                               type="radio"
                               value="@option.Value"
                               checked="@(Model.Outcome == option.Value ? "checked" : null)" />

                        <label class="govuk-label govuk-radios__label"
                               for="@option.Value">
                            @option.Label
                        </label>
                        <feature name="@FeatureFlags.SponsorAuthorisation">
                            <authorized role-in="@(new []{Roles.Sponsor, Roles.OrganisationAdministrator})"
                                        status-for="@Model.Status"
                                        status-is="@ModificationStatus.ResponseWithSponsor">

                                <div class="govuk-hint govuk-radios__hint">
                                    @Html.Raw(option.HintText)
                                </div>
                            </authorized>
                        </feature>
                    </div>
                }
            </div>
            <partial name="_SubmitButton"
                     model="@("sws:checkandauthorise", "Confirm selection", new Dictionary<string, string>())" />
        </form>
    </authorized>
}