@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Rsp.IrasPortal.Application.Constants
@using Rsp.Gds.Component.Models
@model QuestionnaireViewModel

@{
    var index = (int)ViewBag.Index;
    var question = Model.Questions[index];
    var errorKey = $"Questions[{index}].SelectedOption";
    var validationMessage = "Select one option";
    var fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

    var rules = question.Rules;
    var conditional = !question.IsMandatory && rules.Count > 0;
    var parents = conditional ? string.Join(',', rules.Select(rule => rule.ParentQuestionId)) : "";
    var questionId = conditional ? question.QuestionId : "";

    var hintHtml = rules.Count > 0
        ? new HtmlString("<div class='govuk-hint'>" +
                         string.Join("", rules.Select(r => $"<p>{r.Description}</p>")) +
                         "</div>")
        : HtmlString.Empty;

    var conditionalClass = ViewData[ViewDataKeys.ConditionalClass] as string ?? string.Empty;
}

<rsp-gds-radio-group asp-for="Questions[@index].SelectedOption"
                     label-text="@question.QuestionText"
                     options="@(question.Answers.Select(a => new GdsOption { Value = a.AnswerId.ToString(), Label = a.AnswerText }))"
                     conditional-field="conditional"
                     conditional-class="@conditionalClass"
                     dataquestionid-attr="@questionId"
                     dataparents-attr="@parents"
                     div-inline-class="@(conditional ? "govuk-radios" : "govuk-radios govuk-radios--inline")"
                     item-hidden-properties="AnswerId,AnswerText"
                     hidden-model="question.Answers"
                     validation-message="@validationMessage"
                     question-id="@question.QuestionId"
                     legend-class="govuk-fieldset__legend--s"
                     hint-html="@hintHtml">
</rsp-gds-radio-group>