@using Microsoft.AspNetCore.Http.Extensions
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Domain.Identity
@model (List<ModificationsModel> Modifications, IEnumerable<User> Reviewers)

@{
    ViewData["Title"] = "Select a reviewer - Modifications ready to assign - Modifications - Approvals - System Administration";
	TempData[TempDataKeys.ProjectModification.LinkBackToReferrer] = true;
	TempData[TempDataKeys.ProjectModification.UrlReferrer] = Context.Request.GetDisplayUrl();
}

@section BackNavigation {
    <partial name="_BackNavigation" model="@("tasklist:index", "Back", new Dictionary<string, string>())" />
}

<h1 class="govuk-heading-l">Select a reviewer</h1>

<form method="post" asp-action="AssignModifications">
    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Modification ID</th>
                <th scope="col" class="govuk-table__header">Short project title</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var item in Model.Modifications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a asp-route="pmc:reviewallchanges"
                                                     asp-route-projectRecordId="@item.ProjectRecordId"
						   asp-route-irasId="@(item.ModificationId?.Split('/')[0])"
                                                     asp-route-shortTitle="@item.ShortProjectTitle"
						   asp-route-projectModificationId="@item.Id"
                                                     class="govuk-link">
							@item.ModificationId
                        </a>
                    </td>
                    <td class="govuk-table__cell">
                        <a asp-route="pov:projectdetails"
                           asp-route-projectRecordId="@item.ProjectRecordId"
                           asp-route-backRoute="tasklist:index"
                           class="govuk-link">
                            @item.ShortProjectTitle
                        </a>
                    </td>
                </tr>
                <input type="hidden" name="ModificationIds" value="@item.Id" />
            }
        </tbody>
    </table>

    <div class="govuk-form-group">
        <label class="govuk-heading-m" for="reviewer">
            Select a study-wide reviewer to manage the modifications
        </label>
        <div id="reviewer-hint" class="govuk-hint">
            Select one reviewer
        </div>
        <select class="govuk-select" id="reviewer" name="ReviewerId" aria-describedby="reviewer-hint">
            @foreach (var reviewer in Model.Reviewers)
            {
                <option value="@reviewer.Id">@reviewer.GivenName @reviewer.FamilyName</option>
            })
        </select>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">Complete assignment</button>
</form>