@using Rsp.Portal.Application.Constants
@model SponsorOrganisationUserModel

@{
    ViewBag.Title = Model.User.GivenName + " " + Model.User.FamilyName + " - User profile";

    var routeData = new Dictionary<string, string>
     {
         { "rtsId", Model.SponsorOrganisationUser.RtsId },
         { "userId", Model.User.Id }
     };
}

<a asp-route="soc:viewsponsororganisationuser" asp-all-route-data="@routeData" class="govuk-back-link">Back</a>

<partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />

<div>
    <form method="post" class="govuk-form-group">

        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Edit user profile record</h1>
        </div>

        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Profile details</h3>
            <table class="govuk-table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Title</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.Title
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>First name</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.GivenName
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Last name</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.FamilyName
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Email</b>
                        </td>
                        <td class="govuk-table__cell line-break-anywhere">
                            @Model.User.Email
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Telephone</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.Telephone
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Organisation</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.Organisation
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <b>Job title</b>
                        </td>
                        <td class="govuk-table__cell">
                            @Model.User.JobTitle
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-m">Further details</h3>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Role
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role" name="SponsorOrganisationUser.SponsorRole" type="radio" value="@Roles.OrganisationAdministrator" @(Model.SponsorOrganisationUser.SponsorRole == Roles.OrganisationAdministrator ? "checked" : string.Empty)>
                            <label class="govuk-label govuk-radios__label" for="role">
                                Organisation administrator
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="role-2" name="SponsorOrganisationUser.SponsorRole" type="radio" value="@Roles.Sponsor" @(Model.SponsorOrganisationUser.SponsorRole == Roles.Sponsor ? "checked" : string.Empty)>
                            <label class="govuk-label govuk-radios__label" for="role-2">
                                Sponsor
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <input asp-for="SponsorOrganisationUser.RtsId" hidden value="@Model.SponsorOrganisationUser.RtsId" />
            <input asp-for="SponsorOrganisationUser.UserId" hidden value="@Model.SponsorOrganisationUser.UserId" />
            <input asp-for="SponsorOrganisationUser.Email" hidden value="@Model.SponsorOrganisationUser.Email" />

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Authoriser
                    </legend>
                    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="authoriser" name="SponsorOrganisationUser.IsAuthoriser" type="radio" value="true" @(Model.SponsorOrganisationUser.IsAuthoriser ? "checked" : string.Empty)>
                            <label class="govuk-label govuk-radios__label" for="authoriser">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="authoriser-2" name="SponsorOrganisationUser.IsAuthoriser" type="radio" value="false" @(!Model.SponsorOrganisationUser.IsAuthoriser ? "checked" : string.Empty)>
                            <label class="govuk-label govuk-radios__label" for="authoriser-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <partial name="_SubmitButton"
                     model="@("soc:submiteditsponsororganisationuser", "Save", new Dictionary<string, string>())" />

        </div>

    </form>
</div>
<script>
    $(document).ready(function () {
        const roleAdmin = $("#role");
        const roleSponsor = $("#role-2");
        const authoriserYes = $("#authoriser");

        function updateAuthoriserState() {
            if (roleAdmin.is(":checked")) {
                authoriserYes.prop("checked", true);
            }
        }

        roleAdmin.on("change", updateAuthoriserState);
        roleSponsor.on("change", updateAuthoriserState);

        // Run once on load
        updateAuthoriserState();
    });
</script>