@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@model SponsorOrganisationUserModel

@{
    @if (ViewBag.Type == "add")
    {
        ViewData["Title"] = "Check and add user profile to sponsor organisations - Manage sponsor organisations - System administration";
    }
    else if (ViewBag.Type == "edit")
    {
        ViewData["Title"] = "View and edit user profile - Manage sponsor organisations - System administration";
    }

    ViewData["IsUserAuthorizer"] = Model.SponsorOrganisationUser.IsAuthoriser;
    ViewData["ShowAuthorizerInfo"] = true;

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.Title", null);
    var addNewUserFlowHeadline = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.AddNewUserTitle", null);
    var addNewUserFlowBody = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.AddNewUserBody", null);
    var disableUserFlowHeadline = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.DisableUserTitle", null);
    var disableUserFlowBody = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.DisableUserBody", null);
    var enableUserFlowHeadline = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.EnableUserTitle", null);
    var enableUserFlowBody = pageContent.GetValueOrDefault("SponsorOrganisations.ViewUser.EnableUserBody", null);
}

@section BackNavigation {
    @{
        var backRouteValues = new Dictionary<string, string>
        {
            { "rtsId", Model.SponsorOrganisation.RtsId }
        };
    }

    @if (ViewBag.Type == "add")
    {
        if (Model.SponsorOrganisationUser.SponsorRole == Roles.OrganisationAdministrator)
        {
            <partial name="_BackNavigation" model="@("soc:adduserrole", "Back", new Dictionary<string, string>{ { "RtsId", Model.SponsorOrganisation.RtsId }, { "UserId", Model.User.Id! } })"/>
        }
        else
        {
            <partial name="_BackNavigation" model="@("soc:adduserpermission", "Back", new Dictionary<string, string>{})" />
        }
    }
    else if (ViewBag.Type == "edit")
    {
        <partial name="_BackNavigation" model="@("soc:viewsponsororganisationusers", "Back", backRouteValues)"/>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (ViewBag.Type == "add")
        {
            <h1 class="govuk-heading-l">@Html.Raw(addNewUserFlowHeadline?.Value)</h1>
            <p class="govuk-body">@Html.Raw(addNewUserFlowBody?.Value) @Model.SponsorOrganisation.SponsorOrganisationName.</p>
        }
        else if (ViewBag.Type == "edit")
        {
            <h1 class="govuk-heading-l">@Html.Raw(headline?.Value)</h1>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" id="submit-user-form">

            <input type="hidden" name="UserId" value="@Model.User.Id"/>
            <input type="hidden" name="RtsId" value="@Model.SponsorOrganisation.RtsId"/>
            <input type="hidden" name="SponsorOrganisationId" value="@Model.SponsorOrganisation.Id"/>
            <partial name="_UserSummaryTablePartial" model="Model.User"/>

            @if (ViewBag.Type == "add")
            {
                <partial name="_SubmitButton" model="@("soc:submitadduser", "Add user", new Dictionary<string, string>())"/>
            }
            else if (ViewBag.Type == "edit")
            {
                @if (Model.SponsorOrganisationUser.IsActive)
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">@Html.Raw(disableUserFlowHeadline?.Value)</h2>
                            <div class="govuk-hint">
                                @Html.Raw(disableUserFlowBody?.Value)
                            </div>
                            <form method="post">
								<input name="userId" value="@Model.User.Id" type="hidden" />
								<input name="rtsId" value="@Model.SponsorOrganisationUser.RtsId" type="hidden" />
                                <button asp-route="soc:disableuser" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                    Disable user
                                </button>
                            </form>
                        </div>
                    </div>
                }
                else if (!Model.SponsorOrganisationUser.IsActive)
                {
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-heading-m">@Html.Raw(enableUserFlowHeadline?.Value)</h2>
                            <div class="govuk-hint">
                                @Html.Raw(enableUserFlowBody?.Value)
                            </div>
                            <form method="post">
								<input name="userId" value="@Model.User.Id" type="hidden" />
								<input name="rtsId" value="@Model.SponsorOrganisationUser.RtsId" type="hidden" />
                                <button asp-route="soc:enableuser" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                    Enable user
                                </button>
                            </form>
                        </div>
                    </div>
                }
            }
        </form>
    </div>
</div>