@using System.Text.Json
@using Rsp.Gds.Component.Models
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model SponsorOrganisationSearchViewModel

@{
    ViewData["Title"] = "Manage sponsor organisations - System Administration";

    var statusOptions = new List<GdsOption>
    {
        new() { Value = "true", Label = "Active" },
        new() { Value = "false", Label = "Disabled" }
    };

    var sortableHeaders = new[]
    {
        new { Field = nameof(SponsorOrganisationDto.SponsorOrganisationName), Label = "Organisation name" },
        new { Field = nameof(SponsorOrganisationDto.Countries), Label = "Country" },
        new { Field = nameof(SponsorOrganisationDto.IsActive), Label = "Status" }
    };
    var tableId = "sponsorOrganisationTable";

	var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorOrganisations.Index.Title", null);
    var addNewLink = pageContent.GetValueOrDefault("SponsorOrganisations.Index.AddNewLink", null);
    var searchTitle = pageContent.GetValueOrDefault("SponsorOrganisations.Index.SearchTitle", null);
    var searchHint = pageContent.GetValueOrDefault("SponsorOrganisations.Index.SearchHint", null);
}

@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@

@section BackNavigation {
    <partial name="_BackNavigation" model="@("systemadmin:view", "Back", new Dictionary<string, string>())"/>
}

@functions {

    private bool CanOpenPanelForField(string fieldName)
    {
        return false;
    }

    private bool HasFilterErrors()
    {
        return ViewData.ModelState.Values.Any(v => v.Errors.Count > 0);
    }

}

@if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="_NotificationBanner" model="@("Success", "You have successfully added a new sponsor organisation")"/>
        </div>

    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l gov-heading-nowrap">@Html.Raw(headline?.Value)</h1>
    </div>
    <div class="govuk-grid-column-one-half">
        <a class="govuk-link govuk-body float-right" asp-route="soc:setupsponsororganisation">@Html.Raw(addNewLink?.Value)</a>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form method="post" class="govuk-form-group" asp-route="soc:applyfilters" asp-route-fromPagination="false">
            <label class="govuk-label" for="Search.SearchQuery">
                <b>@Html.Raw(searchTitle?.Value)</b>
            </label>
            <div class="govuk-hint">
                @Html.Raw(searchHint?.Value)
            </div>

            <div class="review-body-search">
                <input class="govuk-input" id="Search.SearchQuery" name="Search.SearchQuery" type="text"
                       value="@(Model.Search?.SearchQuery ?? string.Empty)"/>
                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }

                <partial name="_SubmitButton"
                         model="@("soc:applyfilters", "Search", new Dictionary<string, string>())"/>
            </div>
            <input hidden readonly name="PageSize" value="@Model.Pagination?.PageSize"/>


            <!-- Filter Panel -->
            <div class="search-filter-panel">
                <details class="search-filter-toggle" @(HasFilterErrors() ? "open" : null)>
                    <summary class="search-filter-panel__header"
                             tabindex="-1"
                             role="button"
                             aria-controls="filter-panel"
                             aria-expanded="@(HasFilterErrors().ToString().ToLower())">

                        <span class="search-filter-panel__button-inner govuk-link"
                              tabindex="0">
                            Advanced filters
                        </span>

                        <span class="search-filter-panel__count" aria-hidden="true" tabindex="-1">
                            @(Model.Pagination?.TotalCount ?? 0) results
                        </span>
                    </summary>

                    <div class="search-filter-panel__content" id="filter-panel" role="region" aria-labelledby="toggle-filter">


                        <!-- Apply -->
                        <div class="search-filter-panel__actions">
                            <button class="govuk-button search-filter-panel__action search-filter-panel__action--submit">Apply filters</button>
                        </div>
                    </div>
                </details>
            </div>
        </form>

        <!-- Active Filters Panel -->
        @if (Model.Search.Filters.Any())
        {
            <div class="search-filter-summary">
                <h3 class="search-filter-summary__heading">Active filters</h3>
                <ul class="search-filter-summary__remove-filters">
                    @foreach (var filter in Model.Search.Filters)
                    {
                        var filterKey = filter.Key;
                        var filterValues = filter.Value?.Split(",") ?? [];

                        foreach (var val in filterValues)
                        {
                            <li>
                                <a asp-route="soc:removefilter"
                                   asp-route-key="@filterKey"
                                   asp-route-value="@val.Trim()"
                                   asp-route-model="@JsonSerializer.Serialize(Model.Search)"
                                   class="search-filter-summary__remove-filter">
                                    <span class="search-filter-summary__remove-filter-text">
                                        <span class="govuk-visually-hidden">Remove filter</span>
                                        @filterKey - @val.Trim()
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div>
                    <a asp-route="soc:clearfilters"
                       asp-route-searchQuery="@Model.Search?.SearchQuery"
                       class="search-filter-summary__clear-filters govuk-link govuk-link--no-visited-state">
                        Clear all filters
                    </a>

                </div>
            </div>
        }
    </div>
</div>


<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        @if (Model.SponsorOrganisations != null && Model.SponsorOrganisations.Any())
        {
                <div class="govuk-table-wrapper">
                    <table class="govuk-table govuk-table-users" id="@tableId">
                        <thead>
                        <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                            @foreach (var header in sortableHeaders)
                            {
                                var sortableHeaderModel = new SortableHeaderModel
                                {
                                    FieldName = header.Field,
                                    DisplayText = header.Label,
                                    CurrentSortField = Model.Pagination?.SortField,
                                    CurrentSortDirection = Model.Pagination?.SortDirection,
                                    TableId = tableId
                                };

                                <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                    <partial name="_SortableHeaderButton" model="@sortableHeaderModel"/>
                                </th>
                            }
                            <th scope="col" class="govuk-table__header">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @foreach (var sponsorOrganisation in Model.SponsorOrganisations)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@sponsorOrganisation.SponsorOrganisationName</td>
                                <td class="govuk-table__cell">@string.Join(", ", sponsorOrganisation.Countries)</td>
                                <td class="govuk-table__cell">
                                    <span class="govuk-tag @(sponsorOrganisation.IsActive ? "govuk-tag--green" : "govuk-tag--red")">
                                        @(sponsorOrganisation.IsActive ? "Active" : "Disabled")
                                    </span>
                                </td>
                                <td class="govuk-table__cell">
									<a class="govuk-link" asp-route="soc:viewsponsororganisation" asp-route-rtsId="@sponsorOrganisation.RtsId">View/Edit</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <partial name="_Pagination" model="@Model.Pagination"/>
                </div>
        }
        else if ((Model.Search.Filters.Any() && !Model.SponsorOrganisations.Any()) || !string.IsNullOrEmpty(Model.Search?.SearchQuery))
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds search-filter-error-border">
                    <h2 class="govuk-heading-l">There are no matching results</h2>
                    <p class="govuk-body">Improve your search results by:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>removing filters</li>
                        <li>double-checking your spelling</li>
                        <li>using fewer keywords</li>
                        <li>searching for something less specific</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/manageSponsorOrganisations.js"></script>