@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel
@{
    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null ?
        pageContentData :
        new Dictionary<string, MixedContentPageItem?>();

    var rfiHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.RfiTitle", null);
    var rfiBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.RfiBody", null);
    var tableHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.TableHeader", null);
    var reviseAndAuthoriseHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseHeader", null);
    var reviseAndAuthoriseBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseBody", null);
    var requestRevisionHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.RequestRevisionHeader", null);
    var requestRevisionBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiCheckAndSubmitResponses.RequestRevisionBody", null);

    var (header, body) = Model.Status switch
    {
        ModificationStatus.ResponseReviseAndAuthorise
            => (reviseAndAuthoriseHeader, reviseAndAuthoriseBody),
        ModificationStatus.ResponseWithSponsor
            => (requestRevisionHeader, requestRevisionBody),
        _ => (rfiHeader, rfiBody)
    };

    ViewBag.Title = header?.Value;

    var backRouteValues = new Dictionary<string, string>
    {
        ["projectRecordId"] = Model.ProjectRecordId,
        ["irasId"] = Model.IrasId,
        ["shortTitle"] = Model.ShortTitle,
        ["projectModificationId"] = Model.ModificationId,
        ["sponsorOrganisationUserId"] = Model.SponsorOrganisationUserId,
        ["rtsId"] = Model.RtsId
    };
}

@section BackNavigation {
    <partial name="_BackNavigation" model="@("rfi:RfiResponses", "Back", backRouteValues)" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            @Html.Raw(header?.Value)
        </h1>
        <div class="govuk-body">
            @Html.Raw(body?.Value)
        </div>
        <h2 class="govuk-heading-m">
            @Html.Raw(tableHeader?.Value)
        </h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form method="post" asp-action="RfiSubmitResponses">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Short project title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ShortTitle
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Modification ID
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ModificationIdentifier
                    </dd>
                </div>

                @for (var i = 0; i < Model.RfiModel.RfiReasons.Count; i++)
                {
                    <!-- REASON -->
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reason @(i + 1)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.RfiModel.RfiReasons[i]
                        </dd>
                    </div>

                    <!-- APPLICANT – INITIAL RESPONSE -->
                    <authorized role-is="@Roles.Applicant"
                                status-for="@Model.Status"
                                status-is="@ModificationStatus.RequestForInformation">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Response to reason @(i + 1)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var response = Model.RfiModel.RfiResponses
                                        .ElementAtOrDefault(i)?
                                        .InitialResponse
                                        .FirstOrDefault();
                                }
                                @(string.IsNullOrWhiteSpace(response) ? "No response provided" : response)
                            </dd>
                        </div>
                    </authorized>

                    <!-- REVISE AND AUTHORISE -->
                    <authorized permission="@Permissions.Sponsor.Modifications_Authorise"
                                status-for="@Model.Status"
                                status-is="@ModificationStatus.ResponseReviseAndAuthorise">

                        <!-- REVISED RESPONSE -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Response to reason @(i + 1)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var revisedResponse = Model.RfiModel.RfiResponses
                                        .ElementAtOrDefault(i)?
                                        .ReviseAndAuthorise
                                        .FirstOrDefault();
                                }
                                @(string.IsNullOrWhiteSpace(revisedResponse)
                                    ? "No revised response provided"
                                    : revisedResponse)
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link"
                                   asp-route="rfi:RfiResponses"
                                   asp-all-route-data="backRouteValues">
                                    Change
                                </a>
                            </dd>
                        </div>

                        <!-- REASON FOR REVISED RESPONSE -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reason for revised response to reason @(i + 1)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var reasonForRevision = Model.RfiModel.RfiResponses
                                        .ElementAtOrDefault(i)?
                                        .ReasonForReviseAndAuthorise
                                        .FirstOrDefault();
                                }
                                @(string.IsNullOrWhiteSpace(reasonForRevision)
                                    ? "No reason for revised response provided"
                                    : reasonForRevision)
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link"
                                   asp-route="rfi:RfiResponses"
                                   asp-all-route-data="backRouteValues">
                                    Change
                                </a>
                            </dd>
                        </div>
                    </authorized>

                    <!-- Request revision -->
                    <authorized permission="@Permissions.Sponsor.Modifications_Authorise"
                                status-for="@Model.Status"
                                status-is="@ModificationStatus.ResponseWithSponsor">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Response to reason @(i + 1)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var requestRevisionResponse = Model.RfiModel.RfiResponses
                                        .ElementAtOrDefault(i)?
                                        .InitialResponse
                                        .FirstOrDefault();
                                }
                                @(string.IsNullOrWhiteSpace(requestRevisionResponse) ? "No response provided" : requestRevisionResponse)
                            </dd>
                        </div>
                        <!-- Request revision response by sponsor -->
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Requested revisions to response to reason @(i + 1)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @{
                                    var requestRevisionResponseBySponsor = Model.RfiModel.RfiResponses
                                        .ElementAtOrDefault(i)?
                                        .RequestRevisionsBySponsor
                                        .FirstOrDefault();
                                }
                                @(string.IsNullOrWhiteSpace(requestRevisionResponseBySponsor)
                     ? "No request revision response provided"
                     : requestRevisionResponseBySponsor)
                            </dd>
                        </div>
                    </authorized>
                }
            </dl>

            <div status-for="@Model.Status"
                 status-is="@ModificationStatus.RequestForInformation">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Send response to sponsor
                </button>
            </div>

            <div status-for="@Model.Status"
                 status-is="@ModificationStatus.ResponseReviseAndAuthorise">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Authorise and submit
                </button>
            </div>
            <div class="govuk-grid-row">
                <div status-for="@Model.Status"
                     status-is="@ModificationStatus.ResponseWithSponsor">
                    <input type="hidden" name="SponsorOrganisationUserId" value="@Model.SponsorOrganisationUserId" />
                    <input type="hidden" name="RtsId" value="@Model.RtsId" />

                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Send revisions request
                    </button>
                    <button asp-action="RfiSubmitResponses" asp-route-saveForLater="true" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Save for later
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>