@using Rsp.IrasPortal.Web.Features.Modifications.RfiResponse.Models
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@model BaseProjectModificationViewModel
@{
    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null ?
        pageContentData :
        new Dictionary<string, MixedContentPageItem?>();

    var rfiHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.RfiTitle", null);
    var rfiBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.RfiBody", null);
    var reviseAndAuthoriseHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.ReviseAndAuthoriseHeader", null);
    var reviseAndAuthoriseBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.ReviseAndAuthoriseBody", null);
    var requestRevisionHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.RequestRevisionHeader", null);
    var requestRevisionBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.RequestRevisionBody", null);
    var responsRequestRevisionHeader = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.ResponseRequestRevisionHeader", null);
    var responsRequestRevisionBody = pageContent.GetValueOrDefault("Modifications.Rfi.RfiResponsesConfirmation.ResponseRequestRevisionBody", null);

    var (header, body) = Model.Status switch
    {
        ModificationStatus.ResponseReviseAndAuthorise
            => (reviseAndAuthoriseHeader, reviseAndAuthoriseBody),
        ModificationStatus.ResponseWithSponsor
            => (requestRevisionHeader, requestRevisionBody),
        ModificationStatus.ResponseRequestRevisions
            => (responsRequestRevisionHeader, responsRequestRevisionBody),
        _ => (rfiHeader, rfiBody)
    };

    ViewBag.Title = header?.Value;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                @Html.Raw(header?.Value)
            </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            @Html.Raw(body?.Value)
        </p>

        <div status-for="@Model.Status"
             status-in="@([ModificationStatus.RequestForInformation,ModificationStatus.ResponseRequestRevisions ])">
            <a class="govuk-button" asp-route="pov:postapproval" asp-route-projectRecordId="@Model.ProjectRecordId">
                Return to project overview
            </a>
        </div>

        <div status-for="@Model.Status"
             status-in="@([ModificationStatus.ResponseReviseAndAuthorise, ModificationStatus.ResponseWithSponsor])">
            <a class="govuk-button" asp-route="sws:modifications"
               asp-route-projectRecordId="@Model.ProjectRecordId"
               asp-route-sponsorOrganisationUserId="@Model.SponsorOrganisationUserId"
               asp-route-rtsId="@Model.RtsId">
                Return to authorisations
            </a>
        </div>
    </div>
</div>