@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel
@{
    ViewBag.Title = "Request for further information";
}

<authorized permission="@Permissions.Sponsor.Modifications_Authorise"
            status-for="Status"
            status-is="@ModificationStatus.ResponseReviseAndAuthorise">
    @{
        ViewBag.Title = "Revise and authorise";
        ViewBag.IsRevisionBySponsor = true;
        ViewData[ViewDataKeys.ShowModificationChangeStatus] = false;
    }
</authorized>

<div status-for="@Model.Status" status-is="@ModificationStatus.ResponseReviseAndAuthorise" status-mode="Hide">
    @section BackNavigation {
        @if (Model.Status == ModificationStatus.ResponseWithSponsor)
        {
            <partial name="_BackNavigation" model="@(("sws:checkandauthorise", "Back", new Dictionary<string, string> {
           { "projectRecordId", Model.ProjectRecordId },
           { "irasId", Model.IrasId.ToString() },
           { "shortTitle", Model.ShortTitle },
           { "projectModificationId", Model.ModificationId},
           { "sponsorOrganisationUserId", Model.SponsorOrganisationUserId.ToString() },
           { "rtsId", Model.RtsId }}))" />
        }
        else
        {
            <partial name="_BackNavigation" model="@("rfi:rfidetails", "Back", new Dictionary<string, string>() { { "projectId", Model.ProjectRecordId! }, { "modificationId", Model.ModificationId! } })" />
        }
    }
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div status-for="@Model.Status" status-in="@([ModificationStatus.ResponseReviseAndAuthorise,ModificationStatus.ResponseWithSponsor])" status-mode="Hide">
            <h2 class="govuk-heading-l">Request for further information</h2>
        </div>
        <div status-for="@Model.Status" status-is="@ModificationStatus.ResponseReviseAndAuthorise">
            <h2 class="govuk-heading-l">Revise and authorise response to request for further information</h2>
        </div>
        <div status-for="@Model.Status" status-is="@ModificationStatus.ResponseWithSponsor">
            <h2 class="govuk-heading-l">Request revisions to the response</h2>
        </div>
        <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">IRAS ID</dt>
                <dd class="govuk-summary-list__value">@Model.IrasId</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Short project title</dt>
                <dd class="govuk-summary-list__value">@Model.ShortTitle</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Modification ID</dt>
                <dd class="govuk-summary-list__value">@Model.ModificationIdentifier</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Date reviewer submitted</dt>
                <dd class="govuk-summary-list__value">@Model.DateSubmitted</dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="#"
           class="govuk-link govuk-accordion-toggle-link"
           id="toggleChanges"
           role="button"
           aria-expanded="false"
           aria-controls="modificationChanges">
            <span class="govuk-accordion-toggle-link__icon" aria-hidden="true"></span>
            <span class="govuk-accordion-toggle-link__text">
                Show submitted changes in this modification
            </span>
        </a>
    </div>
</div>
<div class="govuk-grid-row">
    <div id="modificationChanges" class="govuk-grid-column-full">
        <partial name="ModificationChanges" model="Model" view-data="ViewData" />
    </div>
</div>
<br />
<form method="post" asp-action="SendRfiResponses">
    <h2 class="govuk-heading-m">Request for further information</h2>

    <input type="hidden" name="projectModificationId" value="@Model.ModificationId" />
    @for (var i = 0; i < Model.RfiModel.RfiReasons.Count; i++)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <label class="govuk-label" for="RfiReasons_@(i)_">
                    Reason @(i + 1)
                </label>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    @Model.RfiModel.RfiReasons[i]
                </p>
            </div>
        </div>

        <authorized role-is="@Roles.Applicant" status-for="@Model.Status" status-is="@ModificationStatus.RequestForInformation">

            <!-- INITIAL RESPONSE -->
            <div class="govuk-grid-row">
                @{
                    var initialTextareaId = $"RfiModel_RfiResponses_{i}__InitialResponse_0_";
                    var infoId = $"{initialTextareaId}-info";
                    var initialFieldErrors = ViewData.ModelState[initialTextareaId]?.Errors;
                    var initialHasError = initialFieldErrors?.Count > 0;
                    var initialErrorMessage = initialHasError ? initialFieldErrors[0].ErrorMessage : string.Empty;
                    var initialErrorId = $"{initialTextareaId}-error";
                }

                <div class="govuk-grid-column-one-third">
                    <label class="govuk-label" for="RfiResponses_@(i)__InitialResponse_0__">
                        Response to reason @(i + 1)
                    </label>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group govuk-character-count"
                         data-module="govuk-character-count"
                         data-maxlength="300"
                         error-class-for="RfiModel.RfiResponses[i].InitialResponse[0]">

                        @if (initialHasError)
                        {
                            <span id="@initialErrorId"
                                  class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @initialErrorMessage
                            </span>
                        }

                        <textarea asp-for="RfiModel.RfiResponses[i].InitialResponse[0]"
                                  class="govuk-textarea govuk-js-character-count"
                                  rows="5"
                                  aria-describedby="@infoId">
                                        </textarea>
                        <noscript>
                            <div id="@infoId"
                                 class="govuk-hint govuk-character-count__message">
                                <p class='govuk-hint'>You can enter up to 300 characters</p>
                            </div>
                        </noscript>

                        <div id="@infoId"
                             aria-hidden="true"
                             class="govuk-hint govuk-character-count__message">
                        </div>
                    </div>
                </div>
            </div>
        </authorized>

        <authorized permission="@Permissions.Sponsor.Modifications_Authorise" status-for="@Model.Status" status-is="@ModificationStatus.ResponseReviseAndAuthorise">

            <!-- REVISED RESPONSE -->
            <div class="govuk-grid-row">
                @{
                    var reviseTextareaId = $"RfiModel_RfiResponses_{i}__ReviseAndAuthorise_0_";
                    var reviseInfoId = $"{reviseTextareaId}-info";
                    var reviseFieldErrors = ViewData.ModelState[reviseTextareaId]?.Errors;
                    var reviseHasError = reviseFieldErrors?.Count > 0;
                    var reviseErrorMessage = reviseHasError ? reviseFieldErrors[0].ErrorMessage : string.Empty;
                    var reviseErrorId = $"{reviseTextareaId}-error";
                }

                <div class="govuk-grid-column-one-third">
                    <label class="govuk-label"
                           for="RfiResponses_@(i)__ReviseAndAuthorise_0__">
                        Revise response to reason @(i + 1)
                    </label>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group govuk-character-count"
                         data-module="govuk-character-count"
                         data-maxlength="300"
                         error-class-for="RfiModel.RfiResponses[i].ReviseAndAuthorise[0]">

                        @if (reviseHasError)
                        {
                            <span id="@reviseErrorId"
                                  class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @reviseErrorMessage
                            </span>
                        }

                        <textarea asp-for="RfiModel.RfiResponses[i].ReviseAndAuthorise[0]"
                                  class="govuk-textarea govuk-js-character-count"
                                  rows="5"
                                  aria-describedby="@reviseInfoId">
                        </textarea>

                        <noscript>
                            <div id="@reviseInfoId"
                                 class="govuk-hint govuk-character-count__message">
                                <p class="govuk-hint">
                                    You can enter up to 300 characters
                                </p>
                            </div>
                        </noscript>

                        <div id="@reviseInfoId"
                             aria-hidden="true"
                             class="govuk-hint govuk-character-count__message">
                        </div>
                    </div>
                </div>
            </div>

            <!-- REASON FOR REVISED RESPONSE -->
            <div class="govuk-grid-row">
                @{
                    var reasonTextareaId = $"RfiModel_RfiResponses_{i}__ReasonForReviseAndAuthorise_0_";
                    var reasonInfoId = $"{reasonTextareaId}-info";
                    var reasonFieldErrors = ViewData.ModelState[reasonTextareaId]?.Errors;
                    var reasonHasError = reasonFieldErrors?.Count > 0;
                    var reasonErrorMessage = reasonHasError ? reasonFieldErrors[0].ErrorMessage : string.Empty;
                    var reasonErrorId = $"{reasonTextareaId}-error";
                }

                <div class="govuk-grid-column-one-third">
                    <label class="govuk-label"
                           for="RfiResponses_@(i)__ReasonForReviseAndAuthorise_0__">
                        Reason for revised response to reason @(i + 1)
                    </label>
                </div>

                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group govuk-character-count"
                         data-module="govuk-character-count"
                         data-maxlength="300"
                         error-class-for="RfiModel.RfiResponses[i].ReasonForReviseAndAuthorise[0]">

                        @if (reasonHasError)
                        {
                            <span id="@reasonErrorId"
                                  class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>
                                @reasonErrorMessage
                            </span>
                        }

                        <textarea asp-for="RfiModel.RfiResponses[i].ReasonForReviseAndAuthorise[0]"
                                  class="govuk-textarea govuk-js-character-count"
                                  rows="5"
                                  aria-describedby="@reasonInfoId">
                        </textarea>

                        <noscript>
                            <div id="@reasonInfoId"
                                 class="govuk-hint govuk-character-count__message">
                                <p class="govuk-hint">
                                    You can enter up to 300 characters
                                </p>
                            </div>
                        </noscript>

                        <div id="@reasonInfoId"
                             aria-hidden="true"
                             class="govuk-hint govuk-character-count__message">
                        </div>
                    </div>
                </div>
            </div>
        </authorized>

        <!-- REQUEST REVISION -->
        <feature name="@FeatureFlags.SponsorAuthorisation">
            <authorized role-in="@([Roles.Applicant, Roles.Sponsor, Roles.OrganisationAdministrator])"
                        permission="@Permissions.Sponsor.Modifications_Authorise"
                        status-for="@Model.Status"
                        status-is="@ModificationStatus.ResponseWithSponsor">
                @{
                    var requestRevisionTextareaId = $"RfiModel_RfiResponses_{i}__RequestRevisionsBySponsor_0_";
                    var requestRevisionInfoId = $"{requestRevisionTextareaId}-info";
                    var requestRevisionFieldErrors = ViewData.ModelState[requestRevisionTextareaId]?.Errors;
                    var requestRevisionHasError = requestRevisionFieldErrors?.Count > 0;
                    var requestRevisionErrorMessage = requestRevisionHasError ? requestRevisionFieldErrors[0].ErrorMessage : string.Empty;
                    var requestRevisionErrorId = $"{requestRevisionTextareaId}-error";
                }
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <label class="govuk-label" for="RfiModel_RfiResponses_@(i)__InitialResponse_0_">
                            Response to reason @(i + 1)
                        </label>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <label class="govuk-label" for="RfiModel_RfiResponses_@(i)__InitialResponse_0_">
                            @{
                                var response = Model.RfiModel.RfiResponses
                                .ElementAtOrDefault(i)?
                                .InitialResponse
                                .FirstOrDefault();
                            }
                            @response
                        </label>
                    </div>
                </div>
                <br />
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                        <label class="govuk-label" for="RfiResponses_@(i)__InitialResponse[0]">
                            Requested revisions to response to reason @(i + 1)
                        </label>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group govuk-character-count"
                             data-module="govuk-character-count"
                             data-maxlength="300"
                             error-class-for="RfiModel.RfiResponses[i].RequestRevisionsBySponsor[0]">

                            @if (requestRevisionHasError)
                            {
                                <span id="@requestRevisionErrorId"
                                      class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    @requestRevisionErrorMessage
                                </span>
                            }

                            <textarea asp-for="RfiModel.RfiResponses[i].RequestRevisionsBySponsor[0]"
                                      class="govuk-textarea govuk-js-character-count"
                                      rows="5"
                                      aria-describedby="@requestRevisionInfoId">
                            </textarea>

                            <noscript>
                                <div id="@requestRevisionInfoId"
                                     class="govuk-hint govuk-character-count__message">
                                    <p class="govuk-hint">
                                        You can enter up to 300 characters
                                    </p>
                                </div>
                            </noscript>

                            <div id="@requestRevisionInfoId"
                                 aria-hidden="true"
                                 class="govuk-hint govuk-character-count__message">
                            </div>
                        </div>
                    </div>
                </div>
            </authorized>
        </feature>
        <hr />
    }
    <div status-for="@Model.Status" status-is="@ModificationStatus.ResponseWithSponsor" status-mode="Hide">
        <hr aria-hidden="true" class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        @if (Model?.ProjectOverviewDocumentViewModel?.Documents is null || !Model.ProjectOverviewDocumentViewModel.Documents.Any())
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">Supporting documents</h2>
                    <p class="govuk-body">
                        If any of the changes you're making involve an update to any project documents, make sure you add a copy of the original and updated documents.
                    </p>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit"
                        formaction="@Url.RouteUrl("pmc:projectdocument")"
                        formmethod="get"
                        class="govuk-button govuk-button--secondary">
                    Add documents
                </button>
            </div>
        }
        else
        {
            <partial name="SupportingDocuments" model="Model" view-data="ViewData" />
        }
    </div>

    <div class="save-buttons">
        <input type="hidden" name="SponsorOrganisationUserId" value="@Model.SponsorOrganisationUserId" />
        <input type="hidden" name="RtsId" value="@Model.RtsId" />
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>
        <button asp-action="SendRfiResponses" asp-route-saveForLater="true" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save for later
        </button>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const toggle = document.getElementById("toggleChanges");
        const container = document.getElementById("modificationChanges");

        // hide by default
        container.style.display = "none";

        toggle.addEventListener("click", function (e) {
            e.preventDefault();

            const expanded = toggle.getAttribute("aria-expanded") === "true";

            toggle.setAttribute("aria-expanded", !expanded);
            container.style.display = expanded ? "none" : "block";

            toggle.querySelector(".govuk-accordion-toggle-link__text").textContent =
                expanded
                    ? "Show submitted changes in this modification"
                    : "Hide submitted changes in this modification";
        });

    });
</script>