@using Rsp.IrasPortal.Web.Areas.QuestionsManagement.Enums
@using Rsp.IrasPortal.Web.Areas.QuestionsManagement.Models
@model IEnumerable<RuleViewModel>

@{
    ViewData["Title"] = "Rules Management";
    var versionId = Context.Request.Query["versionId"].ToString();
    var questionId = Context.Request.Query["questionId"].ToString();

    var rulesRouteData = new Dictionary<string, string> { { "questionId", questionId }, { "versionId", versionId } };
}

@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("qm:home", "Back", new Dictionary<string, string>() { { "versionId", @versionId } })" />
}

<div class="govuk-grid-row">

    <partial name="_QuestionsManagementNav" />

    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-l">Rules</h1>

        <div id="question-list">
            @if (Model.Any())
            {
                @foreach (var rule in Model)
                {
                    var conditionsRouteData = new Dictionary<string, string> { { "ruleId", rule.RuleId.ToString() }, { "questionId", questionId }, { "versionId", versionId } };

                    <div class="govuk-summary-card govuk-!-margin-top-4">
                        <div class="govuk-summary-card__title-wrapper">
                            <h2 class="govuk-summary-card__title">@rule.QuestionText</h2>
                        </div>
                        <div class="govuk-summary-card__content">
                            <p><strong>Rule Id: </strong> @rule.RuleId</p>
                            <p><strong>Sequence: </strong>@rule.Sequence</p>
                            <p><strong>QuestionId: </strong> @rule.QuestionId</p>

                            @if (!string.IsNullOrWhiteSpace(rule.ParentQuestionId))
                            {
                                <p><strong>Parent Question Id: </strong>@rule.ParentQuestionId</p>

                                <p><strong>Parent Question: </strong>@rule.ParentQuestionText</p>

                            }

                            <p><strong>Mode: </strong>@rule.Mode.ToString()</p>

                            <p><strong>Description: </strong>@rule.Description</p>

                            <div class="govuk-button-group">
                                <a asp-route="qrm:editrule" asp-all-route-data="@conditionsRouteData" class="govuk-link">Edit Rule</a>
                                <a asp-route="qrm:deleterule" asp-all-route-data="@conditionsRouteData" class="govuk-link">Delete Rule</a>
                            </div>

                            <h1 class="govuk-heading-s">Conditions</h1>

                            <div id="conditions-list">

                                @if (!rule.Conditions.Any())
                                {
                                    <p>No conditions defined.</p>
                                }

                                @foreach (var condition in rule.Conditions)
                                {
                                    <div class="govuk-form-group condition-row">
                                        <div class="govuk-summary-card govuk-!-margin-top-4">
                                            <div class="govuk-summary-card__title-wrapper">
                                                <h2 class="govuk-summary-card__title">@condition.Description</h2>
                                            </div>
                                            <div class="govuk-summary-card__content">
                                                <p><strong>Mode: </strong> @condition.Mode</p>

                                                <p><strong>Operator: </strong> @condition.Operator</p>

                                                <p><strong>Parent Options: </strong>@condition.ParentOptionsAsString</p>

                                                <p><strong>Option Type: </strong>@condition.OptionType</p>

                                                <p><strong>Value: </strong> @condition.Value</p>

                                                <p><strong>Description: </strong>@condition.Description</p>

                                                <p><strong>Negate: </strong>@condition.Negate</p>

                                                <div class="govuk-button-group">
                                                    <a asp-route="rcm:editcondition" asp-all-route-data="@rulesRouteData" class="govuk-link">Edit Condition</a>
                                                    <a asp-route="rcm:deletecondition" asp-all-route-data="@rulesRouteData" class="govuk-link">Delete Condition</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @{
                                    conditionsRouteData["conditionType"] = ConditionType.Conditional.ToString();
                                }

                                <a asp-route="rcm:addcondition" asp-all-route-data="@conditionsRouteData" class="govuk-button govuk-button--secondary">Add condition</a>

                                @{
                                    conditionsRouteData["conditionType"] = ConditionType.Validation.ToString();
                                }

                                <a asp-route="rcm:addcondition" asp-all-route-data="@conditionsRouteData" class="govuk-button govuk-button--secondary">Add validation condition</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No rules defined.</p>
            }
        </div>

        <div class="govuk-button-group">
            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";
            }

            <a asp-route="qrm:addrule" asp-all-route-data="@rulesRouteData" class="govuk-button govuk-button--secondary">Add rule</a>
        </div>
    </div>
</div>