@using Rsp.IrasPortal.Web.Areas.Admin.Models

@model (IEnumerable<RoleViewModel> Roles, PaginationViewModel Pagination)

@{
    ViewBag.Active = "roles";
}

<h2 class="govuk-heading-l">Manage Roles</h2>

<partial name="_AdminMenu" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Role Name</th>
                    <th class="govuk-table__header">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var role in Model.Roles)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@role.Name</td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" asp-route="admin:editrole" asp-route-roleId="@role.Id" asp-route-roleName="@role.Name">Edit</a> |
                            <a class="govuk-link" asp-route="admin:deleterole" asp-route-roleId="@role.Id" asp-route-roleName="@role.Name">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model="@Model.Pagination" />
        <a class="govuk-button" asp-route="admin:createrole">Create New Role</a>
    </div>
</div>