@model QuestionnaireViewModel
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs
@using System.Text.Json

@{
    var sections = Model.Questions.ToLookup(q => q.Section);
    var previousStage = TempData[TempDataKeys.PreviousStage] as string;
    var currentStage = TempData[TempDataKeys.CurrentStage] as string;
    var errorSummaryTitle = "You need to complete these questions before you can continue::";
    var applicationId = TempData[TempDataKeys.ApplicationId] as string;

    void BuildValidationMessage(IList<RuleDto> rules, string errorKey, string validationMessage)
    {
        // local function to get distinct validations
        // where the condition is applicable and Description is not null
        IEnumerable<ConditionDto> GetConditions(RuleDto rule)
        {
            return rule.Conditions
                    .Where(c => c.IsApplicable && c.Description != null)
                    .DistinctBy(c => c.Description);
        }

        // get all the conditions for the rule
        var conditions = rules.SelectMany(rule => GetConditions(rule));

        var validationMessages = new List<string>();

        // if there are not conditions
        // use the validationMessage
        if (!conditions.Any())
        {
            // if the same validationMessage is not present in the list
            // build the validation message and add it, so that it doesn't
            // get repeated
            if (!validationMessages.Contains(validationMessage, StringComparer.OrdinalIgnoreCase))
            {
                @Html.ValidationMessage(errorKey, validationMessage, new { @class = "govuk-error-message" })

                validationMessages.Add(validationMessage);
            }
        }

        @foreach (var condition in conditions)
        {
            // if the same validationMessage is not present in the list
            // build the validation message and add it, so that it doesn't
            // get repeated
            if (!validationMessages.Contains(condition.Description!, StringComparer.OrdinalIgnoreCase))
            {
                @Html.ValidationMessage(errorKey, condition.Description, new { @class = "govuk-error-message" })

                validationMessages.Add(condition.Description!);
            }
        }
    }
}

<partial name="_BackNavigation" model="@("qnc:displayquestionnaire","Back", new Dictionary<string, string> { { "categoryId", previousStage }})" />

<form method="post">

    <partial name="_Progress" model="@(currentStage, "Initiate", applicationId)" />

    @if (ViewData[ViewDataKeys.IsQuestionnaireValid] is true)
    {
        <div class="govuk-panel govuk-panel--confirmation">
            <div class="govuk-panel__body">
                Validation Passed
            </div>
        </div>
    }

    <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

    <div class="govuk-form-group questions">

        <input hidden asp-for="CurrentStage" value="@currentStage" />

        @{
            var errorKey = string.Empty;
            var validationMessage = string.Empty;
            var fieldHasErrors = false;
        }

        @foreach (var section in sections)
        {
            <govuk-fieldset class="sections">
                <govuk-fieldset-legend class="govuk-fieldset__legend--l">
                    @(section.Key)
                </govuk-fieldset-legend>

                <hr class="govuk-section-break govuk-section-break--visible" />

                @foreach (var question in section)
                {
                    var index = question.Index; //Model.Questions.IndexOf(question);

                    <input type="hidden" asp-for="Questions[index].Index" />
                    <input type="hidden" asp-for="Questions[index].QuestionId" />
                    <input type="hidden" asp-for="Questions[index].Category" />
                    <input type="hidden" asp-for="Questions[index].SectionId" />
                    <input type="hidden" asp-for="Questions[index].Section" />
                    <input type="hidden" asp-for="Questions[index].Heading" />
                    <input type="hidden" asp-for="Questions[index].QuestionText" />
                    <input type="hidden" asp-for="Questions[index].QuestionType" />
                    <input type="hidden" asp-for="Questions[index].DataType" />
                    <input type="hidden" asp-for="Questions[index].IsMandatory" checked="@question.IsMandatory" />
                    <input type="hidden" asp-for="Questions[index].IsOptional" checked="@question.IsOptional" />

                    var rules = question.Rules;

                    if (!question.IsMandatory)
                    {
                        if (rules.Count == 0)
                        {
                            <govuk-inset-text>
                                This question is conditional:
                            </govuk-inset-text>
                        }
                    }

                    if (rules.Count != 0)
                    {
                        <govuk-inset-text>
                            @foreach (var rule in rules)
                            {
                                <p>
                                    @rule.Description
                                </p>
                            }
                        </govuk-inset-text>
                    }

                    @if (question.DataType is "Date")
                    {
                        errorKey = $"Questions[{index}].AnswerText";
                        validationMessage = "Provide an answer for this question";
                        fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

                        <div id="Questions[@index].AnswerText" class="govuk-form-group@(fieldHasErrors ? " govuk-form-group--error" : "")">

                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="@(question.QuestionId)_Text">
                                    @question.Heading. @question.QuestionText
                                </label>
                            </h1>

                            @if (fieldHasErrors)
                            {
                                BuildValidationMessage(question.Rules, errorKey, validationMessage);
                            }

                            <div class="govuk-date-input">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        @*                                         <label class="govuk-label govuk-date-input__label" for="@(question.QuestionId + "_Text")">
                                            Date
                                            </label> *@
                                        <div class="govuk-date-input__item">
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-10" type="date" asp-for="Questions[index].AnswerText" asp-format="{0:dd-MM-yyyy}" id="@(question.QuestionId + "_Text")" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (question.DataType is "Text" or "Email")
                    {
                        errorKey = $"Questions[{index}].AnswerText";
                        validationMessage = "Provide an answer for this question";
                        fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

                        <div id="Questions[@index].AnswerText" class="govuk-form-group@(fieldHasErrors ? " govuk-form-group--error" : "")">

                            <h1 class="govuk-label-wrapper">
                                <label class="govuk-label govuk-label--s" for="@(question.QuestionId)_Text">
                                    @question.Heading. @question.QuestionText
                                </label>
                            </h1>

                            @if (fieldHasErrors)
                            {
                                BuildValidationMessage(question.Rules, errorKey, validationMessage);
                            }

                            @Html.TextBoxFor(model => model.Questions[index].AnswerText, new { id = question.QuestionId + "_Text", @class = "govuk-input" })
                        </div>
                    }

                    if (question.DataType is "Checkbox")
                    {
                        errorKey = $"Questions[{index}].Answers";
                        validationMessage = "Select at least one option";
                        fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

                        <div id="Questions[@index].Answers" class="govuk-form-group@(fieldHasErrors ? " govuk-form-group--error" : "")">
                            <govuk-fieldset>
                                <govuk-fieldset-legend class="govuk-fieldset__legend--s">
                                    @question.Heading. @question.QuestionText
                                </govuk-fieldset-legend>

                                @if (fieldHasErrors)
                                {
                                    BuildValidationMessage(question.Rules, errorKey, validationMessage);
                                }

                                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                    @foreach (var (answer, ansIndex) in question.Answers.Select((answer, ansIndex) => (answer, ansIndex)))
                                    {
                                        <div class="govuk-checkboxes__item">
                                            @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerId)
                                            @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerText)
                                            <input class="govuk-checkboxes__input" type="checkbox" asp-for="Questions[index].Answers[ansIndex].IsSelected" id="@(question.QuestionId)_@(answer.AnswerId)" />
                                            @Html.Label(question.QuestionId + "_" + answer.AnswerId, answer.AnswerText, new { @class = "govuk-checkboxes__label govuk-label" })
                                        </div>
                                    }
                                </div>
                            </govuk-fieldset>
                        </div>
                    }

                    if (question.DataType is "Radio button" or "Boolean")
                    {
                        errorKey = $"Questions[{index}].SelectedOption";
                        validationMessage = "Select one option";
                        fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

                        <div id="Questions[@index].SelectedOption" class="govuk-form-group@(fieldHasErrors ? " govuk-form-group--error" : "")">
                            <govuk-fieldset>
                                <govuk-fieldset-legend class="govuk-fieldset__legend--s">
                                    @question.Heading.@question.QuestionText
                                </govuk-fieldset-legend>

                                @if (fieldHasErrors)
                                {
                                    BuildValidationMessage(question.Rules, errorKey, validationMessage);
                                }

                                <div class="govuk-radios" data-module="govuk-radios">
                                    @foreach (var (answer, ansIndex) in question.Answers.Select((answer, ansIndex) => (answer, ansIndex)))
                                    {
                                        <div class="govuk-radios__item">
                                            @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerId)
                                            @Html.HiddenFor(model => model.Questions[index].Answers[ansIndex].AnswerText)
                                            @Html.RadioButtonFor(model => model.Questions[index].SelectedOption, answer.AnswerId, new { id = question.QuestionId + "_" + answer.AnswerId, @class = "govuk-radios__input" })
                                            @Html.Label(question.QuestionId + "_" + answer.AnswerId, answer.AnswerText, new { @class = "govuk-radios__label govuk-label" })
                                        </div>
                                    }
                                </div>
                            </govuk-fieldset>
                        </div>
                    }
                }
            </govuk-fieldset>
        }
    </div>

    <partial name="_SubmitButton" model="@("qnc:saveresponses","Save", new Dictionary<string, string>())" />
    <partial name="_SubmitButton" model="@("qnc:saveresponses","Save and Continue", new Dictionary<string, string>() { { "saveAndContinue", bool.TrueString } })" />
    <partial name="_SubmitButton" model="@("qnc:validate","Validate", new Dictionary<string, string>())" />
    <feature name="Action.ProceedToSubmit">
        <partial name="_SubmitButton" model="@("qnc:saveresponses","Proceed to Submit", new Dictionary<string, string>() { { "submit", bool.TrueString } })" />
    </feature>
</form>
