@using static Rsp.IrasPortal.Application.Constants.QuestionCategories;
@model (string currentStage, string completedStage, string applicationId)

@{
    var progressBarStyle = string.Empty;

    string GetState(string stage, out string style)
    {
        var state = Model.currentStage == stage ? " active" : Model.completedStage == stage ? " completed" : string.Empty;
        //style = state == string.Empty ? "display: none" : "";
        style = "";

        return state;
    };

}

<div class="govuk-grid-row">
    <div class="progress-container">

        <div class="stage completed">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">Initiate</div>
        </div>

        <div class="stage@(GetState(A, out progressBarStyle))">

            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "A" }, { "applicationId", Model.applicationId }})">Project Filter</a>
            </div>
        </div>
        <div class="stage@(GetState(B, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "B" }, { "applicationId", Model.applicationId }})">Project Details</a>
            </div>
        </div>
        <div class="stage@(GetState(C1, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C1" }, { "applicationId", Model.applicationId }})">Student</a>
            </div>
        </div>
        <div class="stage@(GetState(C2, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C2" }, { "applicationId", Model.applicationId }})">Research Bioresources</a>
            </div>
        </div>
        <div class="stage@(GetState(C3, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C3" }, { "applicationId", Model.applicationId }})">CTIMP</a>
            </div>
        </div>
        <div class="stage@(GetState(C4, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C4" }, { "applicationId", Model.applicationId }})">Devices</a>
            </div>
        </div>
        <div class="stage@(GetState(C5, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C5" }, { "applicationId", Model.applicationId }})">Ionizing Radiation</a>
            </div>
        </div>
        <div class="stage@(GetState(C6, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C6" }, { "applicationId", Model.applicationId }})">Tissue</a>
            </div>
        </div>
        <div class="stage@(GetState(C7, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C7" }, { "applicationId", Model.applicationId }})">Adults Lacking Capacity</a>
            </div>
        </div>
        <div class="stage@(GetState(C8, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", "C8" }, { "applicationId", Model.applicationId }})">Children</a>
            </div>
        </div>
        <div class="stage@(GetState(D, out progressBarStyle))">
            <div class="progress-line" style="@progressBarStyle"></div>
            <div class="stage-circle"></div>
            <div class="stage-label">
                <a class="govuk-link" asp-route="qnc:resume" asp-all-route-data="@(new Dictionary<string, string> { { " categoryId", "D" }, { "applicationId", Model.applicationId }})">Booking</a>
            </div>
        </div>
    </div>
</div>