@using Rsp.Gds.Component.Models
@model Rsp.IrasPortal.Application.DTOs.QuestionDto
@{
    var index = ViewData["Index"] as int? ?? 0;
    var prefix = $"Questions[{index}]";
}

<!-- Hidden field to bind VersionId per question -->
<input type="hidden" name="@($"{prefix}.VersionId")" value="@Model.VersionId"/>

<rsp-gds-input asp-for="SectionId" name="@($"{prefix}.SectionId")" label-text="Section ID" width-class="govuk-!-width-one-quarter" />
<rsp-gds-input asp-for="Section" name="@($"{prefix}.Section")" label-text="Section Name" width-class="govuk-!-width-one-half" />
<rsp-gds-input asp-for="Sequence" name="@($"{prefix}.Sequence")" label-text="Sequence" input-type="number" width-class="govuk-!-width-one-quarter" />
<rsp-gds-character-count-textarea asp-for="QuestionText" name="@($"{prefix}.QuestionText")" label-text="Question Text"/>

<rsp-gds-input asp-for="ShortQuestionText" name="@($"{prefix}.ShortQuestionText")" label-text="Short Question Text" />

<rsp-gds-select asp-for="QuestionType"
                name="@($"{prefix}.QuestionType")"
                label-text="Question Type"
                options="@(new List<GdsOption>
                         {
                             new() { Value = "date", Label = "Date" },
                             new() { Value = "text", Label = "Text" },
                             new() { Value = "look-up list", Label = "Look-up list" },
                             new() { Value = "boolean", Label = "Boolean" },
                             new() { Value = "rts:org_lookup", Label = "RTS Organisation Lookup" }
                         })"
                additional-attributes='new Dictionary<string, string> { { "data-conditional-target", "question-type" } }'/>
<div class="conditional-datatype" data-index="@index">
    <rsp-gds-select asp-for="DataType"
                    name="@($"{prefix}.DataType")"
                    label-text="Data Type"
                    options="new List<GdsOption>()"
                    include-default-option="true"
                    default-option-text="Please select a data type">
    </rsp-gds-select>
</div>



