﻿@using Rsp.IrasPortal.Application.Constants
@model (AddUpdateReviewBodyModel ReviewBodyModel, bool AdditionalInformation)

@{
	var update = Model.ReviewBodyModel.Id != Guid.Empty;
	var createReviewBody = "/reviewbody/create";
}

<table class="govuk-table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<b>Organisation name</b>
			</td>
			<td class="govuk-table__cell">
				@Model.ReviewBodyModel.RegulatoryBodyName
				<input type="hidden" asp-for="ReviewBodyModel.RegulatoryBodyName" name="RegulatoryBodyName" value="@Model.ReviewBodyModel.RegulatoryBodyName" />
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				@{
					await RenderEditLink("organisation name");
				}
			</td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<b>Country</b>
			</td>
			<td class="govuk-table__cell">
				@string.Join(", ", Model.ReviewBodyModel.Countries)

				@foreach (var country in Model.ReviewBodyModel.Countries)
				{
					<input type="hidden" asp-for="ReviewBodyModel.Countries" name="Countries" value="@country" />
				}
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				@{
					await RenderEditLink("country");
				}
			</td>
		</tr>


		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<b>Email address</b>
			</td>
			<td class="govuk-table__cell line-break-anywhere">
				@Model.ReviewBodyModel.EmailAddress
				<input type="hidden" asp-for="ReviewBodyModel.EmailAddress" name="EmailAddress" value="@Model.ReviewBodyModel.EmailAddress" />
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				@{
					await RenderEditLink("email address");
				}
			</td>
		</tr>

		<tr class="govuk-table__row">
			<td class="govuk-table__cell">
				<b>Description</b>
			</td>
			<td class="govuk-table__cell">
				@Model.ReviewBodyModel.Description
				<input type="hidden" asp-for="ReviewBodyModel.Description" name="Description" value="@Model.ReviewBodyModel.Description" />
			</td>
			<td class="govuk-table__cell govuk-table__cell--numeric">
				@{
					await RenderEditLink("description");
				}
			</td>
		</tr>

		@if (Model.AdditionalInformation)
		{
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<b>Users</b>
				</td>
				<td class="govuk-table__cell">
					<a asp-route="rbc:viewreviewbodyusers" asp-all-route-data="@(new Dictionary<string, string>{{"reviewBodyId", Model.ReviewBodyModel.Id.ToString()}})" class="govuk-link">View this review body's list of users</a>
				</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<b>Audit</b>
				</td>
				<td class="govuk-table__cell">
					<a asp-route="rbc:audittrail" asp-all-route-data="@(new Dictionary<string, string>{{"reviewBodyId", Model.ReviewBodyModel.Id.ToString()}})" class="govuk-link">View this review body's audit history</a>
				</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">
				</td>
			</tr>

			<tr class="govuk-table__row">
				<td class="govuk-table__cell">
					<b>Last updated</b>
				</td>
				<td class="govuk-table__cell">
					@Model.ReviewBodyModel.UpdatedDate?.ToString("dd MMMM yyyy HH:mm")
					<input type="hidden" asp-for="ReviewBodyModel.UpdatedDate" name="UpdatedDate" value="@Model.ReviewBodyModel.UpdatedDate" />
				</td>
				<td class="govuk-table__cell govuk-table__cell--numeric">
				</td>
			</tr>
		}
	</tbody>
</table>

@{
	async Task RenderEditLink(string fieldName)
	{
		if (update)
		{
			<a class="govuk-link" asp-route="rbc:updatereviewbody" asp-route-id="@Model.ReviewBodyModel.Id">
				Change
				<span class="govuk-visually-hidden">@fieldName</span>
			</a>
		}
		else
		{
			<button type="submit" formaction="@createReviewBody" class="govuk-link-button">
				Change
				<span class="govuk-visually-hidden">@fieldName</span>
			</button>
		}
	}
}


