﻿@using Rsp.IrasPortal.Application.Constants
@using System.Globalization
@model (AddUpdateReviewBodyModel ReviewBodyModel, bool AdditionalInformation)

@{
    var update = Model.ReviewBodyModel.Id != Guid.Empty;
    var createReviewBody = "/reviewbody/createreviewbody";
}

<table class="govuk-table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b>Organisation name</b>
            </td>
            <td class="govuk-table__cell">
                @Model.ReviewBodyModel.OrganisationName
                <input type="hidden" asp-for="ReviewBodyModel.OrganisationName" name="OrganisationName" value="@Model.ReviewBodyModel.OrganisationName" />
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @{
                    await RenderEditLink();
                }
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b>Country</b>
            </td>
            <td class="govuk-table__cell">
                @string.Join(", ", Model.ReviewBodyModel.Countries)

                @foreach (var country in Model.ReviewBodyModel.Countries)
                {
                    <input type="hidden" asp-for="ReviewBodyModel.Countries" name="Countries" value="@country" />
                }
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @{
                    await RenderEditLink();
                }
            </td>
        </tr>


        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b>Email address</b>
            </td>
            <td class="govuk-table__cell">
                @Model.ReviewBodyModel.EmailAddress
                <input type="hidden" asp-for="ReviewBodyModel.EmailAddress" name="EmailAddress" value="@Model.ReviewBodyModel.EmailAddress" />
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @{
                    await RenderEditLink();
                }
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <b>Description</b>
            </td>
            <td class="govuk-table__cell">
                @Model.ReviewBodyModel.Description
                <input type="hidden" asp-for="ReviewBodyModel.Description" name="Description" value="@Model.ReviewBodyModel.Description" />
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
                @{
                    await RenderEditLink();
                }
            </td>
        </tr>

        @if (Model.AdditionalInformation)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <b>Users</b>
                </td>
                <td class="govuk-table__cell">
                    <a asp-action="" class="govuk-link">View this review body's audit history</a>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                </td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <b>Audit</b>
                </td>
                <td class="govuk-table__cell">
                    <a asp-action="" class="govuk-link">View this review body's list of users</a>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                </td>
            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <b>Last updated</b>
                </td>
                <td class="govuk-table__cell">
					@Model.ReviewBodyModel.UpdatedDate.ToString("D", new CultureInfo("en-GB")) @Model.ReviewBodyModel.UpdatedDate.ToString("HH:mm", new CultureInfo("en-GB"))
					<input type="hidden" asp-for="ReviewBodyModel.UpdatedDate" name="UpdatedDate" value="@Model.ReviewBodyModel.UpdatedDate" />
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    async Task RenderEditLink()
    {
        if (update)
        {
            <a class="govuk-link" asp-route="rbc:updatereviewbody" asp-route-id="@Model.ReviewBodyModel.Id">Change</a>
        }
        else
        {
            <button type="submit" formaction="@createReviewBody" class="govuk-link-button">
                Change
            </button>
        }
    }
}
