@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@{
	var model = (IList<ServiceNavigationItemModel>?)ViewData[PageContentElements.ServiceNavigation];
	var userLoggedIn = User?.Identity?.IsAuthenticated != null && User.Identity.IsAuthenticated;
	var userName = (User?.Identity == null ? "No Identity" : User.Identity.Name);
}

<section aria-label="Service information" class="govuk-service-navigation"
data-module="govuk-service-navigation">
	<div class="govuk-width-container">
		<div class="govuk-service-navigation__container">
			<nav aria-label="Menu" class="govuk-service-navigation__wrapper">
				<button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
					Menu
				</button>
				<ul class="govuk-service-navigation__list" id="navigation">
					<li class="govuk-service-navigation__item">
						<a class="govuk-service-navigation__link"
						asp-route="acc:home">
							Home
						</a>
					</li>

					@if (model != null && model.Any())
					{
						foreach (var link in model)
						{							
							if (link != null)
							{
								var isActive = Context?.Request?.Path.Value?.ToLower() == link.Link?.Url?.ToLower();

								if (link.RequiresAuthorisation)
								{
									<authorized auth-params="@new()">
										<li class="govuk-service-navigation__item @(isActive ? "govuk-service-navigation__item--active": "")">
											<a class="govuk-service-navigation__link"
											   href="@link.Link?.Url">
												@link.Link?.Name
											</a>
										</li>
									</authorized>
								}
								else
								{
									<li class="govuk-service-navigation__item @(isActive ? "govuk-service-navigation__item--active": "")">
										<a class="govuk-service-navigation__link"
										   href="@link.Link?.Url">
											@link.Link?.Name
										</a>
									</li>
								}
							}
						}
					}

					@if (!userLoggedIn)
					{
						<li class="govuk-service-navigation__item">
							<a class="govuk-service-navigation__link"
							   asp-route="auth:signin">
								Sign in
							</a>
						</li>
					}

					<authorized auth-params="@new()">
						<li class="govuk-service-navigation__item">
							<strong>@userName</strong>
						</li>
					</authorized>

					<authorized auth-params="@new()">
						<li class="govuk-service-navigation__item">
							<a class="govuk-service-navigation__link" asp-route="auth:signout">Logout</a>
						</li>
					</authorized>
				</ul>
			</nav>
		</div>
	</div>
</section>