@using Rsp.IrasPortal.Application.Constants
@model (string RouteName, string DisplayText, Dictionary<string, string>? Params, bool ButtonSecondary)

@{
	var baseStyle = "govuk-button";
	var style = Model.ButtonSecondary ? $"{baseStyle} govuk-button--secondary" : baseStyle;
	var disabled = ViewData[ViewDataKeys.IsApplicationValid] is not (null or true);
}

<button class="@style" disabled="@disabled" data-module="govuk-button" type="submit" asp-route="@Model.RouteName" asp-all-route-data="@Model.Params">
    @Model.DisplayText
</button>