@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model GenericPageResponse

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		@if (Model != null && Model.Properties.LoginLandingPageAboveTheFold != null)
		{
			<partial name="_ContentComponents.cshtml" model="@Model.Properties.LoginLandingPageAboveTheFold" />
		}

		<a class="gem-c-button govuk-button govuk-button--start" asp-route="auth:signin">
			Sign In
			<svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
				<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
			</svg>
		</a>

		@if (Model != null && Model.Properties.LoginLandingPageBelowTheFold != null)
		{
			<partial name="_ContentComponents.cshtml" model="@Model.Properties.LoginLandingPageBelowTheFold" />
		}
	</div>
	<div class="govuk-grid-column-one-third">
		@if (Model?.Properties.RightSideMenuLinks != null && Model.Properties.RightSideMenuLinks.Any())
		{
			<p>
				<b>About this service</b>
			</p>
			@foreach (var link in Model.Properties.RightSideMenuLinks)
			{
				var url = !string.IsNullOrEmpty(link?.Route?.Path) ? link.Route.Path : link?.Url;

				<p>
					<a class="govuk-link" href="@url" target="@link.Target">@link.Title</a>
				</p>
			}
		}
	</div>
</div>