@using System.Globalization;
@using System.Text.Json
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs
@using Rsp.IrasPortal.Web.Models
@using Rsp.IrasPortal.Web.Extensions
@model QuestionnaireViewModel

@{
    var errorSummaryTitle = "There is a problem";

    var modification = TempData.PopulateBaseProjectModificationProperties(new BaseProjectModificationViewModel());

    var specificArea = modification.SpecificAreaOfChange;

    var prefix = ViewData.ModelState.IsValid ? "" : "Error - ";

    ViewBag.Title = !string.IsNullOrWhiteSpace(specificArea) ?
            $"{prefix}{specificArea}" :
            $"{prefix}{Model.Questions.FirstOrDefault()?.Section}";

    var navigation = JsonSerializer.Deserialize<NavigationDto>((TempData.Peek(TempDataKeys.ProjectModificationChange.Navigation) as string)!);

    var isReviewInProgress = TempData.Peek(TempDataKeys.ProjectModificationChange.ReviewChanges) is true;

}

<div class="govuk-width-container">
    @section BackNavigation {

        @if (navigation.CurrentSection.EvaluateBackRoute && !isReviewInProgress)
        {
            //set this TempData key to true on the referrer page like PostApprovals
            //or any other BackStage or FrontStage page so that we can link back to that page.
            //If this Key is not set, the Back link won't be displayed

            var linkBackToReferrer = TempData[TempDataKeys.ProjectModification.LinkBackToReferrer];
            var urlReferrer = TempData[TempDataKeys.ProjectModification.UrlReferrer];

            if (linkBackToReferrer is true && urlReferrer is not null)
            {
                ViewData[ViewDataKeys.UrlReferrer] = urlReferrer;

                //no route for back navigation, as this page will
                //only show back button when you are navigating from some other url
                //given the LinkBackToReferrer is set
                <partial name = "_BackNavigation" model = "@("", "Back", new Dictionary<string, string>())" />
            }
        }
        else
        {
            <vc:back-navigation navigation-dto="@navigation"
            specific-area-of-change-id="@modification.SpecificAreaOfChangeId"
                            project-record-id="@modification.ProjectRecordId"
                            modification-change-id="@modification.ModificationChangeId"
                            review-in-progress="@isReviewInProgress" />
        }
    }

    <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">@specificArea</h1>

            <form method="post">

                <partial name="_ProjectModificationSummary" />

                <partial name="_Questionnaire" model="Model" />

                <div class="save-buttons">

                    @{
                        var buttonText = isReviewInProgress ? "Save changes" : "Save and continue";
                    }

                    <partial name="_SubmitButton" model="@("pmc:saveresponses", buttonText, new Dictionary<string, string>())" />

                    @if (!isReviewInProgress)
                    {
                        ViewBag.Style = "govuk-button govuk-button--secondary";

                        <partial name="_SubmitButton" model="@("pmc:saveresponses", "Save for later", new Dictionary<string, string> {{ "saveForLater", bool.TrueString }})" />
                    }
                </div>
            </form>
        </div>
    </div>
</div>