@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@{
	ViewBag.Active = "profileAndSettings";
	ViewBag.Title = "Profile and settings";

	var edit = !string.IsNullOrEmpty(Model.Id);
	var editNewUserUrl = "/admin/users/editnewuser";
	var showSuccessMessage = TempData[TempDataKeys.ShowNotificationBanner];

	var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
	var pageContent = pageContentData != null
	? pageContentData
	: new Dictionary<string, MixedContentPageItem?>();

	var title = pageContent.GetValueOrDefault("P&S.Title", null);
	var profileDetailsTitle = pageContent.GetValueOrDefault("P&S.ProfileDetailsTitle", null);
	var oneLoginTitle = pageContent.GetValueOrDefault("P&S.OneLoginTitle", null);
	var bannerLabel = pageContent.GetValueOrDefault("P&S.OneLoginBanner.Label", null);
	var bannerTitle = pageContent.GetValueOrDefault("P&S.OneLoginBanner.Title", null);
	var bannerBody = pageContent.GetValueOrDefault("P&S.OneLoginBanner.Body", null);
	var successEditMessageBody = pageContent.GetValueOrDefault("P&S.SuccessEditMessage.Body", null);
	var successEditMessageLabel = pageContent.GetValueOrDefault("P&S.SuccessEditMessage.Label", null);

}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		@if (showSuccessMessage is true)
		{
			<partial name="_NotificationBanner" model="@(successEditMessageLabel?.Value, successEditMessageBody?.Value)" />
		}

		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					@Html.Raw(bannerLabel?.Value)
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<h2 class="govuk-notification-banner__heading">@Html.Raw(bannerTitle?.Value)</h2>
				@Html.Raw(bannerBody?.Value)
			</div>
		</div>

	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-l">@Html.Raw(title?.Value)</h1>

		<h3 class="govuk-heading-m">@Html.Raw(oneLoginTitle?.Value)</h3>
		<table class="govuk-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Email address</b></td>
					<td class="govuk-table__cell line-break-anywhere">@Model.Email</td>
					<td class="govuk-table__cell">		
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Telephone</b></td>
					<td class="govuk-table__cell">@Model.Telephone</td>
					<td class="govuk-table__cell">	
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h3 class="govuk-heading-m">@Html.Raw(profileDetailsTitle?.Value)</h3>
		<table class="govuk-table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Title</b></td>
					<td class="govuk-table__cell">
						@Model.Title
						<input type="hidden" asp-for="Title" name="Title" value="@Model.Title" />
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						@{
							await RenderEditLink();
						}
					</td>
				</tr>

				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>First name</b></td>
					<td class="govuk-table__cell">
						@Model.GivenName
						<input type="hidden" asp-for="GivenName" name="GivenName" value="@Model.GivenName" />
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						@{
							await RenderEditLink();
						}
					</td>
				</tr>

				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Last name</b></td>
					<td class="govuk-table__cell">
						@Model.FamilyName
						<input type="hidden" asp-for="FamilyName" name="FamilyName" value="@Model.FamilyName" />
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						@{
							await RenderEditLink();
						}
					</td>
				</tr>

				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Job title</b></td>
					<td class="govuk-table__cell">
						@Model.JobTitle
						<input type="hidden" asp-for="JobTitle" name="JobTitle" value="@Model.JobTitle" />
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						@{
							await RenderEditLink();
						}
					</td>
				</tr>

				<tr class="govuk-table__row">
					<td class="govuk-table__cell govuk-!-width-one-quarter"><b>Organisation</b></td>
					<td class="govuk-table__cell">
						@Model.Organisation
						<input type="hidden" asp-for="Organisation" name="Organisation" value="@Model.Organisation" />
					</td>
					<td class="govuk-table__cell govuk-table__cell--numeric">
						@{
							await RenderEditLink();
						}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

@{
	async Task RenderEditLink()
	{
		if (edit)
		{
			<a class="govuk-link" asp-route="profilesettings:editprofile">Change</a>
		}
		else
		{
			<button class="govuk-link-button" type="submit" formaction="@editNewUserUrl">Change</button>
		}
	}
}
