@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

@{
    var showStatus = ViewData[ViewDataKeys.ShowModificationChangeStatus];
    var showChangeLink = ViewData[ViewDataKeys.ShowChangeLink];
    var showRemoveLink = ViewData[ViewDataKeys.ShowRemoveLink];

    var isSponsorCheckAndAuthorise = ViewData[ViewDataKeys.IsSponsorCheckAndAuthorise] as bool?;

    bool showDetailedVersion = isSponsorCheckAndAuthorise == true
    ? Model.Status != ModificationStatus.WithSponsor
    : Model.Status != ModificationStatus.InDraft;

    var showViewDetailsLink = true; //TODO to be changed

    var sponsorOrganisationUserId = ViewBag.SponsorOrganisationUserId;
}

@foreach (var (change, changeIndex) in Model.ModificationChanges.Select((change, changeIndex) => (change, changeIndex)))
{
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper prevent-action-stretch">
            <h2 class="govuk-summary-card__title">
                Change @(changeIndex + 1) - @change.AreaOfChangeName<br />

                @if ((showStatus == null || showStatus.Equals(true)) && Model.Status is ModificationStatus.InDraft)
                {
                    <strong class="govuk-!-margin-top-2 text-nowrap govuk-tag @(change.ChangeStatus == ModificationStatus.Unfinished ? "govuk-tag--red" : "govuk-tag--green") non-max-width-govuk-tag">
                        @change.ChangeStatus
                    </strong>
                }
            </h2>
            <ul class="govuk-summary-card__actions">
                @if ((showChangeLink == null || showChangeLink.Equals(true)) && Model.Status is ModificationStatus.InDraft)
                {
                    <li class="govuk-summary-card__action">

                        @{
                            var reviewChangesParams = new Dictionary<string, string> {
                                { "projectRecordId", Model.ProjectRecordId },
                                { "specificAreaOfChangeId", change.SpecificAreaOfChangeId },
                                { "modificationChangeId", change.ModificationChangeId.ToString() },
                                { "reviseChange", bool.TrueString },
                                };

                            <a class="govuk-link" asp-route="pmc:reviewchanges" asp-all-route-data="reviewChangesParams">Change</a>
                        }
                    </li>
                }

                @if ((showRemoveLink == null || showRemoveLink.Equals(true)) && Model.Status is ModificationStatus.InDraft)
                {
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link"
                           asp-route="pmc:confirmremovechange"
                           asp-route-modificationChangeId="@change.ModificationChangeId"
                           asp-route-modificationChangeName="@change.SpecificChangeName">
                            Remove
                        </a>
                    </li>
                }

                @if (showViewDetailsLink is true && sponsorOrganisationUserId is not null && Model.Status is ModificationStatus.WithSponsor)
                {
                    <li class="govuk-summary-card__action">                        
                        @{
                            var viewDetailsParams = new Dictionary<string, string> {
                                { "projectRecordId", Model.ProjectRecordId },
                                { "irasId", Model.IrasId },
                                { "shortTitle", Model.ShortTitle ?? "" },
                                { "projectModificationId", Model.ModificationId ?? "" },
                                { "sponsorOrganisationUserId", sponsorOrganisationUserId.ToString() },
                                { "modificationChangeId", change.ModificationChangeId.ToString() },                                
                                };
                            
                            <a class="govuk-link" asp-route="sws:changedetails" asp-all-route-data="viewDetailsParams">View details</a>
                        }
                    </li>
                }
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @change.SpecificChangeName
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @change.SpecificChangeAnswer
                    </dd>
                </div>
                @if (Model.ModificationChanges.Any() && showDetailedVersion)
                {
                    @foreach (var question in change.Questions)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @(string.IsNullOrWhiteSpace(question.ShortQuestionText) ? question.QuestionText : question.ShortQuestionText)
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(question.GetDisplayText(false))
                            </dd>
                        </div>
                    }
                }
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Modification type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @change.ModificationType
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Category
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @change.Category
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Review type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @change.ReviewType
                    </dd>
                </div>
            </dl>
        </div>
    </div>
}