@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.FeatureManagement
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs
@using Rsp.Portal.Domain.AccessControl
@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@model ModificationDetailsViewModel

@{
    ViewBag.Title = @Model.Status switch
    {
        ModificationStatus.InDraft => "Review all changes",
        ModificationStatus.RequestRevisions => "Request revision",
        _ => "Modification"
    };

    TempData[TempDataKeys.ProjectModification.ReviewAllChanges] = true;
    ViewData[ViewDataKeys.ShowRemoveLink] = false;
    ViewData[ViewDataKeys.ShowModificationChangeStatus] = false;
    ViewData[ViewDataKeys.ShowModificationStatus] = true;
    ViewData[ViewDataKeys.ShowModificationDetails] = true;
    var projectTitle = !string.IsNullOrEmpty(Model.ShortTitle) ? Model.ShortTitle : "Project overview";
    var linkBackToReferrer = TempData[TempDataKeys.ProjectModification.LinkBackToReferrer];
    var urlReferrer = TempData[TempDataKeys.ProjectModification.UrlReferrer];
    var urlSegments = urlReferrer?.ToString()!.Split('/', StringSplitOptions.RemoveEmptyEntries);
    var previousController = string.Empty;
    // Assuming URL pattern: /Controller/Action
    if (urlSegments?.Length > 0)
    {
        previousController = urlSegments[2]; // This is usually the controller
    }
    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData ?? new Dictionary<string, MixedContentPageItem?>();
    var headline = pageContent.GetValueOrDefault("Modifications.ReviewAllChanges.Headline", null);
    var description = pageContent.GetValueOrDefault("Modifications.ReviewAllChanges.Description", null);
}

@if (Model.Status != ModificationStatus.InDraft && !(previousController is ApprovalsSearch.ControllerName or ModificationsTasklist.ControllerName))
{
    <authorized role-is="@Roles.Applicant">

        @section Breadcrumb {

            @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
            {
                ("My research", Url.RouteUrl("app:welcome")),
        (projectTitle, Url.RouteUrl("pov:postapproval", new Dictionary<string, string> { { "projectRecordId", Model.ProjectRecordId! } }))
        })
        }
    </authorized>
}
else
{
    @section BackNavigation {

        @{
            // set this TempData key to true on the referrer page like PostApprovals
            // or any other BackStage or FrontStage page so that we can link back to that page.
            // If this Key is not set, the Back link won't be displayed
            if (linkBackToReferrer is true && urlReferrer is not null)
            {
                ViewData[ViewDataKeys.UrlReferrer] = urlReferrer;

                // no route for back navigation, as this page will
                // only show back button when you are navigating from some other url
                // given the LinkBackToReferrer is set
                <partial name="_BackNavigation" model="@("", "Back", new Dictionary<string, string>())" />
            }
        }
    }
}
<partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")" />
<partial name="_ReviewModification" model="Model" />

<authorized role-is="@Roles.Applicant">
    @if (Model.Status is ModificationStatus.InDraft)
    {
        // TODO -  or ModificationStatus.RequestRevisions has been added temporarly, to make it possible to send back to sponsor, before Make revisions page is done
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Now send to sponsor</h2>
                <p class="govuk-body">
                    By sending this modification you are confirming that, to the best of your knowledge, the details you are providing are correct.
                </p>
            </div>
        </div>
    }
    <feature name="@FeatureFlags.RequestRevisions">
        <authorized role-in="@(new[] { Roles.Applicant })"
                    status-for="@Model.Status"
                    status-is="@ModificationStatus.RequestRevisions">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-heading-m">
                        <strong> @Html.Raw(headline?.Value)</strong>
                    </div>
                    <p class="govuk-body"> @Html.Raw(description?.Value)</p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-form-group govuk-character-count"
                         data-module="govuk-character-count"
                         data-maxlength="500"
                         error-class-for="ApplicantRevisionResponse">

                        @Html.ValidationMessageFor(model => model.ApplicantRevisionResponse, "", new { @class = "govuk-error-message" })
                        <textarea asp-for="ApplicantRevisionResponse"
                                  name="ApplicantRevisionResponse"
                                  class="govuk-textarea govuk-js-character-count"
                                  rows="5"
                                  aria-describedby="with-hint-info with-hint-hint">
         </textarea>
                        <noscript>
                            <div id="ApplicantRevisionResponse-info"
                                 class="govuk-hint govuk-character-count__message">
                                @Html.Raw(description?.Value)
                            </div>
                        </noscript>

                        <div id="ApplicantRevisionResponse-info"
                             aria-hidden="true"
                             class="govuk-hint govuk-character-count__message">
                        </div>
                    </div>
                </div>
            </div>
        </authorized>
    </feature>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form method="post">
                        <div class="save-buttons">
                            @{
                                <input type="hidden" name="projectRecordId" value="@Model.ProjectRecordId" />
                                @if (Model.NoChangesToSubmit)
                                {
                                    <a asp-route="pmc:nochangestosubmit" asp-route-projectRecordId="@Model.ProjectRecordId" class="govuk-button">
                                        Send modification to sponsor
                                    </a>
                                }
                                else if (Model.ChangesReadyForSubmission)
                                {
                                    <partial name="_SubmitButton" model="@("pmc:sendmodificationtosponsor", "Send modification to sponsor", new Dictionary<string, string>()
{
    ["projectModificationId"] = Model.ModificationId!,
    ["projectRecordId"] = Model.ProjectRecordId
})" />
                                }
                                else
                                {
                                    <a asp-route="pmc:unfinishedchanges" asp-route-projectRecordId="@Model.ProjectRecordId" class="govuk-button">
                                        Send modification to sponsor
                                    </a>
                                }
                                ViewBag.Style = "govuk-button govuk-button--secondary";

                                <partial name="_SubmitButton" model="@("pmc:saveforlater", "Save for later", new Dictionary<string, string> { ["projectRecordId"] = Model.ProjectRecordId, ["routeName"] = "pov:postapproval" })" />
                            }
                        </div>
                    </form>
                    <a asp-route="pmc:deletemodification"
                       asp-route-projectRecordId="@Model.ProjectRecordId"
                       asp-route-irasId="@(Model.ModificationIdentifier?.Split('/')[0])"
                       asp-route-shortTitle="@Model.ShortTitle"
                       asp-route-projectModificationId="@Model.ModificationId"
                       class="govuk-link">
                        Delete modification
                    </a>
                </div>
            </div>
        </div>
    </div>
</authorized>
<authorized permission="@Permissions.MyResearch.Modifications_Approve"
            status-for="Status"
            status-is="@ModificationStatus.WithReviewBody">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-heading-m">
                Next steps
            </div>
            <div class="govuk-body">
                When you've completed your review of all the information on this page,
                continue to the next step where you'll enter the review outcome
            </div>
            <a asp-route="pmc:reviewoutcome"
               class="govuk-button">
                Continue
            </a>
        </div>
    </div>
</authorized>

<feature name="@FeatureFlags.WithdrawModification">
	<authorized permission="@Permissions.MyResearch.Modifications_Withdraw"
                status-for="Status"
                status-is="@ModificationStatus.WithReviewBody">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-heading-m">
                    Withdraw this modification
                </div>
                <a asp-route="pmc:withdrawmodification"
                   class="govuk-button govuk-button--secondary">
                    Withdraw modification
                </a>
            </div>
        </div>
    </authorized>
</feature>