@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs
@using Rsp.IrasPortal.Web.Features.Modifications.Models
@model ModificationDetailsViewModel

@{

    ViewBag.Title = "Review all changes";

    TempData[TempDataKeys.ProjectModification.ReviewAllChanges] = true;
    ViewData[ViewDataKeys.ShowRemoveLink] = false;
    ViewData[ViewDataKeys.ShowModificationChangeStatus] = false;
    ViewData[ViewDataKeys.ShowModificationStatus] = true;

    var projectTitle = !string.IsNullOrEmpty(Model.ShortTitle) ? Model.ShortTitle : "Project overview";

}

<authorized auth-params="@new(Roles: "applicant")">

    @section Breadcrumb {

        @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
        {
            ("My research",Url.RouteUrl("app:welcome")),
            (projectTitle, Url.RouteUrl("pov:postapproval", new Dictionary<string, string>{{"projectRecordId", Model.ProjectRecordId!}}))
        })
    }
</authorized>

<partial name="_ReviewModification" model="Model" />

<authorized auth-params="@new(Roles: "applicant")">
    @if (Model.Status is ModificationStatus.InDraft)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Now send to sponsor</h2>
                <p class="govuk-body">
                    By sending this modification you are confirming that, to the best of your knowledge, the details you are providing are correct.
                </p>
                <form method="post">
                    <div class="save-buttons">
                        @{
                            <input type="hidden" name="projectRecordId" value="@Model.ProjectRecordId" />
                            <partial name="_SubmitButton" model="@("pmc:sendmodificationtosponsor", "Send modification to sponsor", new Dictionary<string, string>()
                                    {
                                        ["projectModificationId"] = Model.ModificationId!,
                                        ["projectRecordId"] = Model.ProjectRecordId
                                    })" />

                            ViewBag.Style = "govuk-button govuk-button--secondary";

                            <partial name="_SubmitButton" model="@("pmc:saveforlater", "Save for later", new Dictionary<string, string> { ["projectRecordId"] = Model.ProjectRecordId, ["routeName"] = "pov:postapproval" })" />
                        }
                    </div>
                </form>
                <a asp-route="pmc:deletemodification"
                   asp-route-projectRecordId="@Model.ProjectRecordId"
                   asp-route-irasId="@(Model.ModificationIdentifier?.Split('/')[0])"
                   asp-route-shortTitle="@Model.ShortTitle"
                   asp-route-projectModificationId="@Model.ModificationId"
                   class="govuk-link">
                    Delete modification
                </a>
            </div>
        </div>
    }
</authorized>

<authorized auth-params="@new(Roles: Roles.StudyWideReviewer)">
    @if (Model.Status == ModificationStatus.WithReviewBody)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-heading-m">
                    Next steps
                </div>
                <div class="govuk-body">
                    When you've completed your review of all the information on this page,
                    continue to the next step where you'll enter the review outcome
                </div>
                <a asp-route="pmc:reviewoutcome"
                   class="govuk-button">
                    Continue
                </a>
            </div>
        </div>
    }
</authorized>