@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs
@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Web.Helpers
@model ModificationDetailsViewModel

@{
    bool isRevisionBySponsor = ViewBag.IsRevisionBySponsor as bool? ?? false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Supporting documents</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-table-wrapper">
                    <form method="post" asp-route="pmc:downloaddocumentsaszip" id="projectdocuments-selection">
                        <table class="govuk-table modifications-tasklist-table" id="projectDocumentsTable">
                            <thead class="govuk-table__head">
                                <tr>
                                    <th class="govuk-table__header" colspan="8">
                                        <div class="govuk-checkboxes govuk-checkboxes--small checkbox-cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input"
                                                       type="checkbox"
                                                       id="selectAllCheckbox" />
                                                <label class="govuk-label govuk-checkboxes__label"
                                                       for="selectAllCheckbox">
                                                    Select all documents on this page
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                                <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                                    <th class="govuk-table__header">Select</th>
                                    @{
                                        var sortableHeaders = new[]
                                        {
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentType), Label = "Document type" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentName), Label = "Document name" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.FileName), Label = "File name" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentVersion), Label = "Version" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentDate), Label = "Document date" }
                                        };
                                    }

                                    @foreach (var header in sortableHeaders)
                                    {
                                        var displayText = header.Label.Contains(" ")
                                        ? header.Label.Replace(" ", "<br />")
                                        : header.Label;

                                        <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                            @await Html.PartialAsync("_SortableHeaderButton", new SortableHeaderModel
                                            {
                                                FieldName = header.Field,
                                                DisplayText = displayText,
                                                CurrentSortField = Model.ProjectOverviewDocumentViewModel.Pagination?.SortField,
                                                CurrentSortDirection = Model.ProjectOverviewDocumentViewModel.Pagination?.SortDirection,
                                                AdditionalParameters = new Dictionary<string, string>
                                                {
                                                { "projectRecordId", Model.ProjectRecordId },
                                                { "irasId", Model.IrasId },
                                                { "shortTitle", Model.ShortTitle! },
                                                { "projectModificationId", Model.ModificationId },
                                                { "documents", ModificationOverview.Documents }
                                                }
                                            })
                                    </th>
                                                                        }
                                    <th scope="col" class="govuk-table__header">Status</th>
                                    @if (Model.Status is ModificationStatus.InDraft || (isRevisionBySponsor && Model.Status is ModificationStatus.ReviseAndAuthorise) || Model.Status is ModificationStatus.RequestRevisions)
                                    {
                                        <th scope="col" class="govuk-table__header">Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body govuk-body-s">
                                @foreach (var modification in Model.ProjectOverviewDocumentViewModel?.Documents ?? Enumerable.Empty<ProjectOverviewDocumentDto>())
                                {
                                    var isFailed = string.Equals(modification.Status, DocumentStatus.Failed, StringComparison.OrdinalIgnoreCase);
                                    var isTracked = string.Equals(modification.SupersedeDocumentType, SupersedeDocumentsType.Tracked.ToString(), StringComparison.OrdinalIgnoreCase);

                                    <tr class="govuk-table__row document-row">
                                        <td class="govuk-table__cell checkbox-cell">
                                            <div class="govuk-checkboxes__item govuk-checkboxes--small">
                                                <input type="checkbox"
                                                       id="@modification.Id"
                                                       aria-label="Select record @modification.Id"
                                                       class="govuk-checkboxes__input document-checkbox"
                                                       data-path="@modification.DocumentStoragePath"
                                                       data-filename="@modification.FileName" />
                                                <label for="@modification.Id"
                                                       class="govuk-label govuk-checkboxes__label modification-checkbox-label"></label>
                                            </div>
                                            <!-- Hidden fields dynamically enabled only if selected -->
                                            <input type="hidden" name="SelectedDocuments[].DocumentStoragePath"
                                                   value="@modification.DocumentStoragePath"
                                                   disabled />

                                            <input type="hidden" name="SelectedDocuments[].FileName"
                                                   value="@modification.FileName"
                                                   disabled />
                                        </td>
                                        <td class="govuk-table__cell">
                                            <span class="govuk-!-font-weight-bold">@modification.DocumentType</span>
                                            @if (isFailed)
                                            {
                                                <div class="govuk-error-message govuk-!-margin-top-1 govuk-!-margin-bottom-1">
                                                    The selected file contains a virus
                                                </div>
                                                <form asp-route="pmc:confirmdeletedocument"
                                                      asp-route-id="@modification.Id"
                                                      asp-route-backRoute="toaddpage"
                                                      method="get"
                                                      class="govuk-!-margin-bottom-0">
                                                    <input type="hidden" name="id" value="@modification.Id" />
                                                    <button type="submit" class="govuk-button govuk-button--warning govuk-!-margin-bottom-0">
                                                        Delete
                                                    </button>
                                                </form>
                                            }
                                        </td>
                                        <td class="govuk-table__cell">@modification.DocumentName</td>
                                        <td class="govuk-table__cell">
                                            @if (modification.IsMalwareScanSuccessful == true)
                                            {
                                                <a asp-route="pmc:downloaddocument"
                                                   asp-route-fileName="@modification.FileName"
                                                   asp-route-path="@modification.DocumentStoragePath"
                                                   class="govuk-link">
                                                    @modification.FileName
                                                </a>
                                            }
                                            else
                                            {
                                                @modification.FileName
                                            }
                                        </td>
                                        <td class="govuk-table__cell">@modification.DocumentVersion</td>
                                        <td class="govuk-table__cell">@modification.DocumentDate?.ToString("d MMM yyyy")</td>
                                        <td class="govuk-table__cell">
                                            @{
                                                var tagClass = modification.Status switch
                                                {
                                                    DocumentStatus.Failed => "govuk-tag--red",
                                                    DocumentStatus.Incomplete => "govuk-tag--blue",
                                                    DocumentStatus.Complete => "govuk-tag--blue",
                                                    ModificationStatus.WithSponsor => "govuk-tag--yellow",
                                                    ModificationStatus.ReviseAndAuthorise => "govuk-tag--yellow",
                                                    ModificationStatus.Approved => "govuk-tag--green",
                                                    ModificationStatus.WithReviewBody => "govuk-tag--green",
                                                    ModificationStatus.NotApproved => "govuk-tag--red",
                                                    ModificationStatus.NotAuthorised => "govuk-tag--red",
                                                    ModificationStatus.Withdrawn => "govuk-tag--red",
                                                    _ => "govuk-tag--blue"
                                                };
                                            }
                                            <strong class="govuk-tag @(tagClass)">
                                                @ModificationStatusHelper.ToUiStatus(modification.Status)
                                            </strong>
                                        </td>
                                        @if (Model.Status is ModificationStatus.InDraft)
                                        {
                                            <td class="govuk-table__cell">
                                                @if (!isFailed && !isTracked)
                                                {
                                                    <a asp-route="pmc:continuetodetails"
                                                       asp-route-documentId="@modification.Id"
                                                       asp-route-reviewAllChanges="true"
                                                       class="govuk-link">
                                                        Change details
                                                    </a>
                                                }
                                            </td>
                                        }
                                        @if ((isRevisionBySponsor && Model.Status is ModificationStatus.ReviseAndAuthorise) || Model.Status is ModificationStatus.RequestRevisions)
                                        {
                                            <td class="govuk-table__cell">
                                                @if (!isFailed)
                                                {
                                                    <a asp-route="pmc:continuetodetails"
                                                       asp-route-documentId="@modification.Id"
                                                       asp-route-reviewAllChanges="false"
                                                       class="govuk-link">
                                                        Change details
                                                    </a>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
                <partial name="_Pagination" model="@Model.ProjectOverviewDocumentViewModel?.Pagination" />
            </div>
        </div>
    </div>
</div>

<div status-for="Status" status-in="@([ModificationStatus.InDraft, ModificationStatus.RequestRevisions])" class="govuk-button-group">
    <form method="get">
        @{
            ViewBag.Style = "govuk-button govuk-button--secondary";
        }
        <partial name="_SubmitButton" model="@("pmc:projectdocument", "Add documents", new Dictionary<string, string> { })" />
    </form>
</div>

<div status-for="Status" status-is="@ModificationStatus.ReviseAndAuthorise" class="govuk-button-group">
    @if (isRevisionBySponsor)
    {
        <form method="get">
            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";
            }
            <partial name="_SubmitButton" model="@("pmc:projectdocument", "Add documents", new Dictionary<string, string> { })" />
        </form>
    }
</div>

<p class="govuk-body">
    Select 'Download all' to save all documents to a zip file.
    <br />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a asp-route="pmc:downloaddocumentsaszip"
               asp-route-folderName="@Model.ModificationId"
               class="govuk-button govuk-button--secondary">
                Download all
            </a>
        </div>
    </div>
</p>


<div id="selectionPanel"
     class="govuk-!-margin-top-4 govuk-!-padding-4 govuk-!-display-none"
     style="border:1px solid #b1b4b6;">

    <p class="govuk-body govuk-!-margin-bottom-2">
        <strong>
            <span id="selectedCount">0</span>
            documents selected for download on this page
        </strong>
    </p>

    <div class="govuk-button-group">
        <button type="submit"
                class="govuk-button govuk-button--secondary">
            Download selection
        </button>

        <button type="button"
                id="clearSelection"
                class="govuk-link">
            Clear selection
        </button>
    </div>
</div>

<style>
    .document-row.selected {
        background-color: #f3f2f1;
        border-left: 5px solid #1d70b8;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const selectAll = document.getElementById("selectAllCheckbox");
        const checkboxes = document.querySelectorAll(".document-checkbox");
        const selectionPanel = document.getElementById("selectionPanel");
        const selectedCountText = document.getElementById("selectedCount");
        const clearSelectionBtn = document.getElementById("clearSelection");

        function updateSelectionUI() {

            let selectedCount = 0;

            checkboxes.forEach(cb => {

                const row = cb.closest(".document-row");
                const hiddenInputs = row.querySelectorAll("input[type='hidden']");

                if (cb.checked) {
                    selectedCount++;
                    row.classList.add("selected");

                    hiddenInputs.forEach(input => input.disabled = false);
                }
                else {
                    row.classList.remove("selected");
                    hiddenInputs.forEach(input => input.disabled = true);
                }
            });

            selectedCountText.textContent = selectedCount;

            if (selectedCount > 0) {
                selectionPanel.classList.remove("govuk-!-display-none");
            } else {
                selectionPanel.classList.add("govuk-!-display-none");
            }

            selectAll.checked = selectedCount === checkboxes.length;
        }

        // Individual checkbox change
        checkboxes.forEach(cb => {
            cb.addEventListener("change", updateSelectionUI);
        });

        // Select all toggle
        selectAll.addEventListener("change", function () {
            checkboxes.forEach(cb => cb.checked = selectAll.checked);
            updateSelectionUI();
        });

        // Clear selection
        clearSelectionBtn.addEventListener("click", function () {
            checkboxes.forEach(cb => cb.checked = false);
            selectAll.checked = false;
            updateSelectionUI();
        });

    });
</script>