@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs
@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Web.Helpers
@model ModificationDetailsViewModel

@{
    bool isRevisionBySponsor = ViewBag.IsRevisionBySponsor as bool? ?? false;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Supporting documents</h2>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-table-wrapper">
                    <form method="get" id="projectdocuments-selection">
                        <table class="govuk-table modifications-tasklist-table" id="projectDocumentsTable">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                                    @{
                                        var sortableHeaders = new[] {
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentType), Label = "Document type" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentName), Label = "Document name" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.FileName), Label = "File name" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentVersion), Label = "Version" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.DocumentDate), Label = "Document date" },
                                            new { Field = nameof(ProjectOverviewDocumentDto.Status), Label = "Status" }
                                        };

                                    }

                                    @foreach (var header in sortableHeaders)
                                    {
                                        <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                            @header.Label
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body govuk-body-s">
                                @foreach (var modification in Model.ProjectOverviewDocumentViewModel?.Documents ?? Enumerable.Empty<ProjectOverviewDocumentDto>())
                                {
                                    var isFailed = string.Equals(modification.Status, DocumentStatus.Failed, StringComparison.OrdinalIgnoreCase);

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <span class="govuk-!-font-weight-bold">@modification.DocumentType</span>
                                            @if (isFailed)
                                            {
                                                <div class="govuk-error-message govuk-!-margin-top-1 govuk-!-margin-bottom-1">
                                                    The selected file contains a virus
                                                </div>
                                            }
                                        </td>
                                        <td class="govuk-table__cell">
                                            <div class="wrapped-table-cell">
                                                @modification.DocumentName
                                            </div>
                                        </td>

                                        <td class="govuk-table__cell">
                                            <div class="wrapped-table-cell">
                                                @modification.FileName
                                            </div>
                                        </td>

                                        <td class="govuk-table__cell">
                                            <div class="wrapped-table-cell">
                                                @modification.DocumentVersion
                                            </div>
                                        </td>

                                        <td class="govuk-table__cell">
                                            <div class="wrapped-table-cell">
                                                @modification.DocumentDate?.ToString("d MMM yyyy")
                                            </div>
                                        </td>

                                        <td class="govuk-table__cell">
                                            <div class="wrapped-table-cell">
                                                @ModificationStatusHelper.ToUiStatus(modification.Status)
                                            </div>
                                        </td>
                                        @if (Model.Status is ModificationStatus.InDraft)
                                        {
                                            <td class="govuk-table__cell">
                                            </td>
                                        }
                                        @if ((isRevisionBySponsor && Model.Status is ModificationStatus.ReviseAndAuthorise) ||
                                           Model.Status is ModificationStatus.RequestRevisions ||
                                           Model.Status is ModificationStatus.ResponseRequestRevisions)
                                        {
                                            <td class="govuk-table__cell">
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>