@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent;

@section Breadcrumb {
	@await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
	{
		("My account", "/")
	})
}

@{
	var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("Approvals.Headline", null);
    var searchTitle = pageContent.GetValueOrDefault("Approvals.SearchTitle", null);
    var searchDescription = pageContent.GetValueOrDefault("Approvals.SearchDescription", null);
    var tasklistTitle = pageContent.GetValueOrDefault("Approvals.TasklistTitle", null);
    var tasklistDescription = pageContent.GetValueOrDefault("Approvals.TasklistDescription", null);
    var myTasklistTitle = pageContent.GetValueOrDefault("Approvals.MyTasklistTitle", null);
    var myTasklistDescription = pageContent.GetValueOrDefault("Approvals.MyTasklistDescription", null);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">@Html.Raw(headline?.Value)</h1>
        <partial name="_ActionItem" model="@(searchTitle?.Value, searchDescription?.Value, "approvals:index")" />
        <authorized auth-params="@new(Roles:"system_administrator,workflow_co-ordinator")">
            <partial name="_ActionItem" model="@(tasklistTitle?.Value, tasklistDescription?.Value, "tasklist:index")" />
        </authorized>
        <authorized auth-params="@new(Roles:"study-wide_reviewer")">
            <partial name="_ActionItem" model="@(myTasklistTitle?.Value, myTasklistDescription?.Value, "mytasklist:index")" />
        </authorized>
    </div>
</div>