@using Rsp.IrasPortal.Application.Constants;
@model ProjectOverviewModel

@{
    var active = ViewBag.Active as string;
    var backRoute = ViewData["BackRoute"] as string;
}

<partial name="_ProjectOverviewPartial" model="@Model" />

<div class="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <nav class="govuk-service-navigation__wrapper">
                <ul class="govuk-service-navigation__list">
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.ProjectDetails ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:projectdetails"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.ProjectDetails
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.ProjectDocuments ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:projectdocuments"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.ProjectDocuments
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.ProjectTeam ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:projectteam"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.ProjectTeam
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.ResearchLocations ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:researchlocations"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.ResearchLocations
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.PostApproval ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:postapproval"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.PostApproval
                        </a>
                    </li>
                    <li class="govuk-service-navigation__item small-margin @(active == ProjectOverview.ProjectHistory ? "govuk-service-navigation__item--active" : "")">
                        <a class="govuk-service-navigation__link"
                            asp-route="pov:projecthistory"
                            asp-route-projectRecordId="@Model.ProjectRecordId"
                            asp-route-backRoute="@backRoute">
                            @ProjectOverview.ProjectHistory
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
