@using Rsp.IrasPortal.Application.Constants
@using Microsoft.AspNetCore.Http.Extensions
@model PostApprovalViewModel

@{
    // set this to true if you want to navigate back to this
    // page via the Back button on the ModificationDetails page
    TempData[TempDataKeys.ProjectModification.LinkBackToReferrer] = true;
    TempData[TempDataKeys.ProjectModification.UrlReferrer] = Context.Request.GetDisplayUrl();

    ViewBag.Title = "Project overview";
    ViewBag.Active = ProjectOverview.PostApproval;

    var routeName = (ViewData["BackRoute"] as string) ?? "app:Welcome";
    var routeValues = ViewData["BackRouteValues"] as Dictionary<string, string>
                      ?? new Dictionary<string, string>();
}

@section BackNavigation {
    <partial name="_BackNavigation" model="@((routeName, "Back", routeValues))" />
}

@if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
{
    <partial name="_NotificationBanner" model="@("Success", "Modification progress successfully saved")" />
}

<partial name="_NavigationHeaderPartial" model="@Model.ProjectOverviewModel" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
        <h2 class="govuk-heading-m">Post approval</h2>
    </div>
    <div class="govuk-grid-column-full">
        <div class="govuk-table-wrapper">

            <input hidden="hidden" type="text" value="@Model.Pagination.SortField" name="sortField" />
            <input hidden="hidden" type="text" value="@Model.Pagination.SortDirection" name="sortDirection" />

            <table class="govuk-table modifications-tasklist-table" id="postApprovalTable">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                        @{
                            var sortableHeaders = new[]
                            {
                                                new { Field = nameof(PostApprovalModificationsModel.ModificationIdentifier), Label = "Modification ID" },
                                                new { Field = nameof(PostApprovalModificationsModel.ModificationType), Label = "Modification type" },
                                                new { Field = nameof(PostApprovalModificationsModel.ReviewType), Label = "Review type" },
                                                new { Field = nameof(PostApprovalModificationsModel.Category), Label = "Category" },
                                                new { Field = nameof(PostApprovalModificationsModel.DateSubmitted), Label = "Date submitted" },
                                                new { Field = nameof(PostApprovalModificationsModel.Status), Label = "Status" },
                                                new { Field = nameof(PostApprovalModificationsModel.SubmittedDate), Label = "Submitted date" }
                                                };
                            var tableId = "postApprovalTable";
                        }
                        @foreach (var header in sortableHeaders)
                        {
                            <th scope="col" class="govuk-table__header govuk-table__header-sortable">
                                @await Html.PartialAsync("_SortableHeaderButton", new SortableHeaderModel
                                {
                                    FieldName = header.Field,
                                                        DisplayText = header.Label,
                                                        CurrentSortField = Model.Pagination?.SortField,
                                                        CurrentSortDirection = Model.Pagination?.SortDirection,
                                                        TableId = tableId,
                                                        AdditionalParameters = new Dictionary<string, string>
                                                        {
                                                        { "projectRecordId", Model.ProjectOverviewModel.ProjectRecordId }
                                                        }
                                                        })
                        </th>
                                                }
                    </tr>
                </thead>

                <tbody class="govuk-table__body govuk-body-s">
                    @{
                        foreach (var modification in Model.Modifications)
                        {
                            //string projectRecordId, string irasId, string shortTitle, Guid projectModificationId

                            var modificationParams = new Dictionary<string, string> {
                                        { "projectRecordId", Model.ProjectOverviewModel.ProjectRecordId },
                                        { "irasId", Model.ProjectOverviewModel.IrasId?.ToString()  },
                                        { "shortTitle", Model.ProjectOverviewModel.ProjectTitle?.ToString() },
                                        { "projectModificationId", modification.ModificationId  }
                                        };

                            var modificationReviewRoute = "pmc:modificationdetails";

                            if (modification.Status is "Approved" or "In sponsor review")
                            {
                                modificationReviewRoute = "pmc:reviewallchanges";
                            }
                            if (modification.Status is ModificationStatus.InDraft)
                            {
                                modification.SubmittedDate = null;
                            }
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" asp-route="@modificationReviewRoute" asp-all-route-data="modificationParams">
                                        <strong>@modification.ModificationIdentifier</strong>
                                    </a>
                                </td>
                                <td class="govuk-table__cell">@modification.ModificationType</td>
                                <td class="govuk-table__cell">@modification.ReviewType</td>
                                <td class="govuk-table__cell">@modification.Category</td>
                                @{
                                    <td class="govuk-table__cell">@modification.DateSubmitted?.ToString("dd MMM yyyy")</td>
                                }
                                <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">@modification.Status</strong></td>
                                <td class="govuk-table__cell">@modification.SubmittedDate?.ToString("dd MMM yyyy")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <partial name="_Pagination" model="@Model.Pagination" />
        <a asp-route="pmc:createmodification"
           class="govuk-button govuk-button--secondary">
            Create new modification
        </a>
    </div>
</div>