@using Rsp.IrasPortal.Application.Constants;
@using Rsp.IrasPortal.Application.DTOs.Responses;
@model ProjectOverviewModel

@{
	ViewBag.Title = "Project overview";
	ViewBag.Active = ProjectOverview.ProjectDetails;
}

@{
	var routeName = (ViewData["BackRoute"] as string) ?? "app:Welcome";
	var routeValues = ViewData["BackRouteValues"] as Dictionary<string, string>
							?? new Dictionary<string, string>();
	var modificationId = Context.Request.Query["modificationId"].ToString();
	var projectTitle = !string.IsNullOrEmpty(Model.ProjectTitle) ? Model.ProjectTitle : "Project overview";
}

@section Breadcrumb {
	@await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
	{
		("My research", Url.Action("Welcome", "Application"))
	})
}

@if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
{
    <partial name="_NotificationBanner" model="@("Success", $"Modification {modificationId} has been successfully deleted")" />
}


<partial name="_NavigationHeaderPartial" model="@Model" />

<div class="govuk-grid-row">
    <div class="govuk-width-container govuk-!-margin-top-4">
        <h2 class="govuk-heading-m">Project details</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    IRAS ID
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.IrasId
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Short project title
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ProjectTitle
                </dd>
            </div>
			@if (@Model.FullProjectTitle != null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Full project title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.FullProjectTitle
                    </dd>
                </div>
            }
            @if (@Model.RecName != null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        REC name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.RecName
                    </dd>
                </div>  
            }
        </dl>
    </div>
</div>