@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses
@model ProjectOverviewModel
@{
    ViewBag.Title = "Project history";
    ViewBag.Active = ProjectOverview.ProjectHistory;
}

@{
    var routeName = (ViewData["BackRoute"] as string) ?? "app:Welcome";
    var routeValues = ViewData["BackRouteValues"] as Dictionary<string, string>
                      ?? new Dictionary<string, string>();
    var modificationId = Context.Request.Query["modificationId"].ToString();
}

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("My research", Url.RouteUrl("app:welcome"))
    })
}

@if (TempData[TempDataKeys.ShowNotificationBanner] is not null)
{
    <partial name="_NotificationBanner" model="@("Success", $"Modification {modificationId} has been deleted")" />
}

<partial name="_NavigationHeaderPartial" model="@Model" />

<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Project history</h2>
        <div class="govuk-table-wrapper">
            <table class="govuk-table govuk-table-users">
                <thead>
                    <tr>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Date</th>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Event description</th>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Modification ID</th>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--email line-break-anywhere">User email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.AuditTrails)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@record.DateTimeStamp.ToString("dd MMMM yyyy HH:mm")</td>
                            <td class="govuk-table__cell">@record.Description</td>
                            <td class="govuk-table__cell line-break-anywhere">Not applicable</td>
                            <td class="govuk-table__cell line-break-anywhere">@record.User</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>