@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@model Rsp.Portal.Web.Features.SponsorWorkspace.MyOrganisations.Models.SponsorMyOrganisationUsersViewModel

@{
    ViewBag.Title = (string?)ViewData[PageContentElements.MetaTitle];

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationUsersAddUserPermission.Title", null);
    var body = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationUsersAddUserPermission.Body", null);
    var description = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationUsersAddUserPermission.Description", null);
    var permissionTitle = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationUsersAddUserPermission.PermissionTitle", null);
    var permissionHint = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationUsersAddUserPermission.PermissionHint", null);
}

@section BackNavigation {
    <partial name="_BackNavigation" model="@("sws:myorganisationusersadduserrole", "Back", new Dictionary<string, string> { { "RtsId", Model.RtsId }, { "UserId", Model.UserId }, { "Role", Model.Role } })"/>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")"/>

        <div class="govuk-label">
            @Html.Raw(headline?.Value)
        </div>
        <h1 class="govuk-heading-l"> @Html.Raw(body?.Value)</h1>
        <label class="govuk-label">
			@Html.Raw(description?.Value)
        </label>
        <br/>
        <form method="get"
              class="govuk-form-group">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="role-hint">
                    <label class="govuk-label">
                        @Html.Raw(permissionTitle?.Value)
                    </label>
                    <label class="govuk-hint">
                        @Html.Raw(permissionHint?.Value)
                    </label>
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input"
                                   id="can-authorise-submissions"
                                   name="canAuthorise"
                                   type="checkbox"
                                   value="true"
                                   @(Model.CanAuthorise ? "checked" : "")/>
                            <label class="govuk-label govuk-checkboxes__label" for="can-authorise-submissions">
                                User can authorise submissions
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <br/><br/>
            <input type="hidden" name="rtsId" value="@Model.RtsId"/>
            <input type="hidden" name="userId" value="@Model.UserId"/>
            <input type="hidden" name="role" value="@Model.Role"/>

            @{
                ViewBag.Style = "govuk-button govuk-button--primary";
            }
            <partial name="_SubmitButton"
                     model="@("sws:myorganisationuserscheckandconfirm", "Save and continue", new Dictionary<string, string>())"/>
        </form>
    </div>
</div>