@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@using Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models
@model SponsorMyOrganisationAuditViewModel

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("Sponsor workspace", Url.RouteUrl("sws:sponsorworkspace")),
        ("My organisations", Url.RouteUrl("sws:myorganisations"))
    })
}

@{
    var errorSummaryTitle = "There is a problem";
    ViewBag.Title = "Sponsor organisation profile";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationAuditTrail.Title", null);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-l">
            @Html.Raw(headline?.Value)
        </div>
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
</div>

<partial name="_NavigationTabPartial" model="@Model" view-data="@ViewData"/>

<br />
<h2 class="govuk-heading-l">
    Audit history
</h2>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-table-wrapper">
            <table class="govuk-table govuk-table-users">
                <thead>
                    <tr>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Date</th>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Event description</th>
                        <th class="govuk-table__header govuk-table__header-sortable govuk-table--email line-break-anywhere">Username</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.AuditTrails)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@record.DateTimeStamp.ToString("dd MMM yyyy") at @record.DateTimeStamp.ToString("HH:mm")</td>
                            <td class="govuk-table__cell">@record.Description</td>
                            <td class="govuk-table__cell line-break-anywhere">@record.User</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
