@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@model Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models.SponsorMyOrganisationProfileViewModel

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("Sponsor workspace", Url.RouteUrl("sws:sponsorworkspace")),
        ("My organisations", Url.RouteUrl("sws:myorganisations"))
    })
}

@{
    var errorSummaryTitle = "There is a problem";
    ViewBag.Title = "Sponsor organisations profile";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisationProfile.Title", null);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-caption-l">
            @Html.Raw(headline?.Value)
        </div>
        <h1 class="govuk-heading-l">@Model.Name</h1>
    </div>
</div>

<partial name="_NavigationTabPartial" model="@Model" view-data="@ViewData"/>

<br />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Name
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Country
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Country
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.Raw(@Model.Address.Replace(",", "<br />"))
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last updated
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.LastUpdated.ToString("dd MMM yyyy") at @Model.LastUpdated.ToString("HH:mm")
                </dd>
            </div>
        </dl>
    </div>
</div>	