@using Rsp.IrasPortal.Web.Features.SponsorWorkspace.MyOrganisations.Models
@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses;
@using System.Linq
@using Rsp.IrasPortal.Application.DTOs.Responses.CmsContent
@using Rsp.IrasPortal.Web.Areas.Admin.Models

@model SponsorMyOrganisationsViewModel

@section Breadcrumb {
    @await Html.PartialAsync("_Breadcrumb", new List<(string, string?)>
    {
        ("Sponsor workspace", Url.RouteUrl("sws:sponsorworkspace"))
    })
}

@{
    var errorSummaryTitle = "There is a problem";
    ViewBag.Title = "My organisations";

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisations.Title", null);
    var searchTitle = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisations.SearchTitle", null);
    var searchHint = pageContent.GetValueOrDefault("SponsorWorkspace.MyOrganisations.SearchHint", null);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Html.Raw(headline?.Value)</h1>
    </div>
</div>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
		<form method="get" class="govuk-form-group" >
            <label class="govuk-label" for="SearchQuery">
                <b>@Html.Raw(searchTitle?.Value)</b>
            </label>
            <div class="govuk-label">
                @Html.Raw(searchHint?.Value)
            </div>
       
			<div class="review-body-search">
                <input class="govuk-input" id="SearchQuery" name="SearchQuery" type="text" value="@(Model.Search?.SearchTerm ?? string.Empty)">
                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }
                <partial name="_SubmitButton" model="@("sws:myorganisations", "Search", new Dictionary<string, string>())"/>
			</div>
        </form>
    </div>
    </div>