@using Rsp.IrasPortal.Application.DTOs.Responses
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model ReviewBodyAuditTrailViewModel

@{
	ViewBag.Active = "rbc";
    ViewBag.Title = "Audit history - Manage review bodies - System Administration";

	var id = Context.Request.Query["reviewBodyId"].ToString();
}

<a asp-route="rbc:viewreviewbody" asp-all-route-data="@(new Dictionary<string, string>{{"id", id}})" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters">
		<h1 class="govuk-heading-l">Audit history: @Model.BodyName</h1>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<div class="govuk-table-wrapper">
			<table class="govuk-table govuk-table-users">
				<thead>
					<tr>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Date</th>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Event description</th>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--email line-break-anywhere">System administrator</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Items != null)
					{
						foreach (var record in Model.Items)
						{
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">@record.DateTimeStamp.ToString("dd MMM yyyy HH:mm")</td>
								<td class="govuk-table__cell">@record.Description</td>
								<td class="govuk-table__cell line-break-anywhere">@record.User</td>
							</tr>
						}
					}

				</tbody>
			</table>
		</div>

		<partial name="_Pagination" model="@Model.Pagination" />
	</div>
</div>