@model AddUpdateReviewBodyModel

@{
    ViewData["Title"] = "Check and create review body";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check and create review body</h1>
        <p class="govuk-body">Check the information here is correct before creating the profile.</p>

        <form method="get" asp-action="AddReviewBody">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="OrganisationName"/>
            <input type="hidden" asp-for="EmailAddress"/>
            <input type="hidden" asp-for="Description"/>

            @foreach (var country in Model.Countries ?? new List<string>())
            {
                <input type="hidden" name="Countries" value="@country"/>
            }

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Organisation name</dt>
                    <dd class="govuk-summary-list__value">@Model.OrganisationName</dd>
                    <dd class="govuk-summary-list__actions">

                    
                        <button class="govuk-link govuk-button--text" type="submit">Change</button>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Country</dt>
                    <dd class="govuk-summary-list__value">@string.Join(", ", Model.Countries)</dd>
                    <dd class="govuk-summary-list__actions">

                 
                        <button class="govuk-link govuk-button--text" type="submit">Change</button>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Email address</dt>
                    <dd class="govuk-summary-list__value">@Model.EmailAddress</dd>
                    <dd class="govuk-summary-list__actions">

                
                        <button class="govuk-link govuk-button--text" type="submit">Change</button>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Description</dt>
                    <dd class="govuk-summary-list__value">@Model.Description</dd>
                    <dd class="govuk-summary-list__actions">

             
                        <button class="govuk-link govuk-button--text" type="submit">Change</button>

                    </dd>
                </div>
            </dl>

        </form>

        <form method="post" asp-action="Success">
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="hidden" name="OrganisationName" value="@Model.OrganisationName" />
            <input type="hidden" name="EmailAddress" value="@Model.EmailAddress" />
            <input type="hidden" name="Description" value="@Model.Description" />
            @foreach (var country in Model.Countries ?? new List<string>())
            {
                <input type="hidden" name="Countries" value="@country" />
            }

            <partial name="_SubmitButton" model='("Success", "Create profile", new Dictionary<string, string>())' />
        </form>

    </div>
</div>