@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TextAreaTagHelper = GovUk.Frontend.AspNetCore.TagHelpers.TextAreaTagHelper
@model AddUpdateReviewBodyModel

@{
    var buttonText = ViewBag.Mode == "update" ? "Save" : "Continue";
    var heading = ViewBag.Mode == "update" ? "Edit review body details" : "Add a new review body";
    var submitActionName = ViewBag.Mode == "update" ? "rbc:submitreviewbody" : "rbc:confirmchanges";
    var backActionName = ViewBag.Mode == "update" ? "rbc:viewreviewbody" : "rbc:viewreviewbodies";
}


<form method="get">
    <partial name="_BackNavigation" model="@(backActionName, "Back", new Dictionary<string, string> { { "Id", Model.Id.ToString() } })"/>
</form>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@heading</h1>
        <form method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="CreatedBy"/>
            <input type="hidden" asp-for="UpdatedBy"/>
			<input type="hidden" asp-for="IsActive" />

            <div class="govuk-form-group @(ViewData.ModelState["OrganisationName"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                <label class="govuk-label" for="OrganisationName">
                    <b>Organisation name</b>
                </label>
                <span class="govuk-error-message" asp-validation-for="OrganisationName"></span>
                <input class="govuk-input govuk-!-width-one-half"
                       id="OrganisationName"
                       name="OrganisationName"
                       type="text"
                       asp-for="OrganisationName">

            </div>

            <div class="govuk-form-group @(ViewData.ModelState["Countries"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <label class="govuk-label">
                            <b>Country</b>
                        </label>
                    </legend>
                    <span class="govuk-error-message" asp-validation-for="Countries"></span>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        @foreach (var country in new[] { "England", "Northern Ireland", "Scotland", "Wales" })
                        {
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input"
                                       id="@country"
                                       name="Countries"
                                       type="checkbox"
                                       value="@country"
                                       @(Model.Countries != null && Model.Countries.Contains(country) ? "checked" : "")>
                                <label class="govuk-label govuk-checkboxes__label" for="@country">@country</label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group @(ViewData.ModelState["EmailAddress"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                <label class="govuk-label" for="EmailAddress">
                    <b>Email address</b>
                </label>
                <span class="govuk-error-message" asp-validation-for="EmailAddress"></span>
                <input class="govuk-input govuk-!-width-three-quarters" id="EmailAddress" name="EmailAddress" type="text" asp-for="EmailAddress">
            </div>

            <div class="govuk-form-group @(ViewData.ModelState["Description"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                <label class="govuk-label" for="Description">
                    <b>Add description</b>
                </label>
                <span class="govuk-error-message" asp-validation-for="Description"></span>
                <textarea class="govuk-textarea" id="Description" rows="5" name="Description" type="text" asp-for="Description"></textarea>

            </div>

            <partial name="_SubmitButton" model="@(submitActionName, buttonText, new Dictionary<string, string>())"/>
        </form>
    </div>
</div>