@model IEnumerable<Rsp.IrasPortal.Application.DTOs.ReviewBodyDto>

@{
    ViewData["Title"] = "View review bodies";
}
<partial name="_BackNavigation" model="@("app:welcome", "Back", new Dictionary<string, string>())" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Manage review bodies</h1>
    </div>
    <div class="govuk-grid-column-one-half">
        <a class="govuk-link govuk-body float-right" asp-route="rbc:createreviewbody">Add a new review body record</a>
    </div>
</div>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Organisation name</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Country</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @{
            foreach(var reviewBody in Model)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@reviewBody.OrganisationName</td>
                    <td class="govuk-table__cell">@String.Join(", ", reviewBody.Countries)</td>
                    <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag__full_width @(reviewBody.IsActive ? "govuk-tag--green" : "govuk-tag--dark_red")">
                            @(reviewBody.IsActive ? "ACTIVE" : "DISABLED")
                        </strong>
                    </td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" asp-route="rbc:viewreviewbody" asp-route-id="@reviewBody.Id">View/Edit</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>