@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Domain.AccessControl
@model Rsp.Portal.Web.Models.ProjectClosuresModel
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewBag.Title = "Close project - Make changes to research - Plan and manage healthcare research";
    // Title used in the validation error summary
    var errorSummaryTitle = "There is a problem";

    //var plannedProjectEndDate = TempData[TempDataKeys.PlannedProjectEndDate];
    var plannedProjectEndDate = TempData.Peek(TempDataKeys.PlannedProjectEndDate) as string;
    if (plannedProjectEndDate is not null)
        httpContextAccessor?.HttpContext?.Session.SetString(TempDataKeys.PlannedProjectEndDate, plannedProjectEndDate);

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var headline = pageContent.GetValueOrDefault("Application.CloseProject.Title", null);
    var body = pageContent.GetValueOrDefault("Application.CloseProject.Body", null);

    // Detect field error for summary styling
    var hasError = ViewData.ModelState.TryGetValue(nameof(Model), out var entry) && entry!.Errors.Any();

}
@section BackNavigation {
    <partial name="_BackNavigation" model="@("pov:postapproval", "Back", new Dictionary<string, string> { { "projectRecordId", Model.ProjectRecordId }, { "backRoute", "projectClosure" } })" />
}

<div class="govuk-width-container">
    <form method="post">
        <input type="hidden" name="ProjectRecordId" value="@Model.ProjectRecordId" />
        <input type="hidden" name="IrasId" value="@Model.IrasId" />
        <input type="hidden" name="ShortProjectTitle" value="@Model.ShortProjectTitle" />
        <input type="hidden" name="PlannedProjectEndDate" value="@plannedProjectEndDate" />

        <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Close Project</h1>
                <div class="govuk-inset-text">
                    <p>
                        <strong>IRAS ID:</strong> @Model.IrasId
                    </p>
                    <p>
                        <strong>Short project title:</strong> @Model.ShortProjectTitle
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    Planned project end date                           &nbsp;&nbsp;<strong> @plannedProjectEndDate </strong>
                </p>
            </div>
        </div>
        <br />
        <div class="govuk-grid-row">
                <p> Actual project closure date  </p>
                <fieldset class="govuk-fieldset">
                    <rsp-gds-date-input asp-for="ActualClosureDate"
                                        day-name="ActualClosureDateDay"
                                        day-value="@Model.ActualClosureDateDay"
                                        month-name="ActualClosureDateMonth"
                                        month-value="@Model.ActualClosureDateMonth"
                                        year-name="ActualClosureDateYear"
                                        year-value="@Model.ActualClosureDateYear"
                                        hint-html="For example, 28 February 2023"
                                        error-key="ActualClosureDate"
                                        id="ActualClosureDate"
                                        label-html-class="font-weight-none" />

                </fieldset>
            
        </div>
        <br />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    <strong>@Html.Raw(headline?.Value)</strong>
                </p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p>
                    @Html.Raw(body?.Value)
                </p>
            </div>
        </div>

        <div class="govuk-grid-row" permission="@Permissions.MyResearch.ProjectRecord_Close">
            <div class="govuk-grid-column-two-thirds">
                <div class="save-buttons">
                    <button class="govuk-button" data-module="govuk-button" type="submit" asp-route="app:confirmprojectclosure">Send to sponsor</button>
                </div>
            </div>
        </div>
    </form>
</div>