@using System.Globalization
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Features.Modifications.Models
@model ProjectOverviewModel

@{
    ViewBag.Title = $"Delete {Model.ProjectTitle}";

    var navModel = ("pov:index", "Back", new Dictionary<string, string> { { "projectRecordId", Model.ProjectRecordId } });
    var projectTitleText = !string.IsNullOrWhiteSpace(Model.ProjectTitle) ? " " + Model.ProjectTitle : "";
}

<div class="govuk-width-container">
    @section BackNavigation {
        <form method="get">
            <partial name="_BackNavigation" model="navModel" />
        </form>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@($"Are you sure you want to delete project{projectTitleText}?")</h1>

            @* Need to use the full path here for the partial view as, ProjectOverview is not fully in Features folder yet *@
            <partial name="/Features/ProjectOverview/Views/DeleteProjectOverview.cshtml" model="@Model" />

            <p class="govuk-body">
                Deleting a project cannot be undone.
            </p>
                        
            <form method="post">
                <div class="save-buttons">
                    @Html.AntiForgeryToken()
                    <button asp-route="app:deleteproject" asp-route-projectRecordId="@Model.ProjectRecordId" type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
                        Delete project
                    </button>
                    <a asp-route="pov:index" asp-route-projectRecordId="@Model.ProjectRecordId" class="ms-3 govuk-button govuk-button--secondary">
                        Keep project
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>