@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserViewModel
@inject IFeatureManager featureManager

@{
	var buttonText = ViewBag.Mode == "edit" ? "Save Changes" : "Create Profile";
	var heading = ViewBag.Mode == "edit" ? "Edit User" : "Add a new user profile record";
	var editUserUrl = ViewBag.Mode == "edit" ? "" : "/admin/users/editnewuser";
}

@if (await featureManager.IsEnabledAsync(Features.ProgressiveEnhancement))
{
	@section FooterResources {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/manageUsers.js"></script>
	}

	<a href="javascript:;" onclick="submitFormWithAction('submit-user-form', '@editUserUrl')" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">@heading</h2>
		<p>Check the information here is correct before creating the profile</p>
		<form method="post" id="submit-user-form">
			<table class="govuk-table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Title</b></td>
						<td class="govuk-table__cell">
							@Model.Title
							<input type="hidden" asp-for="Title" name="Title" value="@Model.Title" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>First name</b></td>
						<td class="govuk-table__cell">
							@Model.FirstName
							<input type="hidden" asp-for="FirstName" name="FirstName" value="@Model.FirstName" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Last name</b></td>
						<td class="govuk-table__cell">
							@Model.LastName
							<input type="hidden" asp-for="LastName" name="LastName" value="@Model.LastName" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Email address</b></td>
						<td class="govuk-table__cell">
							@Model.Email
							<input type="hidden" asp-for="Email" name="Email" value="@Model.Email" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Telephone</b></td>
						<td class="govuk-table__cell">
							@Model.Telephone
							<input type="hidden" asp-for="Telephone" name="Telephone" value="@Model.Telephone" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Organisation</b></td>
						<td class="govuk-table__cell">
							@Model.Organisation
							<input type="hidden" asp-for="Organisation" name="Organisation" value="@Model.Organisation" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Job title</b></td>
						<td class="govuk-table__cell">
							@Model.JobTitle
							<input type="hidden" asp-for="JobTitle" name="JobTitle" value="@Model.JobTitle" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					<tr class="govuk-table__row">
						<td class="govuk-table__cell"><b>Role</b></td>
						<td class="govuk-table__cell">
							@Model.Role
							<input type="hidden" asp-for="Role" name="Role" value="@Model.Role" />
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
					</tr>

					@if (Model.Role == "operations" && Model.Country != null && Model.Country.Any())
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><b>Country</b></td>
							<td class="govuk-table__cell">
								@string.Join(", ", Model.Country)
								@for (int i = 0; i <= Model.Country.Count - 1; i++)
								{
									<input type="hidden" asp-for="Country[@i]" name="Country[@i]" value="@Model.Country[i]" />
								}
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
						</tr>
					}

					@if (Model.Role == "operations" && Model.AccessRequired != null && Model.AccessRequired.Any())
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell"><b>Access Required</b></td>
							<td class="govuk-table__cell">
								@string.Join(", ", Model.AccessRequired)
								@for (int i = 0; i <= Model.AccessRequired.Count - 1; i++)
								{
									<input type="hidden" asp-for="AccessRequired[@i]" name="AccessRequired[@i]" value="@Model.AccessRequired[i]" />
								}
							</td>
							<td class="govuk-table__cell govuk-table__cell--numeric"><button class="govuk-button-hyperlink" type="submit" formaction="@editUserUrl">Change</button></td>
						</tr>
					}

				</tbody>
			</table>
			<partial name="_SubmitButton" model="@("admin:submituser", buttonText, new Dictionary<string, string>())" />
		</form>
	</div>
</div>
