@using Microsoft.FeatureManagement
@using Rsp.Gds.Component.Models
@using Rsp.IrasPortal.Application.Constants
@model Rsp.IrasPortal.Web.Areas.Admin.Models.UserViewModel
@inject IFeatureManager featureManager

@{
    var buttonText = ViewBag.Mode == "edit" ? "Save" : "Continue";
    var heading = ViewBag.Mode == "edit" ? "Edit user profile record" : "Add a new user profile record";
    var submitActionName = ViewBag.Mode == "edit" ? "admin:submituser" : "admin:confirmusersubmission";

    ViewBag.Active = "manageUsers";
    ViewBag.Title = "Manage users";

    ViewBag.DefaultOptions = new List<GdsOption>();
}
<form method="post">
    @if (ViewBag.Mode == "edit")
    {
        <a asp-route="admin:viewuser" asp-all-route-data="@(new Dictionary<string, string> { { "email", Model.Email }, { "userId", Model.Id! } })" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-route="admin:users" class="govuk-back-link">Back</a>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@heading</h1>
            <input name="Id" asp-for="Id" value="@(Model.Id ?? string.Empty)"/>
            <input name="OriginalEmail" asp-for="OriginalEmail" value="@(Model.OriginalEmail ?? string.Empty)"/>
            <input hidden readonly name="Status" asp-for="Status" value="@(Model.Status ?? string.Empty)"/>

            <partial name="_ValidationSummary" model="@(ViewData.ModelState, "There is a problem")"/>

            <rsp-gds-input asp-for="Title" label-text="Title" width-class="govuk-!-width-one-quarter"/>

            <rsp-gds-input asp-for="GivenName" label-text="First name" width-class="govuk-!-width-one-half"/>

            <rsp-gds-input asp-for="FamilyName" label-text="Last name" width-class="govuk-!-width-one-half"/>

            <rsp-gds-input asp-for="Email" label-text="Email address" input-type="email" width-class="govuk-!-width-two-thirds"/>

            <rsp-gds-input asp-for="Telephone" label-text="Telephone" input-type="tel" width-class="govuk-!-width-two-thirds"/>

            <rsp-gds-input asp-for="Organisation" label-text="Organisation" width-class="govuk-!-width-three-quarters"/>

            <rsp-gds-input asp-for="JobTitle" label-text="Job title" width-class="govuk-!-width-three-quarters"/>

            <rsp-gds-checkbox-group asp-for="UserRoles"
                                    label-text="Role"
									item-label-property="DisplayName"
                                    item-value-property="IsSelected"
                                    item-hidden-properties="Id,Name"
									legend-class="govuk-label govuk-label--s" />


            <rsp-gds-select
                asp-for="Committee"
                label-text="Committee"
                options="ViewBag.DefaultOptions"
                include-default-option="true"
                default-option-text="Please select..."
                conditional-field="true"
                class="role-list-dropdown govuk-!-width-three-quarters">
            </rsp-gds-select>


            <rsp-gds-checkbox-group asp-for="Country"
                                    label-text="Country"
                                    options="UkCountryNames.Countries"
                                    label-css-class="role-checkbox"
                                    conditional-field="true"
									legend-class="govuk-label govuk-label--s" />

            <rsp-gds-checkbox-group asp-for="AccessRequired"
                                    label-text="Access required"
                                    options="AccessRequiredOptions.Options"
                                    label-css-class="role-checkbox"
                                    conditional-field="true"
									legend-class="govuk-label govuk-label--s" />

            <rsp-gds-select
                asp-for="ReviewBody"
                label-text="Review body"
                options="ViewBag.DefaultOptions"
                include-default-option="true"
                default-option-text="Please select..."
                conditional-field="true"
                class="role-list-dropdown govuk-!-width-three-quarters">
            </rsp-gds-select>


            <partial name="_SubmitButton" model="@(submitActionName, buttonText, new Dictionary<string, string>())"/>
            @{
                ViewBag.Style = "ms-3 govuk-button govuk-button--secondary";
            }
        </div>
    </div>
</form>
<!--Use javascript only when progressive enhancement feature is enabled-->
@if (await featureManager.IsEnabledAsync(Features.ProgressiveEnhancement))
{
    @section FooterResources {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/manageUsers.js"></script>
    }
}