@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model (IEnumerable<UserViewModel> Users, PaginationViewModel Pagination)

@{
	ViewBag.Active = "manageUsers";
	ViewBag.Title = "Manage users";
}

<partial name="_BackNavigation" model="@("systemadmin:view", "Back", new Dictionary<string, string>())" />

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h1 class="govuk-heading-l">Manage users</h1>
	</div>

	<div class="govuk-grid-column-one-half">
		<a class="govuk-link govuk-body float-right" asp-route="admin:createuser">Add a new user profile record</a>
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

		<form method="post">
			<label class="govuk-label" for="SearchUser"><b>Find a user</b></label>
			<input class="govuk-input govuk-!-width-two-thirds" id="SearchUser" name="SearchUser" type="text">
			<partial name="_SubmitButton" model="@("", "Search", new Dictionary<string, string>())" />
		</form>
		<div class="govuk-table-wrapper">
			<table class="govuk-table govuk-table-users">
				<thead>
					<tr>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--name">First name</th>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--name">Last name</th>
						<th class="govuk-table__header govuk-table__header-sortable govuk-table--email line-break-anywhere">Email address</th>
						<th class="govuk-table__header govuk-table__header-sortable">Status</th>
						<th class="govuk-table__header govuk-table__header-sortable">Last logged in</th>
						<th class="govuk-table__header govuk-table__header-sortable">Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model.Users)
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">@user.FirstName</td>
							<td class="govuk-table__cell">@user.LastName</td>
							<td class="govuk-table__cell line-break-anywhere">@user.Email</td>
							<td class="govuk-table__cell">
								@if (!string.IsNullOrEmpty(user.Status))
								{
									var statusClass = string.Equals(user.Status, IrasUserStatus.Active, StringComparison.InvariantCultureIgnoreCase) ? "govuk-tag--green" : "govuk-tag--red";

									<strong class="govuk-tag @statusClass"><b>@user.Status.ToUpperInvariant()</b></strong>
								}
							</td>
							<td class="govuk-table__cell">@(user.LastLogin.HasValue ? user.LastLogin.Value.ToString("dd MMM yyyy") : string.Empty)</td>
							<td class="govuk-table__cell">
								<a class="govuk-link" asp-route="admin:viewuser" asp-route-userId="@user.Id"
								   asp-route-email="@user.Email">View/Edit</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<partial name="_Pagination" model="@Model.Pagination" />
	</div>
</div>
