@using Rsp.IrasPortal.Application.Constants
@using Rsp.Gds.Component.Models
@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model UserSearchViewModel

@{
    ViewBag.Active = "manageUsers";
    ViewBag.Title = "Manage Users - System Administration";

    var statusOptions = new List<GdsOption>
    {
        new() { Value = "true", Label = "Active" },
        new() { Value = "false", Label = "Disabled" }
    };
    var sortableHeaders = new[]
    {
        new { Field = nameof(UserViewModel.GivenName), Label = "First name" },
        new { Field = nameof(UserViewModel.FamilyName), Label = "Last name" },
        new { Field = nameof(UserViewModel.Email), Label = "Email address" },
        new { Field = nameof(UserViewModel.Status), Label = "Status" },
        new { Field = nameof(UserViewModel.CurrentLogin), Label = "Last logged in" }
    };
    var tableId = "usersTable";
}

@section BackNavigation {
    <partial name="_BackNavigation" model="@("systemadmin:view", "Back", new Dictionary<string, string>())"/>
}

@functions {

    private bool CanOpenPanelForField(string fieldName) =>
        ViewData.ModelState.TryGetValue(fieldName, out var state) && state.Errors.Any();

    private bool CanOpenPanelForAnyField(params string[] fieldNames) =>
        fieldNames.Any(CanOpenPanelForField);

    private bool CanOpenFilterPanel() =>
        ViewData.ModelState.Values.Any(v => v.Errors.Count > 0);

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Manage users</h1>
    </div>
    <div class="govuk-grid-column-one-half">
        <a class="govuk-link govuk-body float-right" asp-route="admin:createuser">Add a new user profile record</a>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-action="ApplyFilters" asp-controller="Users" class="govuk-form-group" asp-route-fromPagination="false">

            <label class="govuk-label" for="Search.SearchQuery">
                <b>Find a user</b>
            </label>
            <div class="govuk-hint" id="Search.SearchQuery-hint">
                Search for the first name, last name or email address
            </div>

            <div class="review-body-search">
                <input class="govuk-input" id="Search.SearchQuery" name="Search.SearchQuery" type="text"
                       value="@(Model.Search?.SearchQuery ?? string.Empty)"/>

                <button class="govuk-button mb-0" data-module="govuk-button" type="submit">
                    Search
                </button>
            </div>

            <input hidden readonly name="PageSize" value="@Model.Pagination?.PageSize"/>
            <input hidden readonly name="PageNumber" value="@Model.Pagination?.PageNumber"/>

            <!-- Filter Panel -->
            <div class="search-filter-panel">
                <details class="search-filter-toggle" @(CanOpenFilterPanel() ? "open" : null)>
                    <summary
                        class="search-filter-panel__header"
                        tabindex="-1"
                        role="button"
                        aria-controls="filter-panel"
                        aria-expanded="@(CanOpenFilterPanel().ToString().ToLower())">

                        <span
                            class="search-filter-panel__button-inner govuk-link"
                            tabindex="0">
                            Advanced filters
                        </span>

                        <span class="search-filter-panel__count" aria-hidden="true" tabindex="-1">
                            @(Model.Pagination?.TotalCount ?? 0) results
                        </span>
                    </summary>

                    <div class="search-filter-panel__content" id="filter-panel" role="region" aria-labelledby="toggle-filter">

                        <!-- Country -->
                        <details class="search-filter-section" @(CanOpenPanelForField("Search.Country") ? "open" : null)>
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Country</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-checkbox-group asp-for="Search.Country"
                                                                label-text="Select all that apply"
                                                                options="UkCountryNames.Countries"
                                                                conditional-field="false"
                                                                legend-class="govuk-label govuk-label--s font-weight-none"
                                                                hint-id="country-hint"
                                                                hint-html="@($"{Model.Search.Country?.Count ?? 0} selected")"/>
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <!-- Last logged in -->
                        <details class="search-filter-section" @(CanOpenPanelForAnyField("Search.FromDate", "Search.ToDate") ? "open" : null)>
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Last logged in</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-date-input asp-for="Search.FromDate"
                                                            day-name="Search.FromDay"
                                                            day-value="@Model.Search.FromDay"
                                                            month-name="Search.FromMonth"
                                                            month-value="@Model.Search.FromMonth"
                                                            year-name="Search.FromYear"
                                                            year-value="@Model.Search.FromYear"
                                                            label-text="Enter the date you want to search from"
                                                            hint-html="For example, 28 February 2023"
                                                            error-key="FromDate"
                                                            id="FromDate"
                                                            label-html-class="font-weight-none"/>

                                        <rsp-gds-date-input asp-for="Search.ToDate"
                                                            day-name="Search.ToDay"
                                                            day-value="@Model.Search.ToDay"
                                                            month-name="Search.ToMonth"
                                                            month-value="@Model.Search.ToMonth"
                                                            year-name="Search.ToYear"
                                                            year-value="@Model.Search.ToYear"
                                                            label-text="Enter the date you want to search to"
                                                            hint-html="For example, 12 October 2024"
                                                            error-key="ToDate"
                                                            id="ToDate"
                                                            label-html-class="font-weight-none"/>
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <!-- Status -->
                        <details class="search-filter-section" @(CanOpenPanelForField("Search.Status") ? "open" : null)>
                            <summary class="search-filter-section__summary">
                                <h2 class="search-filter-section__summary-heading">Status</h2>
                            </summary>
                            <div class="search-filter-section__content">
                                <div class="govuk-form-group govuk-!-margin-bottom-2">
                                    <fieldset class="govuk-fieldset">
                                        <rsp-gds-radio-group asp-for="Search.Status"
                                                             label-text="Select one option"
                                                             options="statusOptions"
                                                             conditional-field="false"
                                                             legend-class="govuk-label govuk-label--s font-weight-none"/>
                                    </fieldset>
                                </div>
                            </div>
                        </details>

                        <div class="search-filter-panel__actions">
                            <button type="submit" class="govuk-button search-filter-panel__action search-filter-panel__action--submit">Apply filters</button>
                        </div>
                    </div>
                </details>
            </div>
        </form>

        <!-- Active Filters Panel -->
        @if (Model.Search.Filters.Any())
        {
            <div class="search-filter-summary">
                <h3 class="search-filter-summary__heading">Active filters</h3>
                <ul class="search-filter-summary__remove-filters">
                    @foreach (var filter in Model.Search.Filters)
                    {
                        var filterKey = filter.Key;
                        var filterValues = filter.Value?.Split(",") ?? [];

                        foreach (var val in filterValues)
                        {
                            <li>
                                <a asp-route="admin:removefilter"
                                   asp-route-key="@filterKey"
                                   asp-route-value="@val.Trim()"
                                   asp-route-model="@System.Text.Json.JsonSerializer.Serialize(Model.Search)"
                                   class="search-filter-summary__remove-filter">
                                    <span class="search-filter-summary__remove-filter-text">
                                        <span class="govuk-visually-hidden">Remove filter</span>
                                        @if (filterKey.Contains("Last logged in", StringComparison.OrdinalIgnoreCase))
                                        {
                                            @($"{filterKey} {val}")
                                        }
                                        else
                                        {
                                            @($"{filterKey} - {val}")
                                        }
                                    </span>
                                </a>
                            </li>
                        }
                    }
                </ul>
                <div>
                    <a asp-route="admin:clearfilters" class="search-filter-summary__clear-filters govuk-link govuk-link--no-visited-state">
                        Clear all filters
                    </a>
                </div>
            </div>
        }
    </div>
</div>

<div class="govuk-grid-row">
    @if (Model.Users != null && Model.Users.Any())
    {
        <div class="govuk-grid-column-full">
            <div class="govuk-table-wrapper">
                <table class="govuk-table govuk-table-users" id="@tableId">
                    <thead>
                    <tr class="govuk-table__row govuk-table__header-sortable govuk-body-s">
                        @foreach (var header in sortableHeaders)
                        {
                            var sortableHeaderModel = new SortableHeaderModel
                            {
                                FieldName = header.Field,
                                DisplayText = header.Label,
                                CurrentSortField = Model.Pagination?.SortField,
                                CurrentSortDirection = Model.Pagination?.SortDirection,
                                TableId = tableId,
                                ComplexSearchQuery = Model.Search
                            };
                            
                            <th scope="col" class="govuk-table__header govuk-table__header-sortable @(header.Label.Contains("name") ? "govuk-table--name" : "") @(header.Label == "Email address" ? "line-break-anywhere" : "")">
                                <partial name="_SortableHeaderButton" model="@sortableHeaderModel" />
                            </th>
                        }
                        <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@user.GivenName</td>
                            <td class="govuk-table__cell">@user.FamilyName</td>
                            <td class="govuk-table__cell line-break-anywhere">@user.Email</td>
                            <td class="govuk-table__cell">
                                @if (!string.IsNullOrEmpty(user.Status))
                                {
                                    var statusClass = string.Equals(user.Status, IrasUserStatus.Active, StringComparison.InvariantCultureIgnoreCase)
                                        ? "govuk-tag--green"
                                        : "govuk-tag--red";
                                    <span class="govuk-tag @statusClass">@user.Status</span>
                                }
                            </td>
                            <td class="govuk-table__cell">
                                @if (user.CurrentLogin.HasValue)
                                {
                                    var dateString = user.CurrentLogin.Value.ToString("dd MMM yyyy");
                                    var timeString = user.CurrentLogin.Value.ToString("h:mm");
                                    var amPm = user.CurrentLogin.Value.ToString("tt").ToLower();

                                    var currentLoginDate = $"{dateString} at ";
                                    var currentLoginTime = $"{timeString}{amPm}";


                                    <p class="margin-zero">@currentLoginDate @currentLoginTime</p>
                                }
                            </td>
                            <td class="govuk-table__cell">
                                <a class="govuk-link"
                                   asp-route="admin:viewuser"
                                   asp-route-userId="@user.Id"
                                   asp-route-email="@user.Email">
                                    View/Edit
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <partial name="_Pagination" model="@Model.Pagination"/>
        </div>
    }
    else if ((Model.Search.Filters.Any() && !Model.Users.Any()) || !string.IsNullOrEmpty(Model.Search?.SearchQuery))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds search-filter-error-border">
                <h2 class="govuk-heading-l">There are no matching results</h2>
                <p class="govuk-body">Improve your search results by:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>removing filters</li>
                    <li>double-checking your spelling</li>
                    <li>using fewer keywords</li>
                    <li>searching for something less specific</li>
                </ul>
            </div>
        </div>
    }
</div>

<script src="~/js/manageUsers.js"></script>