@using Rsp.IrasPortal.Web.Areas.Admin.Models
@model (IEnumerable<UserViewModel> Users, int TotalCount, int PageNumber, int PageSize)

@{
    ViewBag.Active = "users";
}

<h2 class="govuk-heading-l">Manage Users</h2>

<partial name="_AdminMenu" />

<table class="govuk-table">
    <thead>
        <tr>
            <th class="govuk-table__header">Email</th>
            <th class="govuk-table__header">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">@user.Email</td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" asp-route="admin:edituser" asp-route-userId="@user.Id"
                        asp-route-email="@user.Email">Edit</a> |
                    <a class="govuk-link" asp-route="admin:manageroles" asp-route-userId="@user.Id"
                        asp-route-email="@user.Email">Manage Roles</a> |
                    <a class="govuk-link" asp-route="admin:deleteuser" asp-route-userId="@user.Id"
                        asp-route-email="@user.Email">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="">Total number of users: @(Model.TotalCount)</p>
<partial name="_Pagination" model="@(Model.PageNumber, Model.PageSize, Model.TotalCount, "admin:users")" />
<a class="govuk-button" asp-route="admin:createuser">Create New User</a>