@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Application.DTOs.Responses.CmsContent
@using Rsp.Portal.Web.Helpers
@model Rsp.Portal.Web.Models.ModificationReviewDocumentsViewModel

@{
	(string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
	navModel = ("pmc:projectdocument", "Back", new());

	// If we know the specific area of change, dynamically build the page title to make the UI clearer.
	// Otherwise, leave the title empty (will fallback to default in the view if needed).
	ViewBag.Title = (string?)ViewData[PageContentElements.MetaTitle];

    var pageContentData = (Dictionary<string, MixedContentPageItem?>?)ViewData[PageContentElements.PageContent];
    var pageContent = pageContentData != null
        ? pageContentData
        : new Dictionary<string, MixedContentPageItem?>();

    var title = pageContent.GetValueOrDefault("Modifications.Documents.ModificationDocumentsAdded.Title", null);
    var bodyHeading = pageContent.GetValueOrDefault("Modifications.Documents.ModificationDocumentsAdded.BodyTitle", null);
    var bodyContent = pageContent.GetValueOrDefault("Modifications.Documents.ModificationDocumentsAdded.BodyContent", null);
}

<div class="govuk-width-container">
	@section BackNavigation {
		<partial name="_BackNavigation" model="navModel.Value" />
	}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
                @Html.Raw(title?.Value)
			</h1>
			<partial name="_ProjectModificationSummary" />

			@if (Model.UploadedDocuments.Any())
			{
				<table class="govuk-table">
					<thead class="govuk-visually-hidden">
						<tr>
							<th>Document name</th>
							<th>Size</th>
							<th class="govuk-!-text-align-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var doc in Model.UploadedDocuments)
						{
							<tr class="govuk-table__row">
								<td class="govuk-table__cell" style="width: 60%;">
									@if (doc.IsMalwareScanSuccessful == true)
									{
										<a asp-route="pmc:downloaddocument"
										   asp-route-fileName="@doc.FileName"
										   asp-route-path="@doc.BlobUri" class="govuk-link">
											@doc.FileName
										</a>
									}
									else
									{
										@doc.FileName
									}
								</td>
								<td class="govuk-table__cell" style="width: 20%;">
									<span class="govuk-body">@doc.DisplaySize</span>
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right" style="width: 20%;">
									<a asp-route="pmc:confirmdeletedocument"
									   asp-route-id="@doc.DocumentId"
									   asp-route-backRoute="toaddpage"
									   class="govuk-link">
										Delete
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>

				<div class="govuk-!-text-align-right govuk-!-margin-top-1">
					<a asp-route="pmc:confirmdeletedocuments"
					   asp-route-backRoute="toaddpage"
					   class="govuk-link">
						Delete all
					</a>
				</div>
			}
			else
			{
				<p class="govuk-body">No documents uploaded.</p>
			}

			<form asp-action="ProjectDocument" method="get">
				<button class="govuk-button govuk-button--secondary" type="submit">Add another document</button>
			</form>

			<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

            <h2 class="govuk-heading-m">@Html.Raw(bodyHeading?.Value)</h2>
			<p class="govuk-body">
                @Html.Raw(bodyContent?.Value)
			</p>

			<div class="govuk-button-group">
				<form asp-action="AddDocumentDetailsList" method="get">
					<partial name="_SubmitButton" model="@("pmc:AddDocumentDetailsList", "Save and continue", new Dictionary<string, string>{})" />
				</form>
				<form asp-action="PostApproval" method="get">
					<input type="hidden" name="projectRecordId" value="@Model.ProjectRecordId" />
					@{
						ViewBag.Style = "govuk-button govuk-button--secondary";
					}
                    <a asp-route="pmc:saveforlater" asp-route-projectRecordId="@Model.ProjectRecordId" asp-route-routeName="pov:postapproval" class="govuk-button govuk-button--secondary">
                        Save for later
                    </a>
                </form>
			</div>
		</div>
	</div>
</div>