@using Rsp.Portal.Application.Constants
@using Rsp.Portal.Web.Helpers
@model Rsp.Portal.Web.Models.ModificationUploadDocumentsViewModel

@{
	var errorSummaryTitle = "There is a problem";

	// If we know the specific area of change, dynamically build the page title to make the UI clearer.
	// Otherwise, leave the title empty (will fallback to default in the view if needed).
	ViewBag.Title = "Add supporting documents";

	var modificationParams = new Dictionary<string, string>
	{
		{ "projectRecordId", Model.ProjectRecordId },
		{ "irasId", Model.IrasId },
		{ "shortTitle", Model.ShortTitle ?? string.Empty },
		{ "projectModificationId", Model.ModificationId ?? string.Empty },
		{ "projectModificationIdentifier", Model.ModificationIdentifier ?? string.Empty }
	};
}

<govuk-header />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
		@section BackNavigation {
			<partial name="_BackNavigation" model="@("pmc:modificationdetails", "Back", modificationParams)" />
        }

        <form asp-action="UploadDocuments" method="post" enctype="multipart/form-data">
			<h1 class="govuk-heading-l">
				@ViewBag.Title
			</h1>
            <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
            <partial name="_ProjectModificationSummary" />

            <p class="govuk-body">
                Upload your documents here. You’ll add document details in the next step. <br />
				Larger files will take longer to upload.
				<br />
				<br />
				Documents must be less than 100MB and one of these file types: mp4, mov, avi, mkv, wmv, mpeg, mpg, webm,
				png, gif, bmp, svg, jpg, jpeg,
				doc, docx, dot, dotx, pdf, rtf, odt, ofd, xps,
				xls, xlsx, csv,
				ppt, pptx,
				txt, xml, html, htm,
				vcf, eml, msg
            </p>

			<input type="hidden" asp-for="@Model.ProjectRecordId" />
			<input type="hidden" asp-for="@Model.ShortTitle" />
			<input type="hidden" asp-for="@Model.IrasId" />
			<input type="hidden" asp-for="@Model.ModificationId" />
			<input type="hidden" asp-for="@Model.ModificationIdentifier" />
			@{
				var hasFileErrors = ViewData.ModelState.TryGetValue(nameof(Model.Files), out var entry)
				&& entry.Errors.Any();
			}

			<div class="govuk-form-group @(hasFileErrors ? "govuk-form-group--error" : "")">
				<label class="govuk-label" for="Files">Upload documents</label>

				@if (hasFileErrors)
				{
					<ul class="govuk-error-list">
						@foreach (var error in entry!.Errors)
						{
							<li class="govuk-error-message">@error.ErrorMessage</li>
						}
					</ul>
				}

				<div class="govuk-drop-zone" data-module="govuk-file-upload">
					<input asp-for="Files"
						   class="govuk-file-upload"
						   id="Files"
						   name="Files"
						   type="file"
						   aria-label="Upload documents"
						   multiple />
				</div>
			</div>

			@if (Model.UploadedDocuments.Any())
			{
				<table class="govuk-table">
					<thead class="govuk-visually-hidden">
						<tr>
							<th>Document name</th>
							<th>Size</th>
							<th>Status</th>
							<th class="govuk-!-text-align-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var doc in Model.UploadedDocuments)
						{
							<tr class="govuk-table__row">
                                <td class="govuk-table__cell break-anywhere" style="width: 60%;">
									@if (doc.IsMalwareScanSuccessful == true)
									{
										<a asp-route="pmc:downloaddocument"
										   asp-route-fileName="@doc.FileName"
										   asp-route-path="@doc.BlobUri" class="govuk-link">
											@doc.FileName
										</a>
									}
									else
									{
										@doc.FileName
									}
								</td>
								<td class="govuk-table__cell" style="width: 20%;">
									<span class="govuk-body">@doc.DisplaySize</span>
								</td>
								<td class="govuk-table__cell" style="width: 20%;">
									<strong class="govuk-tag @(doc.Status?.Equals(DocumentStatus.Failed, StringComparison.OrdinalIgnoreCase) == true ? "govuk-tag--red" : "govuk-tag--green")">
										@doc.Status
									</strong>
								</td>
								<td class="govuk-table__cell govuk-!-text-align-right" style="width: 20%;">
									<a asp-route="pmc:confirmdeletedocument"
									   asp-route-id="@doc.DocumentId"
									   asp-route-backRoute="toaddpage"
									   class="govuk-link">
										Delete
									</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}

            <div class="govuk-button-group govuk-!-margin-top-4">
                <button class="govuk-button" data-module="govuk-button" name="action" value="continue">Save and continue</button>
                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }
                <a asp-route="pmc:saveforlater" asp-route-projectRecordId="@Model.ProjectRecordId" asp-route-routeName="pov:postapproval" class="govuk-button govuk-button--secondary">
                    Save for later
                </a>
            </div>
        </form>
    </div>
</div>