@using Rsp.IrasPortal.Web.Helpers
@model Rsp.IrasPortal.Web.Models.ModificationUploadDocumentsViewModel

@{
	var errorSummaryTitle = "There is a problem";

	// If we know the specific area of change, dynamically build the page title to make the UI clearer.
	// Otherwise, leave the title empty (will fallback to default in the view if needed).
	ViewBag.Title = !string.IsNullOrEmpty(Model.SpecificAreaOfChange)
	? $"Add documents for {TextHelper.ToSentenceCaseWithAcronyms(Model.SpecificAreaOfChange)}"
	: string.Empty;

    (string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
    navModel = ("pmc:areaofchange", "Back", new());
}

<govuk-header />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @section BackNavigation {
            <partial name="_BackNavigation" model="navModel.Value" />
        }

        <form asp-action="UploadDocuments" method="post" enctype="multipart/form-data">
			<h1 class="govuk-heading-l">
				@ViewBag.Title
			</h1>
            <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
            <partial name="_ProjectModificationSummary" />

            <p class="govuk-body">
                Upload your documents here. You’ll add document details in the next step. <br />
				<br />
				Documents must be less than 100MB and one of these file types: mp4, mov, avi, mkv, wmv, mpeg, mpg, webm,
				png, gif, bmp, svg, jpg, jpeg,
				doc, docx, dot, dotx, pdf, rtf, odt, ofd, xps,
				xls, xlsx, csv,
				ppt, pptx,
				txt, xml, html, htm,
				vcf, eml, msg
            </p>

			<input type="hidden" asp-for="@Model.ProjectRecordId" />
			<div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey(nameof(Model.Files)) ? "govuk-form-group--error" : "")">
				<label class="govuk-label" for="Files">Upload documents</label>
				@if (ViewData.ModelState.TryGetValue(nameof(Model.Files), out var entry) && entry.Errors.Any())
				{
					<ul class="govuk-error-list">
						@foreach (var error in entry.Errors)
						{
							<li class="govuk-error-message">@error.ErrorMessage</li>
						}
					</ul>
				}

				<div class="govuk-drop-zone" data-module="govuk-file-upload">
					<input asp-for="Files"
						   class="govuk-file-upload"
						   id="Files"
						   name="Files"
						   type="file"
						   multiple />
				</div>
			</div>

            <div class="govuk-button-group govuk-!-margin-top-4">
                <button class="govuk-button" data-module="govuk-button" name="action" value="continue">Save and continue</button>
                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }
                <partial name="_SubmitButton" model="@("pov:postapproval", "Save for later", new Dictionary<string, string> { ["projectRecordId"] = Model.ProjectRecordId })" />
            </div>
        </form>
    </div>
</div>