@using Rsp.Portal.Application.DTOs.Requests
@using Rsp.Portal.Web.Features.Modifications.Models
@using Rsp.Portal.Web.Extensions
@model (QuestionnaireViewModel Questionnaire, QuestionViewModel CurrentQuestion)

@{
    var question = Model.CurrentQuestion;

    var conditional = !(question.IsMandatory || question.IsOptional) && question.Rules.Count > 0;
    var parents = conditional ? string.Join(',', question.Rules.Select(rule => rule.ParentQuestionId)) : "";
    var questionId = conditional ? question.QuestionId : "";

    var questionnaire = Model.Questionnaire;
    var currentQuestion = Model.CurrentQuestion;

    // find project record 's original question
    var projectRecordQuestion = currentQuestion.ShowOriginalAnswer ? questionnaire.Questions.Find(q => q.QuestionId == currentQuestion.QuestionId) : null;

    if (projectRecordQuestion == null)
    {
        return;
    }

    // get the question id of the project record question
    string? projectRecordQuestionId = null;
    if (!string.IsNullOrWhiteSpace(currentQuestion.PlaybackQuestionId))
    {
        projectRecordQuestionId = currentQuestion.PlaybackQuestionId;
    }
    else
    {
        projectRecordQuestionId = projectRecordQuestion.QuestionId;
    }

    var projectRecordAnswer = string.Empty;

    // get the answer from the project record answers dictionary
    if (projectRecordQuestionId != null && questionnaire.ProjectRecordAnswers.ContainsKey(projectRecordQuestionId))
    {
        // get the answer
        var answer = questionnaire.ProjectRecordAnswers[projectRecordQuestionId];

        // format the answer based on the question data type
        projectRecordAnswer = answer.GetDisplayText(projectRecordQuestion.DataType);        

        <div class="govuk-!-margin-bottom-3 flex-gap-2 @(conditional ? "conditional" : "")" data-parents="@parents" data-questionid="@questionId">
            <span class="govuk-label">
                Current @(projectRecordQuestion!.QuestionText?
                        .GetLabelText()
                        .Replace("new ", "") ?? "value")
            </span>
            <span class="govuk-body govuk-!-font-weight-bold">@Html.Raw(projectRecordAnswer)</span>
        </div>

    }

}