@using Microsoft.AspNetCore.Mvc.ModelBinding
@model (ApplicationInfoViewModel Info, string mode)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" id="title">Enter application details</h2>
    </div>
</div>
<form method="post">

    @{
        var validationMessage = string.Empty;
    }

    <partial name="_ValidationSummary" model="@(ViewData.ModelState, "Please address the following issues:")" />

    @{
        validationMessage = "Provide an application name";
    }

    <div id="Name" class="govuk-form-group" error-class-for="Info.Name">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="projectName">
                Enter an application name
            </label>
        </h1>

        @Html.ValidationMessageFor(m => m.Info.Name, validationMessage, new { @class = "govuk-error-message" })

        <input class="govuk-input govuk-input--width-30"
               id="app-name"
               name="name"
               type="text"
               value="@Model.Info.Name"
               error-class-for="Info.Name" />
    </div>

    @{
        validationMessage = "Provide an application description";
    }

    <div id="Description" class="govuk-form-group" error-class-for="Info.Description">

        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--s" for="projectDescription">
                Enter application description
            </label>
        </h1>

        @Html.ValidationMessageFor(m => m.Info.Description, validationMessage, new { @class = "govuk-error-message" })

        <input class="govuk-input govuk-input--width-30"
               id="app-description"
               name="description"
               type="text"
               value="@Model.Info.Description"
               error-class-for="Info.Description" />
    </div>

    @{
        (string Route, string Action) = Model.mode switch
        {
            "create" => ("app:createapplication", "Create"),
            "edit" => ("app:saveapplication", "Save"),
            _ => ("app:createapplication", "Create")
        };
    }

    <partial name="_SubmitButton" model="@(Route, Action, new Dictionary<string, string>())" />
</form>