@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Domain.Entities
@model List<Document>?

@{
    var projectOverview = TempData[TempDataKeys.ProjectOverview] as bool? ?? false;

    var hasError = ViewData.ModelState.ContainsKey("formFiles") &&
                   ViewData.ModelState["formFiles"]?.Errors.Count > 0;
}


@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("app:projectoverview", "Back", new Dictionary<string, string>())" />
}



<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form method="post" enctype="multipart/form-data" asp-action="Upload">

                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload">
                        <h2 class="govuk-heading-l">Upload a file</h2>
                    </label>
                    @if (hasError)
                    {
                        <p id="file-upload-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            @ViewData.ModelState["formFiles"]?.Errors[0].ErrorMessage
                        </p>
                    }
                    <div class="govuk-drop-zone"
                    data-module="govuk-file-upload">
                        <input class="govuk-file-upload" id="file-upload" name="formFiles" type="file" multiple>
                    </div>
                </div>

                @{
                    ViewBag.Style = "govuk-button govuk-button--secondary";
                }

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Name</th>
                            <th scope="col" class="govuk-table__header">Size (Bytes)</th>
                            <th scope="col" class="govuk-table__header">Type</th>
                            <th scope="col" class="govuk-table__header">Url</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @if (Model != null)
                        {
                            @foreach (var file in Model)
                            {
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__header">@file.Name</th>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">@file.Size</td>
                                    <td class="govuk-table__cell">@file.Type</td>
                                    <td class="govuk-table__cell">@file.Url</td>
                                </tr>
                            }
                        } else
                        {
                            <tr class="govuk-table__row">
                                <th scope="row" colspan="4" class="govuk-table__header">No uploaded files</th>
                            </tr>
                        }
                    </tbody>
                </table>

                <button type="submit" class="govuk-button govuk-button--secondary">Upload</button>
            </form>

            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";
            }
            <partial name="_SubmitButton" model="@("app:upload", "Save and continue", new Dictionary<string, string> { { "saveAndContinue", bool.TrueString } })" />
            <a class="govuk-button" asp-route="app:ProjectOverview">Save for later</a>
        </div>
    </div>
</main>