@model List<ResearchApplicationSummaryModel>

@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using Rsp.IrasPortal.Application.DTOs.Responses;
@using System.Linq

@inject IFeatureManager featureManager

@* @section is added for the back button, so that we can render something below the back button
    and before the RenderBody() in the _Layout.cshtml. As RenderBody() renders anything that is not within
    the named section *@
@section BackNavigation {
    <partial name="_BackNavigation" model="@("acc:home", "Back", new Dictionary<string, string>())" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <authorized auth-params="@new(Roles:"user,system_administrator,reviewer")">            

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-l" id="title">My research</h2>
              </div>
              <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                <a class="govuk-button govuk-button--secondary" asp-route="app:createapplication">Create new project</a>
              </div>
            </div>


            <!--Show projects only when my research page feature is enabled-->            
            @if (await featureManager.IsEnabledAsync(Features.MyResearchPage))
            {
                @if (Model != null && Model.Any())
			    {
				    <div class="govuk-grid-row govuk-grid-gap">
					    <div class="govuk-grid-column-full">
						    @foreach (var item in Model)
						    {
							    <div class="govuk-grid-row">
								    <div class="govuk-grid-column-two-thirds">
									    <div class="govuk-panel govuk-panel--bordered research-panel">
										    <h2 class="govuk-heading-s">
											    <a asp-route="app:projectoverview" asp-route-ApplicationId="@item.ApplicatonId" asp-route-CategoryId="project record v1" class="govuk-link">@item.Title</a>
										    </h2>
										    <div class="govuk-body">
											    <p class="govuk-body research-text"><strong>IRAS ID:</strong> @(item.IrasId == null ? "Null" : item.IrasId)</p>
											    <p class="govuk-body research-text"><strong>Primary Sponsor Organisation:</strong> @(item.PrimarySponsorOrganisation == null ? "Null" : item.PrimarySponsorOrganisation)</p>
											    <p class="govuk-body research-text"><strong>Planned project end date:</strong> @item.ProjectEndDate.ToString("dd MMMM yyyy")</p>
										    </div>
										    @if (item.IsNew)
										    {
											    <strong class="govuk-tag govuk-tag--blue">NEW</strong>
										    }
									    </div>
								    </div>
							    </div>
						    }
					    </div>
				    </div>

			    }
			    else
			    {
				    <p class="govuk-body">
					    You don't have any projects available in the new service
				    </p>
			    }
            }
            else
            {
                <p class="govuk-body">
                    You don't have any projects available in the new service
                </p>
            }						
		</authorized>
	</div>
</div>
