@model List<ResearchApplicationSummaryModel>

@using Rsp.IrasPortal.Application.DTOs.Responses;
@using System.Linq

<partial name="_BackNavigation" model="@("acc:home", "Back", new Dictionary<string, string>())" />

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<authorized auth-params="@new(Roles:"user,admin,reviewer")">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h2 class="govuk-heading-l" id="title">My research</h2>
				</div>
			</div>

			@if (Model != null && Model.Any())
			{
				<div class="govuk-grid-row govuk-grid-gap">
					<div class="govuk-grid-column-full">
						@foreach (var item in Model)
						{
							<div class="govuk-grid-row">
								<div class="govuk-grid-column-two-thirds">
									<div class="govuk-panel govuk-panel--bordered research-panel">
										<h2 class="govuk-heading-s">
											<a href="#" class="govuk-link">Placeholder -> @item.Title</a>
										</h2>
										<div class="govuk-body">
											<p class="govuk-body research-text"><strong>IRAS ID:</strong> @(item.IrasId == null ? "Null" : item.IrasId)</p>
											<p class="govuk-body research-text"><strong>Project end date:</strong> Placeholder -> @item.ProjectEndDate.ToString()</p>
										</div>
										@if (item.IsNew)
										{
											<strong class="govuk-tag govuk-tag--blue">NEW</strong>
										}
									</div>
								</div>
							</div>
						}
					</div>
				</div>

			}
			else
			{
				<p class="govuk-body">
					You don't have any projects available in the new service
				</p>
			}

			<a class="govuk-button govuk-button--secondary" asp-route="app:createapplication">Create project record</a>

		</authorized>
	</div>
</div>
