@model ApplicationsViewModel


@{
    var applications = Model?.Applications.OrderByDescending(m => m.CreatedDate);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" id="title">My Research Applications</h2>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible">

<p class="govuk-body">
    Create New Application or resume your application using the links under your application, or click "Proceed to Submit"
    to submit your application.
</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" style="text-align:right">
        <a class="govuk-button" asp-route="app:startnewapplication">Make changes to research</a>

        <a class="govuk-button" asp-route="app:startnewapplication">Create new application</a>
    </div>
    @* <div class="govuk-grid-column-full" style="text-align:right">
        <a class="govuk-button" asp-route="app:startnewapplication">Create New Application</a>
    </div> *@
</div>

@if (applications is null)
{
    <partial name="_NoData"/>

    return;
}

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header">Application Id</th>
        <th class="govuk-table__header">Title</th>
        <th class="govuk-table__header">Description</th>
        <th class="govuk-table__header">Status</th>
        <th class="govuk-table__header">Created By</th>
        <th class="govuk-table__header">Actions</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">

    @foreach (var app in applications)
    {
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@app.ApplicationId</td>
            <td class="govuk-table__cell">@app.Title</td>
            <td class="govuk-table__cell">@app.Description</td>
            <td class="govuk-table__cell">@app.Status</td>
            <td class="govuk-table__cell">@app.CreatedBy</td>
            <td class="govuk-table__cell">
                <a asp-route="app:editapplication" asp-route-applicationId="@app.ApplicationId" class="govuk-link">Edit</a>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <td colspan="5" class="govuk-table__cell">
                @if (Model is not null && Model.Categories.Any())
                {
                    var count = 0;

                    <p>
                        @foreach (var category in Model.Categories)
                        {
                            <a class="govuk-link" asp-route="qnc:resume"
                               asp-all-route-data="@(new Dictionary<string, string> { { "categoryId", category.CategoryId }, { "applicationId", app.ApplicationId } })">
                                @category.CategoryName
                            </a>
                            count++;

                            if (count % 5 == 0)
                            {
                                @:</p><p> @* Move to a new line after every 5 categories *@
                            }
                            else
                            {
                                <text> | </text> @* Add separator only if it's not the last item in a row *@
                            }
                        }
                    </p> @* Close the last paragraph correctly *@
                }
            </td>


            <td class="govuk-table__cell">
                <a class="govuk-button" asp-route="qnc:submitapplication" asp-route-applicationId="@app.ApplicationId">
                    Proceed to Submit
                </a>
            </td>
        </tr>
    }

    </tbody>
</table>