@model Rsp.IrasPortal.Web.Models.ModificationAddDocumentDetailsViewModel

@{
	ViewData["Title"] = "Add document details";
}

@await Html.PartialAsync("_ValidationSummary")

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<a class="govuk-back-link" href="@Url.Action("Index")">Back</a>

		<h1 class="govuk-heading-l">
			Add document details for<br />
			<span class="govuk-!-font-weight-bold">@Model.FileName</span>
		</h1>

		<p>
			<a href="#">@Model.FileName</a> &nbsp; <span class="govuk-body govuk-!-font-weight-bold">@Model.FileSize</span> &nbsp;
			<a class="govuk-link" href="@Url.Action("DeleteDocument", new { id = Model.DocumentId })">Delete</a>
		</p>

		<form method="post" asp-action="SaveDocumentDetails">
			<div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey(nameof(Model.DocumentTypeId)) ? "govuk-form-group--error" : "")">
				<label class="govuk-label" for="DocumentTypeId">Document type</label>
				<select asp-for="DocumentTypeId"
						asp-items="Model.DocumentTypeOptions"
						class="govuk-select"
						id="DocumentTypeId"></select>
				@Html.ValidationMessageFor(m => m.DocumentTypeId, "", new { @class = "govuk-error-message" })
			</div>

			<div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey(nameof(Model.SponsorDocumentVersion)) ? "govuk-form-group--error" : "")">
				<label class="govuk-label" for="SponsorDocumentVersion">Sponsor document version</label>
				<div id="SponsorDocumentVersion-hint" class="govuk-hint">
					For example, 1.5
				</div>
				<input asp-for="SponsorDocumentVersion" class="govuk-input" />
				@Html.ValidationMessageFor(m => m.SponsorDocumentVersion, "", new { @class = "govuk-error-message" })
			</div>

			<fieldset class="govuk-fieldset">
				<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Sponsor document date</legend>
				<div class="govuk-hint">
					For example, 19 September 2025
				</div>

				<div class="govuk-date-input" id="SponsorDocumentDate">
					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="SponsorDocumentDateDay">Day</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-2"
								   asp-for="SponsorDocumentDateDay"
								   id="SponsorDocumentDateDay"
								   name="SponsorDocumentDateDay"
								   type="text" inputmode="numeric" />
						</div>
					</div>

					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="SponsorDocumentDateMonth">Month</label>
							<select class="govuk-select govuk-input--width-5"
									asp-for="SponsorDocumentDateMonth"
									asp-items="Model.MonthOptions"
									id="SponsorDocumentDateMonth">
								<option value="">Select month</option>
							</select>
						</div>
					</div>

					<div class="govuk-date-input__item">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-date-input__label" for="SponsorDocumentDateYear">Year</label>
							<input class="govuk-input govuk-date-input__input govuk-input--width-4"
								   asp-for="SponsorDocumentDateYear"
								   id="SponsorDocumentDateYear"
								   name="SponsorDocumentDateYear"
								   type="text" inputmode="numeric" />
						</div>
					</div>
				</div>
			</fieldset>

			<div class="govuk-form-group">
				<fieldset class="govuk-fieldset" aria-describedby="ApprovedBefore-hint">
					<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
						Has a previous version of this document been approved?
					</legend>
					<div class="govuk-radios govuk-radios--inline">
						<div class="govuk-radios__item">
							<input asp-for="HasPreviousVersionApproved" class="govuk-radios__input" type="radio" value="true" id="HasPreviousVersionApproved-Yes" />
							<label class="govuk-label govuk-radios__label" for="HasPreviousVersionApproved-Yes">Yes</label>
						</div>
						<div class="govuk-radios__item">
							<input asp-for="HasPreviousVersionApproved" class="govuk-radios__input" type="radio" value="false" id="HasPreviousVersionApproved-No" />
							<label class="govuk-label govuk-radios__label" for="HasPreviousVersionApproved-No">No</label>
						</div>
					</div>
				</fieldset>
			</div>

			<button type="submit" class="govuk-button">Save and continue</button>
			<button type="submit" name="saveForLater" value="true" class="govuk-button govuk-button--secondary">Save for later</button>
		</form>
	</div>
</div>
