@model Rsp.IrasPortal.Web.Models.ModificationReviewDocumentsViewModel

@{
	ViewData["Title"] = "Review uploaded documents";
	(string routeName, string linkText, Dictionary<string, string> routeValues)? navModel = null;
	navModel = ("pmc:areaofchange", "Back", new());
}

<div class="govuk-width-container">

	@section BackNavigation {
		<partial name="_BackNavigation" model="navModel.Value" />
	}

	<partial name="_ProjectModificationSummary" model="Model" />


	@if (Model.UploadedDocuments.Any())
	{
		<ul class="govuk-list govuk-list--spaced">
			@foreach (var doc in Model.UploadedDocuments)
			{
				<li>
					<a href="#" class="govuk-link">@doc.FileName</a> @doc.FileSize
					<a asp-action="Delete" asp-route-id="#" class="govuk-link govuk-link--destructive">Delete</a>
				</li>
			}
		</ul>
		<p>
			<a asp-action="DeleteAll" asp-route-modificationId="#" class="govuk-link govuk-link--destructive">Delete all</a>
		</p>
	}
	else
	{
		<p class="govuk-body">No documents uploaded.</p>
	}

	<button formaction="@Url.Action("AddAnotherDocument")" class="govuk-button govuk-button--secondary">Add another document</button>
	@* <form asp-action="AddAnotherDocument" method="get">
		<button class="govuk-button govuk-button--secondary" type="submit">Add another document</button>
	</form> *@

	<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

	<h2 class="govuk-heading-m">Now add your document details</h2>
	<p class="govuk-body">
		Some of the documents you've added need additional details which you'll add in the next step.
	</p>
	<form method="post">
		<button formaction="@Url.Action("ContinueToDetails")" class="govuk-button">Save and continue</button>
		<@{
			ViewBag.Style = "govuk-button govuk-button--secondary";
		}
		<partial name="_SubmitButton" model="@("app:projectoverview", "Save for later", new Dictionary<string, string> { })" />

	</form>
</div>
