@using System.Text.Json
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.FeatureManagement
@using Rsp.IrasPortal.Application.Constants
@using System.Globalization
@model ModificationDetailsPageViewModel

@{
    // Title used in the validation error summary
    var errorSummaryTitle = "There is a problem";
    int changeIndex = 1;

    ViewData["Title"] = "Modification details";
    ViewData["ReviewChanges"] = true;   
    ViewData["Status"] = Model.Status;
}


@section BackNavigation {
    <form method="get">
        <partial name="_BackNavigation" model="@("pmc:modificationchangesreview", "Back", new Dictionary<string, string>())" />
    </form>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />
        <h1 class="govuk-heading-l">Modification details</h1>
        <partial name="_ProjectModificationSummary" model="Model" viewData="ViewData" />
        <h2 class="govuk-heading-m">Overall modification ranking</h2>
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Ranking
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Modification type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ModificationType
                        </dd>                        
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Category
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Category
                        </dd>                       
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Review type
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ReviewType
                        </dd>                        
                    </div>
                </dl>
            </div>
        </div>        
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">        
          
        <h2 class="govuk-heading-m">Changes</h2>

        @foreach (var change in Model.ModificationChanges)
        {
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper prevent-action-stretch">
                    <h2 class="govuk-summary-card__title">
                        Change @changeIndex - @change.AreaOfChangeName<br />
                        <strong class="govuk-!-margin-top-2 text-nowrap govuk-tag @(change.ChangeStatus == "Unfinished" ? "govuk-tag--red" : "govuk-tag--green") non-max-width-govuk-tag">
                            @change.ChangeStatus
                        </strong>
                    </h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" asp-route="pmc:modificationchangesreview" asp-route-modificationChangeId="@change.ModificationChangeId">Change</a>
                        </li>
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link"
                               asp-route="pmc:confirmremovechange"
                               asp-route-modificationChangeId="@change.ModificationChangeId"
                               asp-route-modificationChangeName="@change.SpecificChangeName">
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                @change.SpecificChangeName
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @change.SpecificChangeAnswer
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Modification type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @change.ModificationType
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Category
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @change.Category
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Review type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @change.ReviewType
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            changeIndex++;
        }
        <button type="submit" name="action" asp-route="pmc:addanotherchange" class="govuk-button govuk-button--secondary">
            Add another change to this modification
        </button>        
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Add summary and review modification before sending to sponsor</h2>
        <p class="govuk-body">
            You'll have the option to add a brief summary and edit your modification before sending it to the sponsor on the next page.
        </p>
        <form method="get">
            <div class="save-buttons">
            <input type="hidden" name="projectRecordId" value="@Model.ProjectRecordId" />
            @if (@Model.ChangesReadyForSubmission)
            {
                <partial name="_SubmitButton" model="@("pmc:sponsorreference", "Save and continue" , new Dictionary<string, string>())" />
            }
            else
            {
                <partial name="_SubmitButton" model="@("pmc:unfinishedchanges", "Save and continue" , new Dictionary<string, string>())" />
            }
            @{
                ViewBag.Style = "govuk-button govuk-button--secondary";           
            }           
                <partial name="_SubmitButton" model="@("pov:postapproval", "Save for later", new Dictionary<string, string> { ["projectRecordId"] = Model.ProjectRecordId })" />
            
            </div>       
        </form>       
    </div>
</div>