@model Rsp.IrasPortal.Web.Models.PlannedEndDateOrganisationTypeViewModel

@{
	ViewData["Title"] = "Which organisation types does this change affect?";
	var pageTitle = TempData["SpecificAreaOfChangeText"] as string ?? "the selected change";
	var errorSummaryTitle = "There is a problem";

	var navModel = ("pmc:plannedenddate", "Back", new Dictionary<string, string>());
}

<div class="govuk-width-container">
	@section BackNavigation {
		<partial name="_BackNavigation" model="navModel" />
	}

	<partial name="_ValidationSummary" model="(ViewData.ModelState, errorSummaryTitle)" />

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<form asp-action="SubmitOrganisationTypes" method="post">

				<partial name="_ProjectModificationSummary" model="Model" />

				<div class="govuk-form-group @(ViewData.ModelState["SelectedOrganisationTypes"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
				<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
							<h2 class="govuk-fieldset__heading">
								Which organisation types does this change affect?
							</h2>
						</legend>

						<span class="govuk-hint">Select all that apply</span>

						@if (ViewData.ModelState["SelectedOrganisationTypes"]?.Errors.Count > 0)
						{
							<span class="govuk-error-message">
								@ViewData.ModelState["SelectedOrganisationTypes"].Errors[0].ErrorMessage
							</span>
						}

						<div class="govuk-checkboxes govuk-checkboxes--small">
							@foreach (var option in PlannedEndDateOrganisationTypeViewModel.OrganisationTypes)
							{
								<div class="govuk-checkboxes__item">
									<input class="govuk-checkboxes__input"
										   type="checkbox"
										   name="SelectedOrganisationTypes"
										   id="@option.Key"
										   value="@option.Key"
									@(Model.SelectedOrganisationTypes.Contains(option.Key) ? "checked" : "") />
									<label class="govuk-label govuk-checkboxes__label" for="@option.Key">
										@option.Value
									</label>
								</div>
							}
						</div>
					</fieldset>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

				@{
					ViewBag.Style = "govuk-button govuk-button--secondary";
				}

				<partial name="_SubmitButton" model="@("app:projectoverview", "Save for later", new Dictionary<string, string> { })" />

				<p><a href="#" class="govuk-link">Remove this change</a></p>
			</form>
		</div>
	</div>
</div>
