@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model QuestionnaireViewModel

@{
    var index = (int)ViewBag.Index;
    var question = Model.Questions[index];
    var errorKey = $"Questions[{index}].Answers";
    var validationMessage = "Select at least one option";
    var fieldHasErrors = ViewData.ModelState[errorKey]?.ValidationState == ModelValidationState.Invalid;

    var rules = question.Rules;
    var conditional = !question.IsMandatory && rules.Count > 0;
    var parents = conditional ? string.Join(',', rules.Select(rule => rule.ParentQuestionId)) : "";
    var questionId = conditional ? question.QuestionId : "";
    var hintHtml = rules.Count > 0
        ? new HtmlString("<div class='govuk-hint'>" +
                         string.Join("", rules.Select(r => $"<p>{r.Description}</p>")) +
                         "</div>")
        : HtmlString.Empty;
}

<rsp-gds-checkbox-group asp-for="Questions[@index].Answers"
                        label-text="@question.QuestionText"
                        item-label-property="AnswerText"
                        item-value-property="IsSelected"
                        item-hidden-properties="AnswerId,AnswerText"
                        conditional-field="@conditional"
                        conditional-class="conditional govuk-checkboxes__conditional"
                        dataparents-attr="@parents"
                        dataquestionid-attr="@questionId"
                        validation-message="@validationMessage"
                        hint-html="@hintHtml"
                        legend-class="govuk-fieldset__legend--s"
                        id="Questions[@index]_Answers"/>